# Basic processing for brazil data sets

# Setup

## Imports

In [2]:
import pandas as pd
import numpy as np

## Parameters

In [3]:
BRAZIL1_DATASET = "../../../data/RQ2/raw/brazil1.csv"
BRAZIL2_DATASET = "../../../data/RQ2/raw/brazil2.csv"
BRAZIL3_DATASET = "../../../data/RQ2/raw/brazil3.csv"
BRAZIL4_DATASET = "../../../data/RQ2/raw/brazil4.csv"
BRAZIL5_DATASET = "../../../data/RQ2/raw/brazil5.csv"

PROCESSED_JUST_BRAZIL_DATASET = "../../../data/RQ2/processed/just_BRAZIL_df.csv"
PROCESSED_BRAZIL_DATASET = "../../../data/RQ2/processed/BRAZIL_df.csv"

# Loading the Datasets

In [5]:
df1 = pd.read_csv(BRAZIL1_DATASET)
df2 = pd.read_csv(BRAZIL2_DATASET)
df3 = pd.read_csv(BRAZIL3_DATASET)
df4 = pd.read_csv(BRAZIL4_DATASET)
df5 = pd.read_csv(BRAZIL5_DATASET)

In [6]:
brazil_raw_df = df1.append([df2, df3, df4, df5])
brazil_raw_df.shape

(2268000, 10)

In [7]:
brazil_raw_df.head()

,measure,location,sex,age,cause,metric,year,val,upper,lower
0,Deaths,Brazil,Male,1 to 4,Diabetes mellitus,Number,1990,32.811118,48.483189,18.170433
1,Deaths,Brazil,Female,1 to 4,Diabetes mellitus,Number,1990,45.996028,67.987637,26.205393
2,Deaths,Brazil,Male,1 to 4,Diabetes mellitus,Percent,1990,0.001783,0.002275,0.001000
3,Deaths,Brazil,Female,1 to 4,Diabetes mellitus,Percent,1990,0.002547,0.003411,0.001533
4,Deaths,Brazil,Male,1 to 4,Diabetes mellitus,Rate,1990,0.475332,0.702372,0.263234

In [8]:
brazil_raw_df.cause.unique()

array(['Diabetes mellitus',
       'Chronic kidney disease due to diabetes mellitus type 1',
       'Chronic kidney disease due to diabetes mellitus type 2',
       'Interpersonal violence'], dtype=object)

In [9]:
brazil_raw_df = brazil_raw_df[~brazil_raw_df['cause'].str.contains('kidney')]
brazil_raw_df.shape

(1149120, 10)

In [10]:
brazil_raw_df['cause'].unique()

array(['Diabetes mellitus', 'Interpersonal violence'], dtype=object)

In [11]:
brazil_raw_df['location'].nunique()

28

In [12]:
brazil_raw_df['location'].unique()

array(['Brazil', 'Amazonas', 'Amapá', 'Alagoas', 'Distrito Federal',
       'Paraíba', 'Bahia', 'Maranhão', 'Paraná', 'Pernambuco', 'Acre',
       'Piaui', 'Mato Grosso', 'Rio Grande do Norte', 'Espírito Santo',
       'Rio de Janeiro', 'Rondônia', 'Minas Gerais', 'Rio Grande do Sul',
       'Roraima', 'Pará', 'Sergipe', 'São Paulo', 'Tocantins', 'Ceará',
       'Goiás', 'Mato Grosso do Sul', 'Santa Catarina'], dtype=object)

In [13]:
brazil_raw_df.duplicated().sum()

0

In [14]:
brazil_raw_df['measure'].unique()

array(['Deaths', 'YLLs (Years of Life Lost)',
       'DALYs (Disability-Adjusted Life Years)', 'Incidence',
       'Prevalence', 'YLDs (Years Lived with Disability)'], dtype=object)

In [15]:
just_brazil_df = brazil_raw_df[brazil_raw_df['location'].str.contains('Brazil')]
brazil_all_df = brazil_raw_df[~brazil_raw_df['location'].str.contains('Brazil')]
just_brazil_df.head()

,measure,location,sex,age,cause,metric,year,val,upper,lower
0,Deaths,Brazil,Male,1 to 4,Diabetes mellitus,Number,1990,32.811118,48.483189,18.170433
1,Deaths,Brazil,Female,1 to 4,Diabetes mellitus,Number,1990,45.996028,67.987637,26.205393
2,Deaths,Brazil,Male,1 to 4,Diabetes mellitus,Percent,1990,0.001783,0.002275,0.001000
3,Deaths,Brazil,Female,1 to 4,Diabetes mellitus,Percent,1990,0.002547,0.003411,0.001533
4,Deaths,Brazil,Male,1 to 4,Diabetes mellitus,Rate,1990,0.475332,0.702372,0.263234

In [16]:
just_brazil_df['location'].nunique()

1

In [17]:
brazil_all_df.shape

(1108080, 10)

In [18]:
brazil_df = brazil_all_df.drop(['upper', 'lower'], axis=1)
brazil_df.shape

(1108080, 8)

# Saving the Datasets

In [19]:
just_brazil_df.to_csv(PROCESSED_JUST_BRAZIL_DATASET, index=False)
brazil_df.to_csv(PROCESSED_BRAZIL_DATASET, index=False)