# Basic processing for indonesia data sets

# Setup

## Imports

In [2]:
import pandas as pd
import numpy as np

## Parameters

In [3]:
INDONESIA1_DATASET = "../../../data/RQ2/raw/indonesia1.csv"
INDONESIA2_DATASET = "../../../data/RQ2/raw/indonesia2.csv"
INDONESIA3_DATASET = "../../../data/RQ2/raw/indonesia3.csv"
INDONESIA4_DATASET = "../../../data/RQ2/raw/indonesia4.csv"
INDONESIA5_DATASET = "../../../data/RQ2/raw/indonesia5.csv"
INDONESIA6_DATASET = "../../../data/RQ2/raw/indonesia6.csv"

PROCESSED_JUST_INDONESIA_DATASET = "../../../data/RQ2/processed/just_indonesia_df.csv"
PROCESSED_INDONESIA_DATASET = "../../../data/RQ2/processed/indonesia_df.csv"

# Loading the Datasets

In [5]:
df1 = pd.read_csv(INDONESIA1_DATASET)
df2 = pd.read_csv(INDONESIA2_DATASET)
df3 = pd.read_csv(INDONESIA3_DATASET)
df4 = pd.read_csv(INDONESIA4_DATASET)
df5 = pd.read_csv(INDONESIA5_DATASET)
df6 = pd.read_csv(INDONESIA6_DATASET)

In [6]:
indonesia_raw_df = df1.append([df2, df3, df4, df5, df6])
indonesia_raw_df.shape

(2835000, 10)

In [7]:
indonesia_raw_df.head()

,measure,location,sex,age,cause,metric,year,val,upper,lower
0,YLLs (Years of Life Lost),Papua,Male,1 to 4,Chronic kidney disease due to diabetes mellitu...,Number,1990,5.675840,14.555415,1.434353
1,YLLs (Years of Life Lost),Papua,Female,1 to 4,Chronic kidney disease due to diabetes mellitu...,Number,1990,8.077531,21.701572,1.653067
2,YLLs (Years of Life Lost),Papua,Male,1 to 4,Chronic kidney disease due to diabetes mellitu...,Percent,1990,0.000125,0.000330,0.000032
3,YLLs (Years of Life Lost),Papua,Female,1 to 4,Chronic kidney disease due to diabetes mellitu...,Percent,1990,0.000166,0.000436,0.000034
4,YLLs (Years of Life Lost),Papua,Male,1 to 4,Chronic kidney disease due to diabetes mellitu...,Rate,1990,8.156534,20.917035,2.061255

In [8]:
indonesia_raw_df = indonesia_raw_df[~indonesia_raw_df['cause'].str.contains('kidney')]
indonesia_raw_df.shape

(1436400, 10)

In [9]:
indonesia_raw_df['cause'].unique()

array(['Diabetes mellitus', 'Interpersonal violence'], dtype=object)

In [10]:
indonesia_raw_df['location'].nunique()

35

In [11]:
indonesia_raw_df['location'].unique()

array(['West Nusa Tenggara', 'West Sumatra', 'North Maluku', 'Riau',
       'East Nusa Tenggara', 'North Sumatra', 'West Papua',
       'South Sumatra', 'Papua', 'Lampung', 'North Sulawesi',
       'Central Sulawesi', 'South Sulawesi', 'Southeast Sulawesi',
       'West Sulawesi', 'Yogyakarta', 'Maluku', 'Jambi', 'Bengkulu',
       'Central Kalimantan', 'Indonesia', 'South Kalimantan',
       'West Kalimantan', 'Bangka-Belitung Islands', 'East Kalimantan',
       'Aceh', 'Riau Islands', 'North Kalimantan', 'Gorontalo',
       'Central Java', 'West Java', 'East Java', 'Jakarta', 'Banten',
       'Bali'], dtype=object)

In [12]:
indonesia_raw_df.duplicated().sum()

0

In [13]:
indonesia_raw_df['measure'].unique()

array(['YLLs (Years of Life Lost)', 'Deaths', 'Incidence',
       'DALYs (Disability-Adjusted Life Years)', 'Prevalence',
       'YLDs (Years Lived with Disability)'], dtype=object)

In [14]:
just_indonesia_df = indonesia_raw_df[indonesia_raw_df['location'].str.contains('Indonesia')]
indonesia_all_df = indonesia_raw_df[~indonesia_raw_df['location'].str.contains('Indonesia')]
just_indonesia_df.head()

,measure,location,sex,age,cause,metric,year,val,upper,lower
1296,Deaths,Indonesia,Male,1 to 4,Diabetes mellitus,Number,1990,10.761841,18.622067,5.269082
1297,Deaths,Indonesia,Female,1 to 4,Diabetes mellitus,Number,1990,6.103323,11.195759,3.234698
1298,Deaths,Indonesia,Male,1 to 4,Diabetes mellitus,Percent,1990,0.000185,0.000301,0.000091
1299,Deaths,Indonesia,Female,1 to 4,Diabetes mellitus,Percent,1990,0.000111,0.000194,0.000061
1300,Deaths,Indonesia,Male,1 to 4,Diabetes mellitus,Rate,1990,0.116197,0.201065,0.056891

In [15]:
just_indonesia_df['location'].nunique()

1

In [16]:
indonesia_all_df.shape

(1395360, 10)

In [17]:
indonesia_df = indonesia_all_df.drop(['upper', 'lower'], axis=1)
indonesia_df.shape

(1395360, 8)

# Saving the Datasets

In [18]:
just_indonesia_df.to_csv(PROCESSED_JUST_INDONESIA_DATASET, index=False)
indonesia_df.to_csv(PROCESSED_INDONESIA_DATASET, index=False)