# Basic processing for mexico data sets

# Setup

## Imports

In [2]:
import pandas as pd
import numpy as np

## Parameters

In [3]:
MEXICO1_DATASET = "../../../data/RQ2/raw/mexico1.csv"
MEXICO2_DATASET = "../../../data/RQ2/raw/mexico2.csv"
MEXICO3_DATASET = "../../../data/RQ2/raw/mexico3.csv"

PROCESSED_JUST_MEXICO_DATASET = "../../../data/RQ2/processed/just_mexico_df.csv"
PROCESSED_MEXICO_DATASET = "../../../data/RQ2/processed/mexico_df.csv"

# Loading the datasets

In [5]:
df1 = pd.read_csv(MEXICO1_DATASET)
df2 = pd.read_csv(MEXICO2_DATASET)
df3 = pd.read_csv(MEXICO3_DATASET)

In [6]:
mexico_raw_df = df1.append([df2, df3])
mexico_raw_df.shape

(1477440, 10)

In [7]:
mexico_raw_df.head()

,measure,location,sex,age,cause,metric,year,val,upper,lower
0,Deaths,Nicaragua,Male,1 to 4,Diabetes mellitus,Number,1990,0.483758,0.873209,0.222760
1,Deaths,Nicaragua,Female,1 to 4,Diabetes mellitus,Number,1990,0.851169,1.568254,0.436445
2,Deaths,Nicaragua,Male,1 to 4,Diabetes mellitus,Percent,1990,0.000533,0.000933,0.000256
3,Deaths,Nicaragua,Female,1 to 4,Diabetes mellitus,Percent,1990,0.000987,0.001810,0.000512
4,Deaths,Nicaragua,Male,1 to 4,Diabetes mellitus,Rate,1990,0.178340,0.321913,0.082122

In [8]:
mexico_raw_df['cause'].unique()

array(['Diabetes mellitus', 'Interpersonal violence'], dtype=object)

In [9]:
mexico_raw_df['location'].nunique()

36

In [10]:
mexico_raw_df['location'].unique()

array(['Nicaragua', 'Mexico', 'Campeche', 'Oaxaca', 'Panama',
       'Nuevo León', 'Baja California Sur', 'Chiapas', 'Colima',
       'Quintana Roo', 'Puebla', 'Durango', 'Querétaro', 'Sonora',
       'Mexico City', 'Aguascalientes', 'Tlaxcala', 'Hidalgo',
       'Venezuela (Bolivarian Republic of)', 'Nayarit', 'Jalisco',
       'San Luis Potosí', 'Sinaloa', 'Veracruz de Ignacio de la Llave',
       'Michoacán de Ocampo', 'Guerrero', 'Zacatecas', 'Morelos',
       'Tabasco', 'Coahuila', 'Chihuahua', 'Guanajuato',
       'Baja California', 'México', 'Yucatán', 'Tamaulipas'], dtype=object)

In [11]:
mexico_raw_df.duplicated().sum()

0

In [12]:
mexico_raw_df['measure'].unique()

array(['Deaths', 'YLLs (Years of Life Lost)',
       'YLDs (Years Lived with Disability)',
       'DALYs (Disability-Adjusted Life Years)', 'Prevalence',
       'Incidence'], dtype=object)

In [13]:
just_mexico_df = mexico_raw_df[mexico_raw_df['location'].str.fullmatch('Mexico')]
mexico_all_df = mexico_raw_df[~mexico_raw_df['location'].str.fullmatch('Mexico')]
just_mexico_df.head()

,measure,location,sex,age,cause,metric,year,val,upper,lower
114,Deaths,Mexico,Male,1 to 4,Interpersonal violence,Number,1990,213.875977,290.470621,150.162634
115,Deaths,Mexico,Female,1 to 4,Interpersonal violence,Number,1990,157.880845,213.597930,112.285763
116,Deaths,Mexico,Male,1 to 4,Interpersonal violence,Percent,1990,0.020391,0.023068,0.017664
117,Deaths,Mexico,Female,1 to 4,Interpersonal violence,Percent,1990,0.014488,0.016000,0.013034
118,Deaths,Mexico,Male,1 to 4,Interpersonal violence,Rate,1990,4.538203,6.163454,3.186279

In [14]:
just_mexico_df['location'].nunique()

1

In [15]:
just_mexico_df['location'].unique()

array(['Mexico'], dtype=object)

In [16]:
mexico_all_df.shape

(1436400, 10)

In [17]:
mexico_df = mexico_all_df.drop(['upper', 'lower'], axis=1)
mexico_df.shape

(1436400, 8)

# Saving the Datasets

In [18]:
just_mexico_df.to_csv(PROCESSED_JUST_MEXICO_DATASET, index=False)
mexico_df.to_csv(PROCESSED_MEXICO_DATASET, index=False)