# Basic processing for japan data sets

# Setup

## Imports

In [2]:
import pandas as pd
import numpy as np

## Parameters

In [3]:
JAPAN1_DATASET = "../../../data/RQ2/raw/japan1.csv"
JAPAN2_DATASET = "../../../data/RQ2/raw/japan2.csv"
JAPAN3_DATASET = "../../../data/RQ2/raw/japan3.csv"
JAPAN4_DATASET = "../../../data/RQ2/raw/japan4.csv"

PROCESSED_JUST_JAPAN_DATASET = "../../../data/RQ2/processed/just_japan_df.csv"
PROCESSED_JAPAN_DATASET = "../../../data/RQ2/processed/japan_df.csv"

# Loading the Datasets

In [4]:
df1 = pd.read_csv(JAPAN1_DATASET)
df2 = pd.read_csv(JAPAN2_DATASET)
df3 = pd.read_csv(JAPAN3_DATASET)
df4 = pd.read_csv(JAPAN4_DATASET)

# Joining the Datasets

In [5]:
japan_raw_df = df1.append([df2, df3, df4])
japan_raw_df.shape

(1969920, 10)

In [6]:
japan_raw_df.head()

,measure,location,sex,age,cause,metric,year,val,upper,lower
0,Incidence,Hokkaidō,Male,1 to 4,Interpersonal violence,Number,1990,281.570107,420.406339,173.041458
1,Incidence,Hokkaidō,Female,1 to 4,Interpersonal violence,Number,1990,291.142150,431.733003,176.891774
2,Incidence,Hokkaidō,Male,1 to 4,Interpersonal violence,Percent,1990,0.000336,0.000528,0.000199
3,Incidence,Hokkaidō,Female,1 to 4,Interpersonal violence,Percent,1990,0.000391,0.000608,0.000228
4,Incidence,Hokkaidō,Male,1 to 4,Interpersonal violence,Rate,1990,225.094436,336.083715,138.333823

In [7]:
japan_raw_df['location'].nunique()

48

In [8]:
japan_raw_df['location'].unique()

array(['Hokkaidō', 'Aomori', 'Kanagawa', 'Niigata', 'Ōsaka', 'Iwate',
       'Toyama', 'Miyagi', 'Hyōgo', 'Fukuoka', 'Nara', 'Akita', 'Saga',
       'Wakayama', 'Fukui', 'Ibaraki', 'Tottori', 'Nagasaki', 'Kagoshima',
       'Japan', 'Okinawa', 'Shimane', 'Yamaguchi', 'Nagano', 'Kumamoto',
       'Yamanashi', 'Tochigi', 'Kagawa', 'Okayama', 'Gifu', 'Ehime',
       'Tokushima', 'Ōita', 'Hiroshima', 'Gunma', 'Shizuoka', 'Aichi',
       'Chiba', 'Tōkyō', 'Kyōto', 'Miyazaki', 'Saitama', 'Ishikawa',
       'Mie', 'Yamagata', 'Fukushima', 'Shiga', 'Kōchi'], dtype=object)

# Clean the Dataset

In [9]:
japan_raw_df.duplicated().sum()

0

In [10]:
japan_raw_df['measure'].unique()

array(['Incidence', 'Deaths', 'Prevalence',
       'YLDs (Years Lived with Disability)', 'YLLs (Years of Life Lost)',
       'DALYs (Disability-Adjusted Life Years)'], dtype=object)

In [11]:
japan_all_df = japan_raw_df[~japan_raw_df['location'].str.contains('Japan')]
japan_all_df['location'].nunique()

47

In [12]:
japan_all_df.shape

(1928880, 10)

In [13]:
japan_df = japan_all_df.drop(['upper', 'lower'], axis=1)
japan_df.shape

(1928880, 8)

# Saving the Datasets

In [14]:
japan_df.to_csv(PROCESSED_JAPAN_DATASET, index=False)