# Basic processing for America data sets

# Setup

## Imports

In [2]:
import pandas as pd
import numpy as np

## Parameters

In [3]:
AMERICA1_DATASET = "../../../data/RQ2/raw/America1.csv"
AMERICA2_DATASET = "../../../data/RQ2/raw/America2.csv"
AMERICA3_DATASET = "../../../data/RQ2/raw/America3.csv"
AMERICA4_DATASET = "../../../data/RQ2/raw/America4.csv"
AMERICA5_DATASET = "../../../data/RQ2/raw/America5.csv"
AMERICA6_DATASET = "../../../data/RQ2/raw/America6.csv"
AMERICA7_DATASET = "../../../data/RQ2/raw/America7.csv"
AMERICA8_DATASET = "../../../data/RQ2/raw/America8.csv"
AMERICA9_DATASET = "../../../data/RQ2/raw/America9.csv"
AMERICA10_DATASET = "../../../data/RQ2/raw/America10.csv"


PROCESSED_AMERICA_DATASET = "../../../data/RQ2/processed/america_df.csv"

# Loading the Datasets

In [4]:
df1 = pd.read_csv(AMERICA1_DATASET)
df2 = pd.read_csv(AMERICA2_DATASET)
df3 = pd.read_csv(AMERICA3_DATASET)
df4 = pd.read_csv(AMERICA4_DATASET)
df5 = pd.read_csv(AMERICA5_DATASET)
df6 = pd.read_csv(AMERICA6_DATASET)
df7 = pd.read_csv(AMERICA7_DATASET)
df8 = pd.read_csv(AMERICA8_DATASET)
df9 = pd.read_csv(AMERICA9_DATASET)
df10 = pd.read_csv(AMERICA10_DATASET)

# Joining the Datasets

In [5]:
america_df = df1.append([df2, df3, df4, df5, df6, df7, df8, df9, df10])
america_df.shape

(4212000, 10)

In [6]:
america_df.head()

,measure,location,sex,age,cause,metric,year,val,upper,lower
0,YLLs (Years of Life Lost),Alabama,Male,1 to 4,Diabetes mellitus,Number,1990,8.473476,12.654774,5.609856
1,YLLs (Years of Life Lost),Alabama,Female,1 to 4,Diabetes mellitus,Number,1990,10.111832,15.407660,6.088000
2,YLLs (Years of Life Lost),Alabama,Male,1 to 4,Diabetes mellitus,Percent,1990,0.001344,0.001966,0.000946
3,YLLs (Years of Life Lost),Alabama,Female,1 to 4,Diabetes mellitus,Percent,1990,0.002153,0.003142,0.001327
4,YLLs (Years of Life Lost),Alabama,Male,1 to 4,Diabetes mellitus,Rate,1990,6.887736,10.286538,4.560018

# Clean the Data

In [7]:
#have to get rid of chronic kidney disease rows that have come with the American Data
america_df = america_df[~america_df['cause'].str.contains('kidney')]
america_df['cause'].unique()

array(['Diabetes mellitus', 'Interpersonal violence'], dtype=object)

In [8]:
#Take away 'upper' and 'lower' estimates values as we just use 'val' for our analysis
america_df = america_df.drop(['upper', 'lower'], axis=1)
america_df.shape

(2134080, 8)

## Take away Rows for the United States as a Whole

In [9]:
america_df['location'].nunique()

52

Remove The United States as a whole to leave 51 stat

In [10]:
america_df = america_df[~america_df['location'].str.contains('United States of America')]
america_df.shape

(2093040, 8)

In [11]:
america_df

,measure,location,sex,age,cause,metric,year,val
0,YLLs (Years of Life Lost),Alabama,Male,1 to 4,Diabetes mellitus,Number,1990,8.473476
1,YLLs (Years of Life Lost),Alabama,Female,1 to 4,Diabetes mellitus,Number,1990,10.111832
2,YLLs (Years of Life Lost),Alabama,Male,1 to 4,Diabetes mellitus,Percent,1990,0.001344
3,YLLs (Years of Life Lost),Alabama,Female,1 to 4,Diabetes mellitus,Percent,1990,0.002153
4,YLLs (Years of Life Lost),Alabama,Male,1 to 4,Diabetes mellitus,Rate,1990,6.887736
...,...,...,...,...,...,...,...,...
186311,YLDs (Years Lived with Disability),North Dakota,Female,90 to 94,Diabetes mellitus,Number,2019,83.529881
186312,YLDs (Years Lived with Disability),North Dakota,Male,90 to 94,Diabetes mellitus,Percent,2019,0.074339
186313,YLDs (Years Lived with Disability),North Dakota,Female,90 to 94,Diabetes mellitus,Percent,2019,0.048831
186314,YLDs (Years Lived with Disability),North Dakota,Male,90 to 94,Diabetes mellitus,Rate,2019,3049.591450
186315,YLDs (Years Lived with Disability),North Dakota,Female,90 to 94,Diabetes mellitus,Rate,2019,2094.861198

# Saving the Datasets

In [12]:
america_df.to_csv(PROCESSED_AMERICA_DATASET, index=False)