# Final Prep for MSA Data

# Setup

## Imports

In [1]:
import pandas as pd
import numpy as np
import re

## Parameters

In [2]:
MSA_CRIME_DATASET = "../../../data/RQ3/processed/msa_crime_df.csv"
MSA_POP_DEN_DATASET = "../../../data/RQ3/processed/msa_pop_den_df.csv"
DIABETES_COUNTYCITY_DATASET = "../../../data/RQ3/processed/diabetes_by_countyCity_df.csv"

MSA_FINAL_DATASET = "../../../data/RQ3/processed/msa_final_df.csv"

# Loading Datasets

In [3]:
msa_crime_df = pd.read_csv(MSA_CRIME_DATASET)
msa_pop_den_df = pd.read_csv(MSA_POP_DEN_DATASET)
diabetes_by_countyCity_df = pd.read_csv(DIABETES_COUNTYCITY_DATASET)

In [4]:
msa_crime_df.shape

(2175, 4)

# Create first major dataset

### Map MSA's to Population, Violent Crime rate, and murder and nonnegligent manslaughter

In [5]:
msa_crime_df.head(20)

,MSA,County/City,Population,Murder and nonnegligent manslaughter
0,"Abilene, TX M.S.A.",NaN,170417,NaN
1,NaN,"Includes Callahan, Jones, and Taylor Counties",NaN,NaN
2,NaN,City of Abilene,122480,8
3,NaN,Total area actually reporting,1,9
4,NaN,"Rate per 100,000 inhabitants",NaN,5.3
5,"Akron, OH M.S.A.",NaN,704283,NaN
6,NaN,Includes Portage3 and Summit Counties,NaN,NaN
7,NaN,City of Akron,197690,38
8,NaN,Total area actually reporting,0.962,45
9,NaN,Estimated total,1,45
10,NaN,"Rate per 100,000 inhabitants",NaN,6.4
11,"Albany, GA M.S.A.",NaN,147142,NaN
12,NaN,"Includes Dougherty, Lee, Terrell, and Worth Co...",NaN,NaN
13,NaN,City of Albany,72594,15
14,NaN,Total area actually reporting,0.979,17
15,NaN,Estimated total,1,17
16,NaN,"Rate per 100,000 inhabitants",NaN,11.6
17,"Albany-Schenectady-Troy, NY M.S.A.",NaN,871741,NaN
18,NaN,"Includes Albany, Rensselaer, Saratoga, Schenec...",NaN,NaN
19,NaN,City of Albany,98322,12

In [6]:
msa_crime_df['County/City']

0                                                 NaN
1       Includes Callahan, Jones, and Taylor Counties
2                                     City of Abilene
3                       Total area actually reporting
4                        Rate per 100,000 inhabitants
                            ...
2170                                              NaN
2171                             Includes Yuma County
2172                                     City of Yuma
2173                    Total area actually reporting
2174                     Rate per 100,000 inhabitants
Name: County/City, Length: 2175, dtype: object

In [7]:
#Should only be one null gap for every MSA
msa_crime_df['County/City'].isnull().sum()

364

In [8]:
rates_df = msa_crime_df[msa_crime_df['County/City'].notnull()]
rates_df = rates_df.drop(['MSA','Population'], axis=1)
rates_df = rates_df[rates_df['County/City'].str.contains("Rate per")]

In [9]:
rates_df.head()

                     County/City Murder and nonnegligent manslaughter
4   Rate per 100,000 inhabitants                                  5.3
10  Rate per 100,000 inhabitants                                  6.4
16  Rate per 100,000 inhabitants                                 11.6
24  Rate per 100,000 inhabitants                                  2.2
29  Rate per 100,000 inhabitants                                  9.5

In [10]:
msa_pop_df = msa_crime_df[msa_crime_df['MSA'].notnull()]
msa_pop_df = msa_pop_df.drop(['County/City', 'Murder and nonnegligent manslaughter'], axis=1)
msa_pop_df = msa_pop_df.reset_index(drop=True)
msa_pop_df

                                    MSA Population
0                    Abilene, TX M.S.A.     170417
1                      Akron, OH M.S.A.     704283
2                     Albany, GA M.S.A.     147142
3    Albany-Schenectady-Troy, NY M.S.A.     871741
4                Albuquerque, NM M.S.A.     915468
..                                  ...        ...
359             Worcester, MA-CT M.S.A.     871779
360                   Yakima, WA M.S.A.     252019
361             York-Hanover, PA M.S.A.     447168
362                Yuba City, CA M.S.A.     173299
363                     Yuma, AZ M.S.A.     210913

[364 rows x 2 columns]

In [11]:
rates_df = msa_crime_df[msa_crime_df['County/City'].notnull()]
rates_df = rates_df.drop(['MSA','Population'], axis=1)
rates_df = rates_df[rates_df['County/City'].str.contains("Total area")]
rates_df = rates_df.reset_index(drop=True)
rates_df

                       County/City Murder and nonnegligent manslaughter
0    Total area actually reporting                                    9
1    Total area actually reporting                                   45
2    Total area actually reporting                                   17
3    Total area actually reporting                                   19
4    Total area actually reporting                                   87
..                             ...                                  ...
359  Total area actually reporting                                   11
360  Total area actually reporting                                   25
361  Total area actually reporting                                   24
362  Total area actually reporting                                    8
363  Total area actually reporting                                   26

[364 rows x 2 columns]

In [12]:
#Now we need to merge datasets
msa_pop_rates_df = pd.DataFrame([msa_pop_df['MSA'], msa_pop_df['Population'], rates_df['Murder and nonnegligent manslaughter']]).transpose()
msa_pop_rates_df

,MSA,Population,Murder and nonnegligent manslaughter
0,"Abilene, TX M.S.A.",170417,9
1,"Akron, OH M.S.A.",704283,45
2,"Albany, GA M.S.A.",147142,17
3,"Albany-Schenectady-Troy, NY M.S.A.",871741,19
4,"Albuquerque, NM M.S.A.",915468,87
...,...,...,...
359,"Worcester, MA-CT M.S.A.",871779,11
360,"Yakima, WA M.S.A.",252019,25
361,"York-Hanover, PA M.S.A.",447168,24
362,"Yuba City, CA M.S.A.",173299,8
363,"Yuma, AZ M.S.A.",210913,26

Checking for missing/bad data

In [13]:
msa_pop_rates_df.isnull().sum()

MSA                                     0
Population                              0
Murder and nonnegligent manslaughter    0
dtype: int64

# Create second major dataset

### Map MSA's to Counties

In [14]:
#create msa series/list to create new dataframe
MSA_list = msa_crime_df['MSA'].dropna().copy().tolist()
MSA_list

['Abilene, TX M.S.A.',
 'Akron, OH M.S.A.',
 'Albany, GA M.S.A.',
 'Albany-Schenectady-Troy, NY M.S.A.',
 'Albuquerque, NM M.S.A.',
 'Alexandria, LA M.S.A.',
 'Allentown-Bethlehem-Easton, PA-NJ M.S.A.',
 'Altoona, PA M.S.A.',
 'Amarillo, TX M.S.A.',
 'Anchorage, AK M.S.A.',
 'Ann Arbor, MI M.S.A.',
 'Anniston-Oxford, AL M.S.A.',
 'Appleton, WI M.S.A.',
 'Asheville, NC M.S.A.',
 'Atlanta-Sandy Springs-Alpharetta, GA M.S.A.',
 'Atlantic City-Hammonton, NJ M.S.A.',
 'Auburn-Opelika, AL M.S.A',
 'Augusta-Richmond County, GA-SC M.S.A.',
 'Austin-Round Rock-Georgetown, TX M.S.A.',
 'Bakersfield, CA M.S.A.',
 'Baltimore-Columbia-Towson, MD M.S.A.',
 'Bangor, ME M.S.A.',
 'Barnstable Town, MA M.S.A.',
 'Baton Rouge, LA M.S.A.',
 'Battle Creek, MI M.S.A',
 'Bay City, MI M.S.A.',
 'Beaumont-Port Arthur, TX M.S.A.',
 'Beckley, WV M.S.A',
 'Bellingham, WA M.S.A',
 'Bend, OR M.S.A.',
 'Billings, MT M.S.A.',
 'Binghamton, NY M.S.A.',
 'Bismarck, ND M.S.A.',
 'Blacksburg-Christiansburg, VA M.S.A.',
 'Bloomington, IL M.S.A.',
 'Bloomington, IN M.S.A.',
 'Bloomsburg-Berwick, PA M.S.A',
 'Boise City, ID M.S.A.',
 'Boston-Cambridge-Newton, MA-NH M.S.A.',
 'Boston, MA M.D.',
 'Cambridge-Newton-Framingham, MA M.D.',
 'Rockingham County-Strafford County, NH M.D.',
 'Boulder, CO M.S.A.',
 'Bowling Green, KY M.S.A.',
 'Bridgeport-Stamford-Norwalk, CT M.S.A.',
 'Brownsville-Harlingen, TX M.S.A.',
 'Brunswick, GA M.S.A.',
 'Buffalo-Cheektowaga, NY M.S.A.',
 'Burlington, NC M.S.A.',
 'Burlington-South Burlington, VT M.S.A.',
 'California-Lexington Park, MD M.S.A.',
 'Canton-Massillon, OH M.S.A.',
 'Cape Coral-Fort Myers, FL M.S.A.',
 'Cape Girardeau, MO-IL M.S.A.',
 'Carson City, NV M.S.A.',
 'Casper, WY M.S.A.',
 'Chambersburg-Waynesboro, PA M.S.A.',
 'Champaign-Urbana, IL M.S.A.',
 'Charleston, WV M.S.A.',
 'Charleston-North Charleston, SC M.S.A.',
 'Charlotte-Concord-Gastonia, NC-SC M.S.A.',
 'Charlottesville, VA M.S.A.',
 'Chattanooga, TN-GA M.S.A.',
 'Chicago-Naperville-Elgin, IL-IN-WI M.S.A., ',
 'Chicago-Naperville-Evanston, IL M.D., ',
 'Elgin, IL M.D.',
 'Gary, IN M.D.',
 'Lake County-Kenosha County, IL-WI M.D., ',
 'Chico, CA M.S.A.',
 'Cincinnati, OH-KY-IN M.S.A.',
 'Clarksville, TN-KY M.S.A.',
 'Cleveland, TN M.S.A.',
 "Coeur d'Alene, ID M.S.A.",
 'College Station-Bryan, TX M.S.A.',
 'Colorado Springs, CO M.S.A.',
 'Columbia, MO M.S.A.',
 'Columbia, SC M.S.A.',
 'Columbus, IN M.S.A.',
 'Columbus, OH M.S.A.',
 'Corpus Christi, TX M.S.A.',
 'Corvallis, OR M.S.A.',
 'Crestview-Fort Walton Beach-Destin, FL M.S.A.',
 'Cumberland, MD-WV M.S.A.',
 'Dallas-Fort Worth-Arlington, TX M.S.A.',
 'Dallas-Plano-Irving, TX M.D.',
 'Fort Worth-Arlington-Grapevine, TX M.D.',
 'Dalton, GA M.S.A.',
 'Danville, IL M.S.A.',
 'Daphne-Fairhope-Foley, AL M.S.A.',
 'Dayton-Kettering, OH M.S.A.',
 'Decatur, IL M.S.A.',
 'Deltona-Daytona Beach-Ormond Beach, FL M.S.A.',
 'Detroit-Warren-Dearborn, MI M.S.A.',
 'Detroit-Dearborn-Livonia, MI M.D.',
 'Warren-Troy-Farmington Hills, MI M.D.',
 'Dothan, AL M.S.A.',
 'Dover, DE M.S.A.',
 'Duluth, MN-WI M.S.A.',
 'East Stroudsburg, PA M.S.A.',
 'Eau Claire, WI M.S.A.',
 'El Centro, CA M.S.A.',
 'Elizabethtown-Fort Knox, KY M.S.A.',
 'Elmira, NY M.S.A.',
 'El Paso, TX M.S.A.',
 'Enid, OK M.S.A.',
 'Erie, PA M.S.A.',
 'Eugene-Springfield, OR M.S.A.',
 'Evansville, IN-KY M.S.A.',
 'Fairbanks, AK M.S.A.',
 'Fargo, ND-MN M.S.A.',
 'Farmington, NM M.S.A.',
 'Fayetteville-Springdale-Rogers, AR M.S.A.',
 'Flagstaff, AZ M.S.A.',
 'Flint, MI M.S.A.',
 'Florence, SC M.S.A.',
 'Florence-Muscle Shoals, AL M.S.A.',
 'Fond du Lac, WI M.S.A.',
 'Fort Collins, CO M.S.A.',
 'Fort Smith, AR-OK M.S.A.',
 'Fort Wayne, IN M.S.A.',
 'Fresno, CA M.S.A.',
 'Gadsden, AL M.S.A.',
 'Gainesville, FL M.S.A.',
 'Gainesville, GA M.S.A.',
 'Gettysburg, PA M.S.A.',
 'Glens Falls, NY M.S.A.',
 'Grand Forks, ND-MN M.S.A.',
 'Grand Island, NE M.S.A.',
 'Grand Junction, CO M.S.A.',
 'Grand Rapids-Kentwood, MI M.S.A.',
 'Grants Pass, OR M.S.A.',
 'Greeley, CO M.S.A.',
 'Green Bay, WI M.S.A.',
 'Greensboro-High Point, NC M.S.A.',
 'Greenville, NC M.S.A.',
 'Gulfport-Biloxi, MS M.S.A.',
 'Hagerstown-Martinsburg, MD-WV M.S.A.',
 'Hammond, LA M.S.A.',
 'Hanford-Corcoran, CA M.S.A.',
 'Harrisburg-Carlisle, PA M.S.A.',
 'Harrisonburg, VA M.S.A.',
 'Hartford-East Hartford-Middletown, CT M.S.A.',
 'Hilton Head Island-Bluffton, SC M.S.A.',
 'Hinesville, GA M.S.A.',
 'Homosassa Springs, FL M.S.A.',
 'Hot Springs, AR M.S.A.',
 'Houma-Thibodaux, LA M.S.A.',
 'Houston-The Woodlands-Sugar Land, TX M.S.A., ',
 'Idaho Falls, ID M.S.A.',
 'Indianapolis-Carmel-Anderson, IN M.S.A.',
 'Ithaca, NY M.S.A',
 'Jackson, MI M.S.A.',
 'Jackson, TN M.S.A.',
 'Jacksonville, FL M.S.A.',
 'Jacksonville, NC M.S.A.',
 'Janesville-Beloit, WI M.S.A.',
 'Jefferson City, MO M.S.A.',
 'Johnson City, TN M.S.A.',
 'Johnstown, PA M.S.A.',
 'Jonesboro, AR M.S.A.',
 'Kahului-Wailuku-Lahaina, HI M.S.A.',
 'Kalamazoo-Portage, MI M.S.A.',
 'Kankakee, IL M.S.A.',
 'Kennewick-Richland, WA M.S.A.',
 'Killeen-Temple, TX M.S.A.',
 'Kingsport-Bristol, TN-VA M.S.A.',
 'Kingston, NY M.S.A.',
 'Knoxville, TN M.S.A.',
 'Kokomo, IN M.S.A.',
 'La Crosse-Onalaska, WI-MN M.S.A.',
 'Lafayette, LA M.S.A.',
 'Lafayette-West Lafayette, IN M.S.A.',
 'Lake Charles, LA M.S.A.',
 'Lake Havasu City-Kingman, AZ M.S.A.',
 'Lakeland-Winter Haven, FL M.S.A.',
 'Lancaster, PA M.S.A.',
 'Lansing-East Lansing, MI M.S.A.',
 'Laredo, TX M.S.A.',
 'Las Vegas-Henderson-Paradise, NV M.S.A.',
 'Lawton, OK M.S.A.',
 'Lebanon, PA M.S.A.',
 'Lewiston, ID-WA M.S.A.',
 'Lewiston-Auburn, ME M.S.A.',
 'Lexington-Fayette, KY M.S.A.',
 'Lima, OH M.S.A.',
 'Lincoln, NE M.S.A.',
 'Little Rock-North Little Rock-Conway, AR M.S.A.',
 'Logan, UT-ID M.S.A.',
 'Longview, TX M.S.A., ',
 'Longview, WA M.S.A.',
 'Los Angeles-Long Beach-Anaheim, CA M.S.A.',
 'Anaheim-Santa Ana-Irvine, CA M.D.',
 'Los Angeles-Long Beach-Glendale, CA M.D.',
 'Lubbock, TX M.S.A.',
 'Lynchburg, VA M.S.A.',
 'Macon-Bibb County, GA M.S.A.',
 'Madera, CA M.S.A.',
 'Madison, WI M.S.A.',
 'Manchester-Nashua, NH M.S.A.',
 'Manhattan, KS M.S.A.',
 'Mankato, MN M.S.A.',
 'Mansfield, OH M.S.A.',
 'McAllen-Edinburg-Mission, TX M.S.A.',
 'Medford, OR M.S.A.',
 'Memphis, TN-MS-AR M.S.A., ',
 'Merced, CA M.S.A.',
 'Miami-Fort Lauderdale-Pompano Beach, FL M.S.A.',
 'Fort Lauderdale-Pompano Beach-Deerfield Beach, FL M.D.',
 'Miami-Miami Beach-Kendall, FL M.D.',
 'West Palm Beach-Boca Raton-Boynton Beach, FL M.D.',
 'Michigan City-La Porte, IN M.S.A.',
 'Midland, MI M.S.A.',
 'Midland, TX M.S.A.',
 'Milwaukee-Waukesha, WI M.S.A.',
 'Minneapolis-St. Paul-Bloomington, MN-WI M.S.A.',
 'Missoula, MT M.S.A.',
 'Mobile, AL M.S.A.',
 'Modesto, CA M.S.A.',
 'Monroe, LA M.S.A.',
 'Monroe, MI M.S.A.',
 'Montgomery, AL M.S.A.',
 'Morristown, TN M.S.A.',
 'Mount Vernon-Anacortes, WA M.S.A.',
 'Muncie, IN M.S.A.',
 'Muskegon, MI M.S.A.',
 'Myrtle Beach-Conway-North Myrtle Beach, SC-NC M.S.A., ',
 'Napa, CA M.S.A.',
 'Naples-Marco Island, FL M.S.A.',
 'Nashville-Davidson–Murfreesboro–Franklin, TN M.S.A.',
 'New Bern, NC M.S.A.',
 'New Haven-Milford, CT M.S.A.',
 'New Orleans-Metairie, LA M.S.A.',
 'Niles, MI M.S.A.',
 'North Port-Sarasota-Bradenton, FL M.S.A.',
 'Norwich-New London, CT M.S.A.',
 'Ocala, FL M.S.A.',
 'Ocean City, NJ M.S.A.',
 'Odessa, TX M.S.A.',
 'Ogden-Clearfield, UT M.S.A.',
 'Oklahoma City, OK M.S.A.',
 'Olympia-Lacey-Tumwater, WA M.S.A.',
 'Orlando-Kissimmee-Sanford, FL M.S.A.',
 'Owensboro, KY M.S.A.',
 'Oxnard-Thousand Oaks-Ventura, CA M.S.A.',
 'Palm Bay-Melbourne-Titusville, FL M.S.A.',
 'Panama City, FL M.S.A.',
 'Pensacola-Ferry Pass-Brent, FL M.S.A.',
 'Peoria, IL M.S.A.',
 'Philadelphia-Camden-Wilmington, PA-NJ-DE-MD M.S.A.',
 'Camden, NJ M.D.',
 'Montgomery County-Bucks County-Chester County, PA M.D.',
 'Philadelphia, PA M.D.',
 'Wilmington, DE-MD-NJ M.D.',
 'Phoenix-Mesa-Chandler, AZ M.S.A.',
 'Pine Bluff, AR M.S.A',
 'Pittsburgh, PA M.S.A.',
 'Pittsfield, MA M.S.A.',
 'Pocatello, ID M.S.A.',
 'Portland-South Portland, ME M.S.A.',
 'Portland-Vancouver-Hillsboro, OR-WA M.S.A.',
 'Port St. Lucie, FL M.S.A.',
 'Poughkeepsie-Newburg-Middletown, NY M.S.A.',
 'Prescott Valley-Prescott, AZ M.S.A.',
 'Providence-Warwick, RI-MA M.S.A.',
 'Provo-Orem, UT M.S.A.',
 'Pueblo, CO M.S.A.',
 'Punta Gorda, FL M.S.A.',
 'Racine, WI M.S.A.',
 'Rapid City, SD M.S.A.',
 'Reading, PA M.S.A.',
 'Redding, CA M.S.A.',
 'Reno, NV M.S.A.',
 'Richmond, VA M.S.A.',
 'Riverside-San Bernardino-Ontario, CA M.S.A.',
 'Roanoke, VA M.S.A.',
 'Rochester, MN M.S.A.',
 'Rochester, NY M.S.A.',
 'Rockford, IL M.S.A.',
 'Rocky Mount, NC M.S.A.',
 'Sacramento-Roseville-Folsom, CA M.S.A.',
 'Saginaw, MI M.S.A.',
 'Salem, OR M.S.A.',
 'Salinas, CA M.S.A.',
 'Salisbury, MD-DE M.S.A.',
 'Salt Lake City, UT M.S.A.',
 'San Angelo, TX M.S.A.',
 'San Antonio-New Braunfels, TX M.S.A., ',
 'San Diego-Chula Vista-Carlsbad, CA M.S.A.',
 'San Francisco-Oakland-Berkeley, CA M.S.A.',
 'Oakland-Berkeley-Livermore, CA M.D.',
 'San Francisco-San Mateo-Redwood City, CA M.D.',
 'San Rafael, CA M.D.',
 'San Jose-Sunnyvale-Santa Clara, CA M.S.A.',
 'San Luis Obispo-Paso Robles, CA M.S.A.',
 'Santa Cruz-Watsonville, CA M.S.A.',
 'Santa Fe, NM M.S.A.',
 'Santa Maria-Santa Barbara, CA M.S.A.',
 'Santa Rosa-Petaluma, CA M.S.A.',
 'Savannah, GA M.S.A.',
 'Scranton–Wilkes-Barre, PA M.S.A.',
 'Seattle-Tacoma-Bellevue, WA M.S.A., ',
 'Seattle-Bellevue-Kent, WA M.D., ',
 'Tacoma-Lakewood, WA M.D.',
 'Sebastian-Vero Beach, FL M.S.A.',
 'Sebring-Avon Park, FL M.S.A.',
 'Sheboygan, WI M.S.A.',
 'Sherman-Denison, TX M.S.A.',
 'Shreveport-Bossier City, LA M.S.A.',
 'Sioux Falls, SD M.S.A.',
 'South Bend-Mishawaka, IN-MI M.S.A.',
 'Spokane-Spokane Valley, WA M.S.A.',
 'Springfield, IL M.S.A.',
 'Springfield, MA M.S.A.',
 'Springfield, MO M.S.A.',
 'Springfield, OH M.S.A.',
 'State College, PA M.S.A.',
 'Staunton, VA M.S.A.',
 'St. Cloud, MN M.S.A.',
 'St. George, UT M.S.A.',
 'St. Joseph, MO-KS M.S.A., ',
 'St. Louis, MO-IL M.S.A., , , ',
 'Stockton, CA M.S.A.',
 'Sumter, SC M.S.A.',
 'Syracuse, NY M.S.A.',
 'Tallahassee, FL M.S.A.',
 'Tampa-St. Petersburg-Clearwater, FL M.S.A.',
 'Texarkana, TX-AR M.S.A.',
 'The Villages, FL M.S.A.',
 'Toledo, OH M.S.A.',
 'Topeka, KS M.S.A.',
 'Trenton-Princeton, NJ M.S.A.',
 'Tucson, AZ M.S.A.',
 'Tulsa, OK M.S.A.',
 'Tuscaloosa, AL M.S.A.',
 'Twin Falls, ID M.S.A.',
 'Tyler, TX M.S.A.',
 'Urban Honolulu, HI M.S.A.',
 'Utica-Rome, NY M.S.A.',
 'Vallejo, CA M.S.A.',
 'Victoria, TX M.S.A.',
 'Vineland-Bridgeton, NJ M.S.A.',
 'Virginia Beach-Norfolk-Newport News, VA-NC M.S.A., ',
 'Visalia, CA M.S.A.',
 'Waco, TX M.S.A.',
 'Walla Walla, WA M.S.A.',
 'Warner Robins, GA M.S.A.',
 'Washington-Arlington-Alexandria, DC-VA-MD-WV M.S.A.',
 'Frederick-Gaithersburg-Rockville, MD M.D.',
 'Washington-Arlington-Alexandria, DC-VA-MD-WV M.D.',
 'Watertown-Fort Drum, NY M.S.A.',
 'Wausau-Weston, WI M.S.A.',
 'Weirton-Steubenville, WV-OH M.S.A.',
 'Wenatchee, WA M.S.A.',
 'Wheeling, WV-OH M.S.A.',
 'Wichita, KS M.S.A.',
 'Wichita Falls, TX M.S.A.',
 'Williamsport, PA M.S.A.',
 'Wilmington, NC M.S.A.',
 'Winchester, VA-WV M.S.A.',
 'Worcester, MA-CT M.S.A.',
 'Yakima, WA M.S.A.',
 'York-Hanover, PA M.S.A.',
 'Yuba City, CA M.S.A.',
 'Yuma, AZ M.S.A.']

In [15]:
#Here we can take a look at the counties column to see what corrections need to be made
county_list = msa_crime_df['County/City'].copy().dropna().tolist()
county_list

['Includes Callahan, Jones, and Taylor Counties',
 'City of Abilene',
 'Total area actually reporting',
 'Rate per 100,000 inhabitants',
 'Includes Portage3 and Summit Counties',
 'City of Akron',
 'Total area actually reporting',
 'Estimated total',
 'Rate per 100,000 inhabitants',
 'Includes Dougherty, Lee, Terrell, and Worth Counties',
 'City of Albany',
 'Total area actually reporting',
 'Estimated total',
 'Rate per 100,000 inhabitants',
 'Includes Albany, Rensselaer, Saratoga, Schenectady, and Schoharie Counties',
 'City of Albany',
 'City of Schenectady',
 'City of Troy',
 'Total area actually reporting',
 'Estimated total',
 'Rate per 100,000 inhabitants',
 'Includes Bernalillo, Sandoval, Torrance, and Valencia Counties',
 'City of Albuquerque2',
 'Total area actually reporting',
 'Rate per 100,000 inhabitants',
 'Includes Grant and Rapides Parishes',
 'City of Alexandria',
 'Total area actually reporting',
 'Estimated total',
 'Rate per 100,000 inhabitants',
 'Includes Warren County, NJ and Carbon, Lehigh, and Northampton Counties, PA',
 'City of Allentown, PA',
 'City of Bethlehem, PA',
 'Total area actually reporting',
 'Rate per 100,000 inhabitants',
 'Includes Blair County',
 'City of Altoona',
 'Total area actually reporting',
 'Rate per 100,000 inhabitants',
 'Includes Armstrong, Carson, Oldham, Potter,2 and Randall Counties',
 'City of Amarillo',
 'Total area actually reporting',
 'Rate per 100,000 inhabitants',
 'Includes Anchorage Municipality and Matanuska-Susitna Borough',
 'City of Anchorage',
 'Total area actually reporting',
 'Rate per 100,000 inhabitants',
 'Includes Washtenaw County',
 'City of Ann Arbor',
 'Total area actually reporting',
 'Rate per 100,000 inhabitants',
 'Includes Calhoun County',
 'City of Anniston',
 'City of Oxford',
 'Total area actually reporting',
 'Estimated total',
 'Rate per 100,000 inhabitants',
 'Includes Calumet and Outagamie Counties',
 'City of Appleton',
 'Total area actually reporting',
 'Rate per 100,000 inhabitants',
 'Includes Buncombe, Haywood, Henderson, and Madison Counties3',
 'City of Asheville3',
 'Total area actually reporting',
 'Estimated total',
 'Rate per 100,000 inhabitants',
 'Includes Barrow, Bartow, Butts, Carroll, Cherokee, Clayton, Cobb, Coweta,2 Dawson, DeKalb, Douglas, Fayette, Forsyth, Fulton, Gwinnett, Haralson, Heard, Henry, Jasper, Lamar, Meriwether, Morgan, Newton, Paulding, Pickens, Pike, Rockdale, Spalding, and Walton Counties',
 'City of Atlanta',
 'City of Sandy Springs',
 'City of Alpharetta',
 'City of Marietta',
 'Total area actually reporting',
 'Estimated total',
 'Rate per 100,000 inhabitants',
 'Includes Atlantic County',
 'City of Atlantic City',
 'City of Hammonton',
 'Total area actually reporting',
 'Rate per 100,000 inhabitants',
 'Includes Lee County',
 'City of Auburn',
 'City of Opelika',
 'Total area actually reporting',
 'Rate per 100,000 inhabitants',
 'Includes Burke, Columbia, Lincoln, McDuffie, and Richmond Counties, GA and Aiken and Edgefield Counties, SC',
 'Total area actually reporting',
 'Estimated total',
 'Rate per 100,000 inhabitants',
 'Includes Bastrop, Caldwell, Hays, Travis, and Williamson2 Counties',
 'City of Austin',
 'City of Round Rock',
 'City of Georgetown',
 'City of San Marcos2',
 'Total area actually reporting',
 'Estimated total',
 'Rate per 100,000 inhabitants',
 'Includes Kern County',
 'City of Bakersfield',
 'Total area actually reporting',
 'Rate per 100,000 inhabitants',
 "Includes Anne Arundel, Baltimore, Carroll, Harford, Howard, and Queen Anne's Counties and Baltimore City",
 'City of Baltimore',
 'Total area actually reporting',
 'Rate per 100,000 inhabitants',
 'Includes Penobscot County',
 'City of Bangor',
 'Total area actually reporting',
 'Rate per 100,000 inhabitants',
 'Includes Barnstable County',
 'City of Barnstable ',
 'Total area actually reporting',
 'Rate per 100,000 inhabitants',
 'Includes Ascension, Assumption, East Baton Rouge, East Feliciana, Iberville, Livingston, Pointe Coupee, St. Helena, West Baton Rouge, and West Feliciana Parishes',
 'City of Baton Rouge',
 'Total area actually reporting',
 'Estimated total',
 'Rate per 100,000 inhabitants',
 'Includes Calhoun County',
 'City of Battle Creek',
 'Total area actually reporting',
 'Rate per 100,000 inhabitants',
 'Includes Bay County',
 'City of Bay City',
 'Total area actually reporting',
 'Rate per 100,000 inhabitants',
 'Includes Hardin, Jefferson, and Orange Counties',
 'City of Beaumont',
 'City of Port Arthur',
 'Total area actually reporting',
 'Estimated total',
 'Rate per 100,000 inhabitants',
 'Includes Fayette and Raleigh Counties',
 'City of Beckley',
 'Total area actually reporting',
 'Estimated total',
 'Rate per 100,000 inhabitants',
 'Includes Whatcom County',
 'City of Bellingham',
 'Total area actually reporting',
 'Estimated total',
 'Rate per 100,000 inhabitants',
 'Includes Deschutes County',
 'City of Bend',
 'Total area actually reporting',
 'Rate per 100,000 inhabitants',
 'Includes Carbon, Stillwater, and Yellowstone Counties',
 'City of Billings',
 'Total area actually reporting',
 'Rate per 100,000 inhabitants',
 'Includes Broome and Tioga Counties',
 'City of Binghamton',
 'Total area actually reporting',
 'Rate per 100,000 inhabitants',
 'Includes Burleigh, Morton, and Oliver Counties',
 'City of Bismarck',
 'Total area actually reporting',
 'Rate per 100,000 inhabitants',
 'Includes Giles, Montgomery, and Pulaski Counties and Radford City',
 'City of Blacksburg',
 'City of Christiansburg',
 'Total area actually reporting',
 'Rate per 100,000 inhabitants',
 'Includes McLean County',
 'City of Bloomington',
 'Total area actually reporting',
 'Rate per 100,000 inhabitants',
 'Includes Monroe and Owen Counties',
 'City of Bloomington',
 'Total area actually reporting',
 'Estimated total',
 'Rate per 100,000 inhabitants',
 'Includes Columbia and Montour Counties',
 'City of Bloomsburg Town',
 'City of Berwick',
 'Total area actually reporting',
 'Estimated total',
 'Rate per 100,000 inhabitants',
 'Includes Ada, Boise, Canyon, Gem, and Owyhee Counties',
 'City of Boise ',
 'Total area actually reporting',
 'Rate per 100,000 inhabitants',
 'Includes the Metropolitan Divisions of Boston, MA; Cambridge-Newton-Framingham, MA; and Rockingham County-Strafford County, NH',
 'City of Boston, MA',
 'City of Cambridge, MA',
 'City of Newton, MA',
 'City of Framingham, MA',
 'City of Waltham, MA',
 'Total area actually reporting',
 'Estimated total',
 'Rate per 100,000 inhabitants',
 'Includes Norfolk, Plymouth, and Suffolk Counties',
 'Total area actually reporting',
 'Estimated total',
 'Rate per 100,000 inhabitants',
 'Includes Essex and Middlesex Counties',
 'Total area actually reporting',
 'Estimated total',
 'Rate per 100,000 inhabitants',
 'Includes Rockingham and Strafford Counties',
 'Total area actually reporting',
 'Rate per 100,000 inhabitants',
 'Includes Boulder County',
 'City of Boulder',
 'Total area actually reporting',
 'Rate per 100,000 inhabitants',
 'Includes Allen, Butler, Edmonson, and Warren Counties',
 'City of Bowling Green',
 'Total area actually reporting',
 'Rate per 100,000 inhabitants',
 'Includes Fairfield County',
 'City of Bridgeport2',
 'City of Stamford',
 'City of Norwalk',
 'City of Danbury',
 'City of Stratford',
 'Total area actually reporting',
 'Rate per 100,000 inhabitants',
 'Includes Cameron County',
 'City of Brownsville2',
 'City of Harlingen2',
 'Total area actually reporting',
 'Estimated total',
 'Rate per 100,000 inhabitants',
 'Includes Brantley, Glynn, and McIntosh Counties',
 'City of Brunswick',
 'Total area actually reporting',
 'Rate per 100,000 inhabitants',
 'Includes Erie and Niagara Counties',
 'City of Buffalo',
 'City of Cheektowaga Town',
 'Total area actually reporting',
 'Estimated total',
 'Rate per 100,000 inhabitants',
 'Includes Alamance County3',
 'City of Burlington3',
 'Total area actually reporting',
 'Estimated total',
 'Rate per 100,000 inhabitants',
 'Includes Chittenden, Franklin, and Grand Isle Counties',
 'City of Burlington',
 'City of South Burlington',
 'Total area actually reporting',
 'Rate per 100,000 inhabitants',
 "Includes St. Mary's County",
 'Total area actually reporting',
 'Rate per 100,000 inhabitants',
 'Includes Carroll and Stark Counties',
 'City of Canton',
 'City of Massillon',
 'Total area actually reporting',
 'Estimated total',
 'Rate per 100,000 inhabitants',
 'Includes Lee County',
 'City of Cape Coral',
 'City of Fort Myers',
 'Total area actually reporting',
 'Rate per 100,000 inhabitants',
 'Includes Alexander County, IL and Bollinger and Cape Girardeau Counties, MO',
 'City of Cape Girardeau, MO',
 'Total area actually reporting',
 'Estimated total',
 'Rate per 100,000 inhabitants',
 'Includes Carson City',
 'Total area actually reporting',
 'Rate per 100,000 inhabitants',
 'Includes Natrona County',
 'City of Casper',
 'Total area actually reporting',
 'Rate per 100,000 inhabitants',
 'Includes Franklin County',
 'City of Chambersburg',
 'City of Waynesboro',
 'Total area actually reporting',
 'Estimated total',
 'Rate per 100,000 inhabitants',
 'Includes Champaign and Piatt Counties',
 'City of Champaign',
 'City of Urbana',
 'Total area actually reporting',
 'Estimated total',
 'Rate per 100,000 inhabitants',
 'Includes Boone, Clay, Jackson, Kanawha, and Lincoln Counties',
 'City of Charleston',
 'Total area actually reporting',
 'Estimated total',
 'Rate per 100,000 inhabitants',
 'Includes Berkeley, Charleston, and Dorchester Counties',
 'City of Charleston',
 'City of North Charleston',
 'Total area actually reporting',
 'Estimated total',
 'Rate per 100,000 inhabitants',
 'Includes Anson, Cabarrus, Gaston, Iredell, Lincoln, Mecklenburg, Rowan, and Union Counties, NC3 and Chester, Lancaster, and York Counties, SC',
 'City of Charlotte-Mecklenburg, NC3',
 'City of Concord, NC3',
 'City of Gastonia, NC3',
 'City of Rock Hill, SC',
 'Total area actually reporting',
 'Estimated total',
 'Rate per 100,000 inhabitants',
 'Includes Albemarle, Buckingham, Fluvanna, Greene, and Nelson Counties and Charlottesville City',
 'City of Charlottesville',
 'Total area actually reporting',
 'Rate per 100,000 inhabitants',
 'Includes Catoosa, Dade, and Walker Counties, GA and Hamilton, Marion, and Sequatchie Counties, TN',
 'City of Chattanooga, TN',
 'Total area actually reporting',
 'Estimated total',
 'Rate per 100,000 inhabitants',
 'Includes the Metropolitan Divisions of Chicago-Naperville-Evanston, IL; Elgin, IL; Gary, IN; and Lake County-Kenosha County, IL-WI',
 'City of Chicago, IL',
 'City of Naperville, IL4',
 'City of Elgin, IL',
 'City of Gary, IN',
 'City of Evanston, IL',
 'City of Schaumburg, IL',
 'City of Bolingbrook, IL',
 'City of Skokie, IL',
 'City of Des Plaines, IL',
 'City of Hoffman Estates, IL',
 'Total area actually reporting',
 'Estimated total',
 'Rate per 100,000 inhabitants',
 'Includes Cook, DuPage, Grundy, McHenry, and Will Counties,',
 'Total area actually reporting',
 'Estimated total',
 'Rate per 100,000 inhabitants',
 'Includes DeKalb, Kane, and Kendall Counties',
 'Total area actually reporting',
 'Estimated total',
 'Rate per 100,000 inhabitants',
 'Includes Jasper, Lake, Newton, and Porter Counties',
 'Total area actually reporting',
 'Estimated total',
 'Rate per 100,000 inhabitants',
 'Includes Lake County, IL and Kenosha County, WI',
 'Total area actually reporting',
 'Estimated total',
 'Rate per 100,000 inhabitants',
 'Includes Butte County',
 'City of Chico',
 'Total area actually reporting',
 'Rate per 100,000 inhabitants',
 'Includes Dearborn, Franklin, Ohio, and Union Counties, IN; Boone, Bracken, Campbell, Gallatin, Grant, Kenton, and Pendleton Counties, KY; and Brown, Butler, Clermont, Hamilton, and Warren Counties, OH',
 'City of Cincinnati, OH',
 'Total area actually reporting',
 'Estimated total',
 'Rate per 100,000 inhabitants',
 'Includes Christian and Trigg Counties, KY and Montgomery and Stewart Counties, TN',
 'City of Clarksville, TN',
 'Total area actually reporting',
 'Rate per 100,000 inhabitants',
 'Includes Bradley and Polk Counties',
 'City of Cleveland',
 'Total area actually reporting',
 'Rate per 100,000 inhabitants',
 'Includes Kootenai County',
 "City of Coeur d'Alene",
 'Total area actually reporting',
 'Rate per 100,000 inhabitants',
 'Includes Brazos, Burleson, and Robertson Counties',
 'City of College Station',
 'City of Bryan',
 'Total area actually reporting',
 'Rate per 100,000 inhabitants',
 'Includes El Paso and Teller Counties',
 'City of Colorado Springs',
 'Total area actually reporting',
 'Estimated total',
 'Rate per 100,000 inhabitants',
 'Includes Boone, Cooper, and Howard Counties',
 'City of Columbia',
 'Total area actually reporting',
 'Rate per 100,000 inhabitants',
 'Includes Calhoun, Fairfield, Kershaw, Lexington, Richland, and Saluda Counties',
 'City of Columbia',
 'Total area actually reporting',
 'Estimated total',
 'Rate per 100,000 inhabitants',
 'Includes Bartholomew County',
 'City of Columbus',
 'Total area actually reporting',
 'Rate per 100,000 inhabitants',
 'Includes Delaware, Fairfield, Franklin, Hocking, Licking, Madison, Morrow, Perry, Pickaway, and Union Counties',
 'City of Columbus',
 'Total area actually reporting',
 'Estimated total',
 'Rate per 100,000 inhabitants',
 'Includes Nueces and San Patricio Counties',
 'City of Corpus Christi',
 'Total area actually reporting',
 'Estimated total',
 'Rate per 100,000 inhabitants',
 'Includes Benton County',
 'City of Corvallis',
 'Total area actually reporting',
 'Rate per 100,000 inhabitants',
 'Includes Okaloosa and Walton Counties',
 'City of Crestview',
 'City of Fort Walton Beach',
 'Total area actually reporting',
 'Estimated total',
 'Rate per 100,000 inhabitants',
 'Includes Allegany County, MD and Mineral County, WV',
 'City of Cumberland, MD',
 'Total area actually reporting',
 'Estimated total',
 'Rate per 100,000 inhabitants',
 'Includes the Metropolitan Divisions of Dallas-Plano-Irving and Fort Worth-Arlington-Grapevine2',
 'City of Dallas2',
 'City of Fort Worth',
 'City of Arlington',
 'City of Plano',
 'City of Irving',
 'City of Denton',
 'City of Richardson',
 'City of Grapevine',
 'Total area actually reporting',
 'Estimated total',
 'Rate per 100,000 inhabitants',
 'Includes Collin, Dallas, Denton, Ellis, Hunt, Kaufman, and Rockwall Counties',
 'Total area actually reporting',
 'Estimated total',
 'Rate per 100,000 inhabitants',
 'Includes Johnson, Parker, Tarrant, and Wise Counties',
 'Total area actually reporting',
 'Estimated total',
 'Rate per 100,000 inhabitants',
 'Includes Murray and Whitfield Counties',
 'City of Dalton',
 'Total area actually reporting',
 'Estimated total',
 'Rate per 100,000 inhabitants',
 'Includes Vermilion County',
 'City of Danville',
 'Total area actually reporting',
 'Estimated total',
 'Rate per 100,000 inhabitants',
 'Includes Baldwin County',
 'City of Daphne',
 'City of Fairhope',
 'City of Foley',
 'City of Gulf Shores',
 'Total area actually reporting',
 'Rate per 100,000 inhabitants',
 'Includes Greene, Miami, and Montgomery Counties',
 'City of Dayton',
 'City of Kettering',
 'Total area actually reporting',
 'Estimated total',
 'Rate per 100,000 inhabitants',
 'Includes Macon County',
 'City of Decatur',
 'Total area actually reporting',
 'Estimated total',
 'Rate per 100,000 inhabitants',
 'Includes Flagler and Volusia Counties',
 'City of Daytona Beach',
 'City of Ormond Beach',
 'City of DeLand',
 'Total area actually reporting',
 'Rate per 100,000 inhabitants',
 'Includes the Metropolitan Divisions of Detroit-Dearborn-Livonia and Warren-Troy-Farmington Hills',
 'City of Detroit',
 'City of Warren',
 'City of Dearborn',
 'City of Livonia',
 'City of Troy',
 'City of Farmington Hills',
 'City of Southfield',
 'City of Taylor',
 'City of Pontiac',
 'City of Novi',
 'Total area actually reporting',
 'Rate per 100,000 inhabitants',
 'Includes Wayne County',
 'Total area actually reporting',
 'Rate per 100,000 inhabitants',
 'Includes Lapeer, Livingston, Macomb, Oakland, and St. Clair Counties',
 'Total area actually reporting',
 'Rate per 100,000 inhabitants',
 'Includes Geneva, Henry, and Houston Counties',
 'City of Dothan',
 'Total area actually reporting',
 'Estimated total',
 'Rate per 100,000 inhabitants',
 'Includes Kent County',
 'City of Dover',
 'Total area actually reporting',
 'Rate per 100,000 inhabitants',
 'Includes Carlton, Lake, and St. Louis Counties, MN and Douglas County, WI',
 'City of Duluth, MN',
 'Total area actually reporting',
 'Rate per 100,000 inhabitants',
 'Includes Monroe County',
 'Total area actually reporting',
 'Rate per 100,000 inhabitants',
 'Includes Chippewa and Eau Claire2 Counties',
 'City of Eau Claire2',
 'Total area actually reporting',
 'Rate per 100,000 inhabitants',
 'Includes Imperial County',
 'City of El Centro',
 'Total area actually reporting',
 'Estimated total',
 'Rate per 100,000 inhabitants',
 'Includes Hardin, Larue, and Meade Counties',
 'City of Elizabethtown',
 'Total area actually reporting',
 'Rate per 100,000 inhabitants',
 'Includes Chemung County',
 'City of Elmira',
 'Total area actually reporting',
 'Rate per 100,000 inhabitants',
 'Includes El Paso and Hudspeth2 Counties',
 'City of El Paso',
 'Total area actually reporting',
 'Rate per 100,000 inhabitants',
 'Includes Garfield County',
 'City of Enid',
 'Total area actually reporting',
 'Rate per 100,000 inhabitants',
 'Includes Erie County',
 'City of Erie',
 'Total area actually reporting',
 'Rate per 100,000 inhabitants',
 'Includes Lane County',
 'City of Eugene',
 'City of Springfield',
 'Total area actually reporting',
 'Estimated total',
 'Rate per 100,000 inhabitants',
 'Includes Posey, Vanderburgh, and Warrick Counties, IN and Henderson County, KY',
 'City of Evansville',
 'Total area actually reporting',
 'Estimated total',
 'Rate per 100,000 inhabitants',
 'Includes Fairbanks North Star Borough',
 'City of Fairbanks',
 'Total area actually reporting',
 'Rate per 100,000 inhabitants',
 'Includes Clay County, MN and Cass County, ND',
 'City of Fargo, ND',
 'Total area actually reporting',
 'Rate per 100,000 inhabitants',
 'Includes San Juan County',
 'City of Farmington',
 'Total area actually reporting',
 'Rate per 100,000 inhabitants',
 'Includes Benton, Madison, and Washington5 Counties',
 'City of Fayetteville',
 'City of Springdale',
 'City of Rogers',
 'City of Bentonville',
 'Total area actually reporting',
 'Rate per 100,000 inhabitants',
 'Includes Coconino County',
 'City of Flagstaff',
 'Total area actually reporting',
 'Rate per 100,000 inhabitants',
 'Includes Genesee County',
 'City of Flint',
 'Total area actually reporting',
 'Rate per 100,000 inhabitants',
 'Includes Darlington and Florence Counties',
 'City of Florence',
 'Total area actually reporting',
 'Estimated total',
 'Rate per 100,000 inhabitants',
 'Includes Colbert and Lauderdale Counties',
 'City of Florence',
 'City of Muscle Shoals',
 'Total area actually reporting',
 'Estimated total',
 'Rate per 100,000 inhabitants',
 'Includes Fond du Lac County',
 'City of Fond du Lac',
 'Total area actually reporting',
 'Rate per 100,000 inhabitants',
 'Includes Larimer County',
 'City of Fort Collins',
 'Total area actually reporting',
 'Rate per 100,000 inhabitants',
 'Includes Crawford, Franklin, and Sebastian Counties, AR and Sequoyah County, OK',
 'City of Fort Smith, AR',
 'Total area actually reporting',
 'Estimated total',
 'Rate per 100,000 inhabitants',
 'Includes Allen and Whitley Counties',
 'City of Fort Wayne',
 'Total area actually reporting',
 'Estimated total',
 'Rate per 100,000 inhabitants',
 'Includes Fresno County',
 'City of Fresno',
 'Total area actually reporting',
 'Rate per 100,000 inhabitants',
 'Includes Etowah County',
 'City of Gadsden',
 'Total area actually reporting',
 'Estimated total',
 'Rate per 100,000 inhabitants',

Here we can see many rows not related to counties of MSA's. We can also see the remenants of superscripts that need to be removed.

In [16]:
#Here we remove any information not related to counties
# Here show that the 'Includes' values have their superscripts removed
msa_crime_df['County/City'] = msa_crime_df['County/City'].str.replace('\d+', '', regex=True)

county_list = msa_crime_df['County/City'].copy().dropna().tolist()

tmp = []
for i in county_list:
    if "City of" not in i and "Total area" not in i and "Rate per" not in i and "Estimated total" not in i:
        tmp.append(i)

county_list = tmp
county_list

['Includes Callahan, Jones, and Taylor Counties',
 'Includes Portage and Summit Counties',
 'Includes Dougherty, Lee, Terrell, and Worth Counties',
 'Includes Albany, Rensselaer, Saratoga, Schenectady, and Schoharie Counties',
 'Includes Bernalillo, Sandoval, Torrance, and Valencia Counties',
 'Includes Grant and Rapides Parishes',
 'Includes Warren County, NJ and Carbon, Lehigh, and Northampton Counties, PA',
 'Includes Blair County',
 'Includes Armstrong, Carson, Oldham, Potter, and Randall Counties',
 'Includes Anchorage Municipality and Matanuska-Susitna Borough',
 'Includes Washtenaw County',
 'Includes Calhoun County',
 'Includes Calumet and Outagamie Counties',
 'Includes Buncombe, Haywood, Henderson, and Madison Counties',
 'Includes Barrow, Bartow, Butts, Carroll, Cherokee, Clayton, Cobb, Coweta, Dawson, DeKalb, Douglas, Fayette, Forsyth, Fulton, Gwinnett, Haralson, Heard, Henry, Jasper, Lamar, Meriwether, Morgan, Newton, Paulding, Pickens, Pike, Rockdale, Spalding, and Walton Counties',
 'Includes Atlantic County',
 'Includes Lee County',
 'Includes Burke, Columbia, Lincoln, McDuffie, and Richmond Counties, GA and Aiken and Edgefield Counties, SC',
 'Includes Bastrop, Caldwell, Hays, Travis, and Williamson Counties',
 'Includes Kern County',
 "Includes Anne Arundel, Baltimore, Carroll, Harford, Howard, and Queen Anne's Counties and Baltimore City",
 'Includes Penobscot County',
 'Includes Barnstable County',
 'Includes Ascension, Assumption, East Baton Rouge, East Feliciana, Iberville, Livingston, Pointe Coupee, St. Helena, West Baton Rouge, and West Feliciana Parishes',
 'Includes Calhoun County',
 'Includes Bay County',
 'Includes Hardin, Jefferson, and Orange Counties',
 'Includes Fayette and Raleigh Counties',
 'Includes Whatcom County',
 'Includes Deschutes County',
 'Includes Carbon, Stillwater, and Yellowstone Counties',
 'Includes Broome and Tioga Counties',
 'Includes Burleigh, Morton, and Oliver Counties',
 'Includes Giles, Montgomery, and Pulaski Counties and Radford City',
 'Includes McLean County',
 'Includes Monroe and Owen Counties',
 'Includes Columbia and Montour Counties',
 'Includes Ada, Boise, Canyon, Gem, and Owyhee Counties',
 'Includes the Metropolitan Divisions of Boston, MA; Cambridge-Newton-Framingham, MA; and Rockingham County-Strafford County, NH',
 'Includes Norfolk, Plymouth, and Suffolk Counties',
 'Includes Essex and Middlesex Counties',
 'Includes Rockingham and Strafford Counties',
 'Includes Boulder County',
 'Includes Allen, Butler, Edmonson, and Warren Counties',
 'Includes Fairfield County',
 'Includes Cameron County',
 'Includes Brantley, Glynn, and McIntosh Counties',
 'Includes Erie and Niagara Counties',
 'Includes Alamance County',
 'Includes Chittenden, Franklin, and Grand Isle Counties',
 "Includes St. Mary's County",
 'Includes Carroll and Stark Counties',
 'Includes Lee County',
 'Includes Alexander County, IL and Bollinger and Cape Girardeau Counties, MO',
 'Includes Carson City',
 'Includes Natrona County',
 'Includes Franklin County',
 'Includes Champaign and Piatt Counties',
 'Includes Boone, Clay, Jackson, Kanawha, and Lincoln Counties',
 'Includes Berkeley, Charleston, and Dorchester Counties',
 'Includes Anson, Cabarrus, Gaston, Iredell, Lincoln, Mecklenburg, Rowan, and Union Counties, NC and Chester, Lancaster, and York Counties, SC',
 'Includes Albemarle, Buckingham, Fluvanna, Greene, and Nelson Counties and Charlottesville City',
 'Includes Catoosa, Dade, and Walker Counties, GA and Hamilton, Marion, and Sequatchie Counties, TN',
 'Includes the Metropolitan Divisions of Chicago-Naperville-Evanston, IL; Elgin, IL; Gary, IN; and Lake County-Kenosha County, IL-WI',
 'Includes Cook, DuPage, Grundy, McHenry, and Will Counties,',
 'Includes DeKalb, Kane, and Kendall Counties',
 'Includes Jasper, Lake, Newton, and Porter Counties',
 'Includes Lake County, IL and Kenosha County, WI',
 'Includes Butte County',
 'Includes Dearborn, Franklin, Ohio, and Union Counties, IN; Boone, Bracken, Campbell, Gallatin, Grant, Kenton, and Pendleton Counties, KY; and Brown, Butler, Clermont, Hamilton, and Warren Counties, OH',
 'Includes Christian and Trigg Counties, KY and Montgomery and Stewart Counties, TN',
 'Includes Bradley and Polk Counties',
 'Includes Kootenai County',
 'Includes Brazos, Burleson, and Robertson Counties',
 'Includes El Paso and Teller Counties',
 'Includes Boone, Cooper, and Howard Counties',
 'Includes Calhoun, Fairfield, Kershaw, Lexington, Richland, and Saluda Counties',
 'Includes Bartholomew County',
 'Includes Delaware, Fairfield, Franklin, Hocking, Licking, Madison, Morrow, Perry, Pickaway, and Union Counties',
 'Includes Nueces and San Patricio Counties',
 'Includes Benton County',
 'Includes Okaloosa and Walton Counties',
 'Includes Allegany County, MD and Mineral County, WV',
 'Includes the Metropolitan Divisions of Dallas-Plano-Irving and Fort Worth-Arlington-Grapevine',
 'Includes Collin, Dallas, Denton, Ellis, Hunt, Kaufman, and Rockwall Counties',
 'Includes Johnson, Parker, Tarrant, and Wise Counties',
 'Includes Murray and Whitfield Counties',
 'Includes Vermilion County',
 'Includes Baldwin County',
 'Includes Greene, Miami, and Montgomery Counties',
 'Includes Macon County',
 'Includes Flagler and Volusia Counties',
 'Includes the Metropolitan Divisions of Detroit-Dearborn-Livonia and Warren-Troy-Farmington Hills',
 'Includes Wayne County',
 'Includes Lapeer, Livingston, Macomb, Oakland, and St. Clair Counties',
 'Includes Geneva, Henry, and Houston Counties',
 'Includes Kent County',
 'Includes Carlton, Lake, and St. Louis Counties, MN and Douglas County, WI',
 'Includes Monroe County',
 'Includes Chippewa and Eau Claire Counties',
 'Includes Imperial County',
 'Includes Hardin, Larue, and Meade Counties',
 'Includes Chemung County',
 'Includes El Paso and Hudspeth Counties',
 'Includes Garfield County',
 'Includes Erie County',
 'Includes Lane County',
 'Includes Posey, Vanderburgh, and Warrick Counties, IN and Henderson County, KY',
 'Includes Fairbanks North Star Borough',
 'Includes Clay County, MN and Cass County, ND',
 'Includes San Juan County',
 'Includes Benton, Madison, and Washington Counties',
 'Includes Coconino County',
 'Includes Genesee County',
 'Includes Darlington and Florence Counties',
 'Includes Colbert and Lauderdale Counties',
 'Includes Fond du Lac County',
 'Includes Larimer County',
 'Includes Crawford, Franklin, and Sebastian Counties, AR and Sequoyah County, OK',
 'Includes Allen and Whitley Counties',
 'Includes Fresno County',
 'Includes Etowah County',
 'Includes Alachua, Gilchrist, and Levy Counties',
 'Includes Hall County',
 'Includes Adams County',
 'Includes Warren and Washington Counties',
 'Includes Polk County, MN and Grand Forks County, ND',
 'Includes Hall, Howard, and Merrick Counties',
 'Includes Mesa County',
 'Includes Ionia, Kent, Montcalm, and Ottawa Counties',
 'Includes Josephine County',
 'Includes Weld County',
 'Includes Brown, Kewaunee, and Oconto Counties',
 'Includes Guilford, Randolph, and Rockingham Counties',
 'Includes Pitt County',
 'Includes Hancock, Harrison, Jackson, and Stone Counties',
 'Includes Washington County, MD and Berkeley and Morgan Counties, WV',
 'Includes Tangipahoa Parish',
 'Includes Kings County',
 'Includes Cumberland, Dauphin, and Perry Counties',
 'Includes Rockingham County and Harrisonburg City',
 'Includes Hartford, Middlesex, and Tolland Counties',
 'Includes Beaufort and Jasper Counties',
 'Includes Liberty and Long Counties',
 'Includes Citrus County',
 'Includes Garland County',
 'Includes Lafourche and Terrebonne Parishes',
 'Includes Austin, Brazoria, Chambers, Fort Bend, Galveston, Harris, Liberty, Montgomery, and Waller Counties',
 'Includes Bonneville, Butte, and Jefferson Counties',
 'Includes Boone, Brown, Hamilton, Hancock, Hendricks, Johnson, Madison, Marion, Morgan, Putnam, and Shelby Counties',
 'Includes Tompkins County',
 'Includes Jackson County',
 'Includes Chester, Crockett, Gibson, and Madison Counties',
 'Includes Baker, Clay, Duval, Nassau, and St. Johns Counties',
 'Includes Onslow County',
 'Includes Rock County',
 'Includes Callaway, Cole, Moniteau, and Osage Counties',
 'Includes Carter, Unicoi, and Washington Counties',
 'Includes Cambria County',
 'Includes Craighead and Poinsett Counties',
 'Includes Maui County',
 'Includes Kalamazoo County',
 'Includes Kankakee County',
 'Includes Benton and Franklin Counties',
 'Includes Bell, Coryell, and Lampasas Counties',
 'Includes Hawkins and Sullivan Counties, TN and Scott and Washington Counties and Bristol City, VA',
 'Includes Ulster County',
 'Includes Anderson, Blount, Campbell, Knox, Loudon, Morgan, Roane, and Union Counties',
 'Includes Howard County',
 'Includes Houston County, MN and La Crosse County, WI',
 'Includes Acadia, Iberia, Lafayette, St. Martin, and Vermilion Parishes',
 'Includes Benton, Carroll, Tippecanoe, and Warren Counties',
 'Includes Calcasieu and Cameron Parishes',
 'Includes Mohave County',
 'Includes Polk County',
 'Includes Lancaster County',
 'Includes Clinton, Eaton, Ingham, and Shiawassee Counties',
 'Includes Webb County',
 'Includes Clark County',
 'Includes Comanche and Cotton Counties',
 'Includes Lebanon County',
 'Includes Nez Perce County, ID and Asotin County, WA',
 'Includes Androscoggin County',
 'Includes Bourbon, Clark, Fayette, Jessamine, Scott, and Woodford Counties',
 'Includes Allen County',
 'Includes Lancaster and Seward Counties',
 'Includes Faulkner, Grant, Lonoke, Perry, Pulaski, and Saline Counties',
 'Includes Franklin County, ID and Cache County, UT',
 'Includes Gregg, Harrison, Rusk, and Upshur Counties',
 'Includes Cowlitz County',
 'Includes the Metropolitan Divisions of Anaheim-Santa Ana-Irvine and Los Angeles-Long Beach-Glendale ',
 'Includes Orange County',
 'Includes Los Angeles County',
 'Includes Crosby, Lubbock, and Lynn Counties',
 'Includes Amherst, Appomattox, Bedford, and Campbell Counties and Lynchburg City',
 'Includes Bibb, Crawford, Jones, Monroe, and Twiggs Counties',
 'Includes Madera County',
 'Includes Columbia, Dane, Green, and Iowa Counties',
 'Includes Hillsborough County',
 'Includes Geary, Pottawatomie, and Riley Counties',
 'Includes Blue Earth and Nicollet Counties',
 'Includes Richland County',
 'Includes Hidalgo County',
 'Includes Jackson County',
 'Includes Crittenden County, AR; DeSoto, Marshall, Tate, and Tunica Counties, MS; and Fayette, Shelby, and Tipton Counties, TN',
 'Includes Merced County',
 'Includes the Metropolitan Divisions of Fort Lauderdale-Pompano Beach-Sunrise, Miami-Miami Beach-Kendall, and West Palm Beach-Boca Raton-Boynton Beach',
 'Includes Broward County',
 'Includes Miami-Dade County',
 'Includes Palm Beach County',
 'Includes La Porte County',
 'Includes Midland County',
 'Includes Martin and Midland Counties',
 'Includes Milwaukee, Ozaukee, Washington, and Waukesha Counties',
 'Includes Anoka, Carver, Chisago, Dakota, Hennepin, Isanti, Le Sueur, Mille Lacs, Ramsey, Scott, Sherburne, Washington, and Wright Counties, MN and Pierce and St. Croix Counties, WI',
 'Includes Missoula County',
 'Includes Mobile and Washington Counties',
 'Includes Stanislaus County',
 'Includes Morehouse, Ouachita, and Union Parishes',
 'Includes Monroe County',
 'Includes Autauga, Elmore, Lowndes, and Montgomery Counties',
 'Includes Grainger, Hamblen, and Jefferson Counties',
 'Includes Skagit County',
 'Includes Delaware County',
 'Includes Muskegon County',
 'Includes Brunswick County, NC and Horry County, SC',
 'Includes Napa County',
 'Includes Collier County',
 'Includes Cannon, Cheatham, Davidson, Dickson, Macon, Maury, Robertson, Rutherford, Smith, Sumner, Trousdale, Williamson, and Wilson Counties ',
 'Includes Craven, Jones, and Pamlico Counties',
 'Includes New Haven County',
 'Includes Jefferson, Orleans, Plaquemines, St. Bernard, St. Charles, St. James, St. John the Baptist, and St. Tammany Parishes',
 'Includes Berrien County',
 'Includes Manatee and Sarasota Counties',
 'Includes New London County',
 'Includes Marion County',
 'Includes Cape May County',
 'Includes Ector County',
 'Includes Box Elder, Davis, Morgan, and Weber Counties',
 'Includes Canadian, Cleveland, Grady, Lincoln, Logan, McClain, and Oklahoma Counties',
 'Includes Thurston County',
 'Includes Lake, Orange, Osceola, and Seminole Counties',
 'Includes Daviess, Hancock, and McLean Counties',
 'Includes Ventura County',
 'Includes Brevard County',
 'Includes Bay County',
 'Includes Escambia and Santa Rosa Counties',
 'Includes Fulton, Marshall, Peoria, Stark, Tazewell, and Woodford Counties',
 'Includes the Metropolitan Divisions of Camden, NJ; Montgomery County-Bucks County-Chester County, PA; Philadelphia, PA; and Wilmington, DE-MD-NJ',
 'Includes Burlington, Camden, and Gloucester Counties',
 'Includes Bucks, Chester, and Montgomery Counties',
 'Includes Delaware and Philadelphia Counties',
 'Includes New Castle County, DE; Cecil County, MD; and Salem County, NJ',
 'Includes Maricopa and Pinal Counties',
 'Includes Cleveland, Jefferson, and Lincoln Counties',
 'Includes Allegheny, Armstrong, Beaver, Butler, Fayette, Washington, and Westmoreland Counties',
 'Includes Berkshire County',
 'Includes Bannock and Power Counties',
 'Includes Cumberland, Sagadahoc, and York Counties',
 'Includes Clackamas, Columbia, Multnomah, Washington, and Yamhill Counties, OR and Clark and Skamania Counties, WA',
 'Includes Martin and St. Lucie Counties',
 'Includes Dutchess and Orange Counties',
 'Includes Yavapai County',
 'Includes Bristol County, MA and Bristol, Kent, Newport, Providence, and Washington Counties, RI',
 'Includes Juab and Utah Counties',
 'Includes Pueblo County',
 'Includes Charlotte County',
 'Includes Racine County',
 'Includes Meade and Pennington Counties',
 'Includes Berks County',
 'Includes Shasta County',
 'Includes Storey and Washoe Counties',
 'Includes Amelia, Charles City, Chesterfield, Dinwiddie, Goochland, Hanover, Henrico, King and Queen, King William, New Kent, Powhatan, Prince George, and Sussex Counties and Colonial Heights, Hopewell, Petersburg, and Richmond Cities',
 'Includes Riverside and San Bernardino Counties',
 'Includes Botetourt, Craig, Franklin, and Roanoke Counties and Roanoke and Salem Cities',
 'Includes Dodge, Fillmore, Olmsted, and Wabasha Counties',
 'Includes Livingston, Monroe, Ontario, Orleans, Wayne, and Yates Counties',
 'Includes Boone and Winnebago Counties',
 'Includes Edgecombe and Nash Counties',
 'Includes El Dorado, Placer, Sacramento, and Yolo Counties',
 'Includes Saginaw County',
 'Includes Marion and Polk Counties',
 'Includes Monterey County',
 'Includes Sussex County, DE and Somerset, Wicomico, and Worcester Counties, MD',
 'Includes Salt Lake and Tooele Counties',
 'Includes Irion, Sterling, and Tom Green Counties',
 'Includes Atascosa, Bandera, Bexar, Comal, Guadalupe, Kendall, Medina, and Wilson Counties',
 'Includes San Diego County',
 'Includes the Metropolitan Divisions of Oakland-Berkeley-Livermore, San Francisco-San Mateo-Redwood City, and San Rafael',
 'Includes Alameda and Contra Costa Counties',
 'Includes San Francisco and San Mateo Counties',
 'Includes Marin County',
 'Includes San Benito and Santa Clara Counties',
 'Includes San Luis Obispo County',
 'Includes Santa Cruz County',
 'Includes Santa Fe County',
 'Includes Santa Barbara County',
 'Includes Sonoma County',
 'Includes Bryan, Chatham, and Effingham Counties',
 'Includes Lackawanna, Luzerne, and Wyoming Counties',
 'Includes the Metropolitan Divisions of Seattle-Bellevue-Kent and Tacoma-Lakewood',
 'Includes King,  and Snohomish Counties',
 'Includes Pierce County',
 'Includes Indian River County',
 'Includes Highlands County',
 'Includes Sheboygan County',
 'Includes Grayson County',
 'Includes Bossier, Caddo, and De Soto Parishes',
 'Includes Lincoln, McCook, Minnehaha, and Turner Counties',
 'Includes St. Joseph County, IN and Cass County, MI',
 'Includes Spokane and Stevens Counties',
 'Includes Menard and Sangamon Counties',
 'Includes Franklin, Hampden and Hampshire Counties',
 'Includes Christian, Dallas, Greene, Polk, and Webster Counties',
 'Includes Clark County',
 'Includes Centre County',
 'Includes Augusta County and Staunton and Waynesboro Cities ',
 'Includes Benton and Stearns Counties',
 'Includes Washington County',
 'Includes Doniphan County, KS and Andrew, Buchanan, and DeKalb Counties, MO',
 'Includes Bond, Calhoun, Clinton, Jersey, Macoupin, Madison, Monroe, and St. Clair Counties, IL and Franklin, Jefferson, Lincoln, St. Charles, St. Louis, and Warren Counties and St. Louis City, MO',
 'Includes San Joaquin County',
 'Includes Clarendon and Sumter Counties',
 'Includes Madison, Onondaga, and Oswego Counties',
 'Includes Gadsden, Jefferson, Leon, and Wakulla Counties',
 'Includes Hernando, Hillsborough, Pasco, and Pinellas Counties',
 'Includes Little River and Miller Counties, AR and Bowie County, TX',
 'Includes Sumter County',
 'Includes Fulton, Lucas, Ottawa, and Wood Counties',
 'Includes Jackson, Jefferson, Osage, Shawnee, and Wabaunsee Counties',
 'Includes Mercer County',
 'Includes Pima County',
 'Includes Creek, Okmulgee, Osage, Pawnee, Rogers, Tulsa, and Wagoner Counties',
 'Includes Greene, Hale, Pickens, and Tuscaloosa Counties',
 'Includes Jerome and Twin Falls Counties',
 'Includes Smith County',
 'Includes Honolulu County',
 'Includes Herkimer and Oneida Counties',
 'Includes Solano County',
 'Includes Goliad and Victoria Counties',
 'Includes Cumberland County',
 'Includes Camden, Currituck and Gates Counties, NC and Gloucester, Isle of Wight, James City, Mathews, Southampton, and York Counties and Chesapeake, Franklin, Hampton, Newport News, Norfolk, Poquoson, Portsmouth, Suffolk, Virginia Beach, and Williamsburg Cities, VA                       ',
 'Includes Tulare County',
 'Includes Falls and McLennan Counties',
 'Includes Walla Walla County',
 'Includes Houston and Peach Counties',
 'Includes the Metropolitan Divisions of Frederick-Gaithersburg-Rockville, MD and Washington-Arlington-Alexandria, DC-VA-MD-WV',
 'Includes Frederick and Montgomery Counties',
 "Includes District of Columbia; Calvert, Charles, and Prince George's Counties, MD; Arlington, Clarke, Culpeper, Fairfax, Fauquier, Loudoun, Madison, Prince William, Rappahannock, Spotsylvania, Stafford, and Warren Counties and Alexandria, Fairfax, Falls Church, Fredericksburg, Manassas, and Manassas Park Cities, VA; and Jefferson County, WV",
 'Includes Jefferson County',
 'Includes Lincoln and Marathon Counties',
 'Includes Jefferson County, OH and Brooke and Hancock Counties, WV',
 'Includes Chelan and Douglas Counties',
 'Includes Belmont County, OH and Marshall and Ohio Counties, WV',
 'Includes Butler, Harvey, Sedgwick, and Sumner Counties',
 'Includes Archer, Clay, and Wichita Counties',
 'Includes Lycoming County',
 'Includes New Hanover and Pender Counties',
 'Includes Frederick County and Winchester City, VA and Hampshire County, WV',
 'Includes Windham County, CT and Worcester County, MA',
 'Includes Yakima County',
 'Includes York County',
 'Includes Sutter and Yuba Counties',
 'Includes Yuma County']

In [17]:
#Check if the number of remaining items in the list the same as the number of metropolitan areas?
print(len(MSA_list), len(county_list))

364 364

In [18]:
#Create basic dataframe from MSA_list and county_list
MSA_to_counties_cities_df = pd.DataFrame(list(zip(MSA_list, county_list)), columns = ['MSA', 'County/City'])
MSA_to_counties_cities_df

,MSA,County/City
0,"Abilene, TX M.S.A.","Includes Callahan, Jones, and Taylor Counties"
1,"Akron, OH M.S.A.",Includes Portage and Summit Counties
2,"Albany, GA M.S.A.","Includes Dougherty, Lee, Terrell, and Worth Co..."
3,"Albany-Schenectady-Troy, NY M.S.A.","Includes Albany, Rensselaer, Saratoga, Schenec..."
4,"Albuquerque, NM M.S.A.","Includes Bernalillo, Sandoval, Torrance, and V..."
...,...,...
359,"Worcester, MA-CT M.S.A.","Includes Windham County, CT and Worcester Coun..."
360,"Yakima, WA M.S.A.",Includes Yakima County
361,"York-Hanover, PA M.S.A.",Includes York County
362,"Yuba City, CA M.S.A.",Includes Sutter and Yuba Counties
363,"Yuma, AZ M.S.A.",Includes Yuma County

### Process Counties/Cities to isolate counties and cities for each MSA

#### Single State MSA's

In [19]:
#Identify single state MSA's
singleState_countiesCities_MSA_df = MSA_to_counties_cities_df[~MSA_to_counties_cities_df['MSA'].str.contains("[A-Z][A-Z]-[A-Z][A-Z]")]
singleState_countiesCities_MSA_df['MSA'].tolist()

['Abilene, TX M.S.A.',
 'Akron, OH M.S.A.',
 'Albany, GA M.S.A.',
 'Albany-Schenectady-Troy, NY M.S.A.',
 'Albuquerque, NM M.S.A.',
 'Alexandria, LA M.S.A.',
 'Altoona, PA M.S.A.',
 'Amarillo, TX M.S.A.',
 'Anchorage, AK M.S.A.',
 'Ann Arbor, MI M.S.A.',
 'Anniston-Oxford, AL M.S.A.',
 'Appleton, WI M.S.A.',
 'Asheville, NC M.S.A.',
 'Atlanta-Sandy Springs-Alpharetta, GA M.S.A.',
 'Atlantic City-Hammonton, NJ M.S.A.',
 'Auburn-Opelika, AL M.S.A',
 'Austin-Round Rock-Georgetown, TX M.S.A.',
 'Bakersfield, CA M.S.A.',
 'Baltimore-Columbia-Towson, MD M.S.A.',
 'Bangor, ME M.S.A.',
 'Barnstable Town, MA M.S.A.',
 'Baton Rouge, LA M.S.A.',
 'Battle Creek, MI M.S.A',
 'Bay City, MI M.S.A.',
 'Beaumont-Port Arthur, TX M.S.A.',
 'Beckley, WV M.S.A',
 'Bellingham, WA M.S.A',
 'Bend, OR M.S.A.',
 'Billings, MT M.S.A.',
 'Binghamton, NY M.S.A.',
 'Bismarck, ND M.S.A.',
 'Blacksburg-Christiansburg, VA M.S.A.',
 'Bloomington, IL M.S.A.',
 'Bloomington, IN M.S.A.',
 'Bloomsburg-Berwick, PA M.S.A',
 'Boise City, ID M.S.A.',
 'Boston, MA M.D.',
 'Cambridge-Newton-Framingham, MA M.D.',
 'Rockingham County-Strafford County, NH M.D.',
 'Boulder, CO M.S.A.',
 'Bowling Green, KY M.S.A.',
 'Bridgeport-Stamford-Norwalk, CT M.S.A.',
 'Brownsville-Harlingen, TX M.S.A.',
 'Brunswick, GA M.S.A.',
 'Buffalo-Cheektowaga, NY M.S.A.',
 'Burlington, NC M.S.A.',
 'Burlington-South Burlington, VT M.S.A.',
 'California-Lexington Park, MD M.S.A.',
 'Canton-Massillon, OH M.S.A.',
 'Cape Coral-Fort Myers, FL M.S.A.',
 'Carson City, NV M.S.A.',
 'Casper, WY M.S.A.',
 'Chambersburg-Waynesboro, PA M.S.A.',
 'Champaign-Urbana, IL M.S.A.',
 'Charleston, WV M.S.A.',
 'Charleston-North Charleston, SC M.S.A.',
 'Charlottesville, VA M.S.A.',
 'Chicago-Naperville-Evanston, IL M.D., ',
 'Elgin, IL M.D.',
 'Gary, IN M.D.',
 'Chico, CA M.S.A.',
 'Cleveland, TN M.S.A.',
 "Coeur d'Alene, ID M.S.A.",
 'College Station-Bryan, TX M.S.A.',
 'Colorado Springs, CO M.S.A.',
 'Columbia, MO M.S.A.',
 'Columbia, SC M.S.A.',
 'Columbus, IN M.S.A.',
 'Columbus, OH M.S.A.',
 'Corpus Christi, TX M.S.A.',
 'Corvallis, OR M.S.A.',
 'Crestview-Fort Walton Beach-Destin, FL M.S.A.',
 'Dallas-Fort Worth-Arlington, TX M.S.A.',
 'Dallas-Plano-Irving, TX M.D.',
 'Fort Worth-Arlington-Grapevine, TX M.D.',
 'Dalton, GA M.S.A.',
 'Danville, IL M.S.A.',
 'Daphne-Fairhope-Foley, AL M.S.A.',
 'Dayton-Kettering, OH M.S.A.',
 'Decatur, IL M.S.A.',
 'Deltona-Daytona Beach-Ormond Beach, FL M.S.A.',
 'Detroit-Warren-Dearborn, MI M.S.A.',
 'Detroit-Dearborn-Livonia, MI M.D.',
 'Warren-Troy-Farmington Hills, MI M.D.',
 'Dothan, AL M.S.A.',
 'Dover, DE M.S.A.',
 'East Stroudsburg, PA M.S.A.',
 'Eau Claire, WI M.S.A.',
 'El Centro, CA M.S.A.',
 'Elizabethtown-Fort Knox, KY M.S.A.',
 'Elmira, NY M.S.A.',
 'El Paso, TX M.S.A.',
 'Enid, OK M.S.A.',
 'Erie, PA M.S.A.',
 'Eugene-Springfield, OR M.S.A.',
 'Fairbanks, AK M.S.A.',
 'Farmington, NM M.S.A.',
 'Fayetteville-Springdale-Rogers, AR M.S.A.',
 'Flagstaff, AZ M.S.A.',
 'Flint, MI M.S.A.',
 'Florence, SC M.S.A.',
 'Florence-Muscle Shoals, AL M.S.A.',
 'Fond du Lac, WI M.S.A.',
 'Fort Collins, CO M.S.A.',
 'Fort Wayne, IN M.S.A.',
 'Fresno, CA M.S.A.',
 'Gadsden, AL M.S.A.',
 'Gainesville, FL M.S.A.',
 'Gainesville, GA M.S.A.',
 'Gettysburg, PA M.S.A.',
 'Glens Falls, NY M.S.A.',
 'Grand Island, NE M.S.A.',
 'Grand Junction, CO M.S.A.',
 'Grand Rapids-Kentwood, MI M.S.A.',
 'Grants Pass, OR M.S.A.',
 'Greeley, CO M.S.A.',
 'Green Bay, WI M.S.A.',
 'Greensboro-High Point, NC M.S.A.',
 'Greenville, NC M.S.A.',
 'Gulfport-Biloxi, MS M.S.A.',
 'Hammond, LA M.S.A.',
 'Hanford-Corcoran, CA M.S.A.',
 'Harrisburg-Carlisle, PA M.S.A.',
 'Harrisonburg, VA M.S.A.',
 'Hartford-East Hartford-Middletown, CT M.S.A.',
 'Hilton Head Island-Bluffton, SC M.S.A.',
 'Hinesville, GA M.S.A.',
 'Homosassa Springs, FL M.S.A.',
 'Hot Springs, AR M.S.A.',
 'Houma-Thibodaux, LA M.S.A.',
 'Houston-The Woodlands-Sugar Land, TX M.S.A., ',
 'Idaho Falls, ID M.S.A.',
 'Indianapolis-Carmel-Anderson, IN M.S.A.',
 'Ithaca, NY M.S.A',
 'Jackson, MI M.S.A.',
 'Jackson, TN M.S.A.',
 'Jacksonville, FL M.S.A.',
 'Jacksonville, NC M.S.A.',
 'Janesville-Beloit, WI M.S.A.',
 'Jefferson City, MO M.S.A.',
 'Johnson City, TN M.S.A.',
 'Johnstown, PA M.S.A.',
 'Jonesboro, AR M.S.A.',
 'Kahului-Wailuku-Lahaina, HI M.S.A.',
 'Kalamazoo-Portage, MI M.S.A.',
 'Kankakee, IL M.S.A.',
 'Kennewick-Richland, WA M.S.A.',
 'Killeen-Temple, TX M.S.A.',
 'Kingston, NY M.S.A.',
 'Knoxville, TN M.S.A.',
 'Kokomo, IN M.S.A.',
 'Lafayette, LA M.S.A.',
 'Lafayette-West Lafayette, IN M.S.A.',
 'Lake Charles, LA M.S.A.',
 'Lake Havasu City-Kingman, AZ M.S.A.',
 'Lakeland-Winter Haven, FL M.S.A.',
 'Lancaster, PA M.S.A.',
 'Lansing-East Lansing, MI M.S.A.',
 'Laredo, TX M.S.A.',
 'Las Vegas-Henderson-Paradise, NV M.S.A.',
 'Lawton, OK M.S.A.',
 'Lebanon, PA M.S.A.',
 'Lewiston-Auburn, ME M.S.A.',
 'Lexington-Fayette, KY M.S.A.',
 'Lima, OH M.S.A.',
 'Lincoln, NE M.S.A.',
 'Little Rock-North Little Rock-Conway, AR M.S.A.',
 'Longview, TX M.S.A., ',
 'Longview, WA M.S.A.',
 'Los Angeles-Long Beach-Anaheim, CA M.S.A.',
 'Anaheim-Santa Ana-Irvine, CA M.D.',
 'Los Angeles-Long Beach-Glendale, CA M.D.',
 'Lubbock, TX M.S.A.',
 'Lynchburg, VA M.S.A.',
 'Macon-Bibb County, GA M.S.A.',
 'Madera, CA M.S.A.',
 'Madison, WI M.S.A.',
 'Manchester-Nashua, NH M.S.A.',
 'Manhattan, KS M.S.A.',
 'Mankato, MN M.S.A.',
 'Mansfield, OH M.S.A.',
 'McAllen-Edinburg-Mission, TX M.S.A.',
 'Medford, OR M.S.A.',
 'Merced, CA M.S.A.',
 'Miami-Fort Lauderdale-Pompano Beach, FL M.S.A.',
 'Fort Lauderdale-Pompano Beach-Deerfield Beach, FL M.D.',
 'Miami-Miami Beach-Kendall, FL M.D.',
 'West Palm Beach-Boca Raton-Boynton Beach, FL M.D.',
 'Michigan City-La Porte, IN M.S.A.',
 'Midland, MI M.S.A.',
 'Midland, TX M.S.A.',
 'Milwaukee-Waukesha, WI M.S.A.',
 'Missoula, MT M.S.A.',
 'Mobile, AL M.S.A.',
 'Modesto, CA M.S.A.',
 'Monroe, LA M.S.A.',
 'Monroe, MI M.S.A.',
 'Montgomery, AL M.S.A.',
 'Morristown, TN M.S.A.',
 'Mount Vernon-Anacortes, WA M.S.A.',
 'Muncie, IN M.S.A.',
 'Muskegon, MI M.S.A.',
 'Napa, CA M.S.A.',
 'Naples-Marco Island, FL M.S.A.',
 'Nashville-Davidson–Murfreesboro–Franklin, TN M.S.A.',
 'New Bern, NC M.S.A.',
 'New Haven-Milford, CT M.S.A.',
 'New Orleans-Metairie, LA M.S.A.',
 'Niles, MI M.S.A.',
 'North Port-Sarasota-Bradenton, FL M.S.A.',
 'Norwich-New London, CT M.S.A.',
 'Ocala, FL M.S.A.',
 'Ocean City, NJ M.S.A.',
 'Odessa, TX M.S.A.',
 'Ogden-Clearfield, UT M.S.A.',
 'Oklahoma City, OK M.S.A.',
 'Olympia-Lacey-Tumwater, WA M.S.A.',
 'Orlando-Kissimmee-Sanford, FL M.S.A.',
 'Owensboro, KY M.S.A.',
 'Oxnard-Thousand Oaks-Ventura, CA M.S.A.',
 'Palm Bay-Melbourne-Titusville, FL M.S.A.',
 'Panama City, FL M.S.A.',
 'Pensacola-Ferry Pass-Brent, FL M.S.A.',
 'Peoria, IL M.S.A.',
 'Camden, NJ M.D.',
 'Montgomery County-Bucks County-Chester County, PA M.D.',
 'Philadelphia, PA M.D.',
 'Phoenix-Mesa-Chandler, AZ M.S.A.',
 'Pine Bluff, AR M.S.A',
 'Pittsburgh, PA M.S.A.',
 'Pittsfield, MA M.S.A.',
 'Pocatello, ID M.S.A.',
 'Portland-South Portland, ME M.S.A.',
 'Port St. Lucie, FL M.S.A.',
 'Poughkeepsie-Newburg-Middletown, NY M.S.A.',
 'Prescott Valley-Prescott, AZ M.S.A.',
 'Provo-Orem, UT M.S.A.',
 'Pueblo, CO M.S.A.',
 'Punta Gorda, FL M.S.A.',
 'Racine, WI M.S.A.',
 'Rapid City, SD M.S.A.',
 'Reading, PA M.S.A.',
 'Redding, CA M.S.A.',
 'Reno, NV M.S.A.',
 'Richmond, VA M.S.A.',
 'Riverside-San Bernardino-Ontario, CA M.S.A.',
 'Roanoke, VA M.S.A.',
 'Rochester, MN M.S.A.',
 'Rochester, NY M.S.A.',
 'Rockford, IL M.S.A.',
 'Rocky Mount, NC M.S.A.',
 'Sacramento-Roseville-Folsom, CA M.S.A.',
 'Saginaw, MI M.S.A.',
 'Salem, OR M.S.A.',
 'Salinas, CA M.S.A.',
 'Salt Lake City, UT M.S.A.',
 'San Angelo, TX M.S.A.',
 'San Antonio-New Braunfels, TX M.S.A., ',
 'San Diego-Chula Vista-Carlsbad, CA M.S.A.',
 'San Francisco-Oakland-Berkeley, CA M.S.A.',
 'Oakland-Berkeley-Livermore, CA M.D.',
 'San Francisco-San Mateo-Redwood City, CA M.D.',
 'San Rafael, CA M.D.',
 'San Jose-Sunnyvale-Santa Clara, CA M.S.A.',
 'San Luis Obispo-Paso Robles, CA M.S.A.',
 'Santa Cruz-Watsonville, CA M.S.A.',
 'Santa Fe, NM M.S.A.',
 'Santa Maria-Santa Barbara, CA M.S.A.',
 'Santa Rosa-Petaluma, CA M.S.A.',
 'Savannah, GA M.S.A.',
 'Scranton–Wilkes-Barre, PA M.S.A.',
 'Seattle-Tacoma-Bellevue, WA M.S.A., ',
 'Seattle-Bellevue-Kent, WA M.D., ',
 'Tacoma-Lakewood, WA M.D.',
 'Sebastian-Vero Beach, FL M.S.A.',
 'Sebring-Avon Park, FL M.S.A.',
 'Sheboygan, WI M.S.A.',
 'Sherman-Denison, TX M.S.A.',
 'Shreveport-Bossier City, LA M.S.A.',
 'Sioux Falls, SD M.S.A.',
 'Spokane-Spokane Valley, WA M.S.A.',
 'Springfield, IL M.S.A.',
 'Springfield, MA M.S.A.',
 'Springfield, MO M.S.A.',
 'Springfield, OH M.S.A.',
 'State College, PA M.S.A.',
 'Staunton, VA M.S.A.',
 'St. Cloud, MN M.S.A.',
 'St. George, UT M.S.A.',
 'Stockton, CA M.S.A.',
 'Sumter, SC M.S.A.',
 'Syracuse, NY M.S.A.',
 'Tallahassee, FL M.S.A.',
 'Tampa-St. Petersburg-Clearwater, FL M.S.A.',
 'The Villages, FL M.S.A.',
 'Toledo, OH M.S.A.',
 'Topeka, KS M.S.A.',
 'Trenton-Princeton, NJ M.S.A.',
 'Tucson, AZ M.S.A.',
 'Tulsa, OK M.S.A.',
 'Tuscaloosa, AL M.S.A.',
 'Twin Falls, ID M.S.A.',
 'Tyler, TX M.S.A.',
 'Urban Honolulu, HI M.S.A.',
 'Utica-Rome, NY M.S.A.',
 'Vallejo, CA M.S.A.',
 'Victoria, TX M.S.A.',
 'Vineland-Bridgeton, NJ M.S.A.',
 'Visalia, CA M.S.A.',
 'Waco, TX M.S.A.',
 'Walla Walla, WA M.S.A.',
 'Warner Robins, GA M.S.A.',
 'Frederick-Gaithersburg-Rockville, MD M.D.',
 'Watertown-Fort Drum, NY M.S.A.',
 'Wausau-Weston, WI M.S.A.',
 'Wenatchee, WA M.S.A.',
 'Wichita, KS M.S.A.',
 'Wichita Falls, TX M.S.A.',
 'Williamsport, PA M.S.A.',
 'Wilmington, NC M.S.A.',
 'Yakima, WA M.S.A.',
 'York-Hanover, PA M.S.A.',
 'Yuba City, CA M.S.A.',
 'Yuma, AZ M.S.A.']

Now we need to map state codes to states and make a new column with states for both single state MSA's and then multi state MSA's

#### Divide between counties only and cities and process separately

##### Single State Counties only

In [20]:
#Process single state MSA
singleState_countiesCities_MSA_df

,MSA,County/City
0,"Abilene, TX M.S.A.","Includes Callahan, Jones, and Taylor Counties"
1,"Akron, OH M.S.A.",Includes Portage and Summit Counties
2,"Albany, GA M.S.A.","Includes Dougherty, Lee, Terrell, and Worth Co..."
3,"Albany-Schenectady-Troy, NY M.S.A.","Includes Albany, Rensselaer, Saratoga, Schenec..."
4,"Albuquerque, NM M.S.A.","Includes Bernalillo, Sandoval, Torrance, and V..."
...,...,...
357,"Wilmington, NC M.S.A.",Includes New Hanover and Pender Counties
360,"Yakima, WA M.S.A.",Includes Yakima County
361,"York-Hanover, PA M.S.A.",Includes York County
362,"Yuba City, CA M.S.A.",Includes Sutter and Yuba Counties
363,"Yuma, AZ M.S.A.",Includes Yuma County

We need to find the rows with cities first. Then we can identify the county-only rows.

In [21]:
#Searching for keyword 'city'
singleState_cities_MSA_df = singleState_countiesCities_MSA_df[singleState_countiesCities_MSA_df['County/City'].str.contains("City")]
singleState_cities_MSA_df

,MSA,County/City
20,"Baltimore-Columbia-Towson, MD M.S.A.","Includes Anne Arundel, Baltimore, Carroll, Har..."
33,"Blacksburg-Christiansburg, VA M.S.A.","Includes Giles, Montgomery, and Pulaski Counti..."
54,"Carson City, NV M.S.A.",Includes Carson City
61,"Charlottesville, VA M.S.A.","Includes Albemarle, Buckingham, Fluvanna, Gree..."
140,"Harrisonburg, VA M.S.A.",Includes Rockingham County and Harrisonburg City
194,"Lynchburg, VA M.S.A.","Includes Amherst, Appomattox, Bedford, and Cam..."
272,"Richmond, VA M.S.A.","Includes Amelia, Charles City, Chesterfield, D..."
288,"San Francisco-Oakland-Berkeley, CA M.S.A.",Includes the Metropolitan Divisions of Oakland...

In [22]:
#Searching for keyword 'cities'
singleState_cities_MSA_df2 = singleState_countiesCities_MSA_df[singleState_countiesCities_MSA_df['County/City'].str.contains("Cities")]
singleState_cities_MSA_df2

                     MSA                                        County/City
272  Richmond, VA M.S.A.  Includes Amelia, Charles City, Chesterfield, D...
274   Roanoke, VA M.S.A.  Includes Botetourt, Craig, Franklin, and Roano...
316  Staunton, VA M.S.A.  Includes Augusta County and Staunton and Wayne...

In [23]:
#Join the two 'city' dataframes to get all non county-only entries
singleState_cities_MSA_df = pd.concat([singleState_cities_MSA_df, singleState_cities_MSA_df2]).drop_duplicates()
singleState_cities_MSA_df

,MSA,County/City
20,"Baltimore-Columbia-Towson, MD M.S.A.","Includes Anne Arundel, Baltimore, Carroll, Har..."
33,"Blacksburg-Christiansburg, VA M.S.A.","Includes Giles, Montgomery, and Pulaski Counti..."
54,"Carson City, NV M.S.A.",Includes Carson City
61,"Charlottesville, VA M.S.A.","Includes Albemarle, Buckingham, Fluvanna, Gree..."
140,"Harrisonburg, VA M.S.A.",Includes Rockingham County and Harrisonburg City
194,"Lynchburg, VA M.S.A.","Includes Amherst, Appomattox, Bedford, and Cam..."
272,"Richmond, VA M.S.A.","Includes Amelia, Charles City, Chesterfield, D..."
288,"San Francisco-Oakland-Berkeley, CA M.S.A.",Includes the Metropolitan Divisions of Oakland...
274,"Roanoke, VA M.S.A.","Includes Botetourt, Craig, Franklin, and Roano..."
316,"Staunton, VA M.S.A.",Includes Augusta County and Staunton and Wayne...

In [24]:
#Get a dataframe with just the single state counties
cities_df = singleState_countiesCities_MSA_df.index.isin([20,33,54,61,140,194,272,274,288,316])

singleState_counties_df = singleState_countiesCities_MSA_df[~cities_df]
singleState_counties_df

,MSA,County/City
0,"Abilene, TX M.S.A.","Includes Callahan, Jones, and Taylor Counties"
1,"Akron, OH M.S.A.",Includes Portage and Summit Counties
2,"Albany, GA M.S.A.","Includes Dougherty, Lee, Terrell, and Worth Co..."
3,"Albany-Schenectady-Troy, NY M.S.A.","Includes Albany, Rensselaer, Saratoga, Schenec..."
4,"Albuquerque, NM M.S.A.","Includes Bernalillo, Sandoval, Torrance, and V..."
...,...,...
357,"Wilmington, NC M.S.A.",Includes New Hanover and Pender Counties
360,"Yakima, WA M.S.A.",Includes Yakima County
361,"York-Hanover, PA M.S.A.",Includes York County
362,"Yuba City, CA M.S.A.",Includes Sutter and Yuba Counties
363,"Yuma, AZ M.S.A.",Includes Yuma County

In [25]:
singleState_counties_df['County/City'] = singleState_counties_df['County/City'].str.replace("Includes", "")
singleState_counties_df['County/City'] = singleState_counties_df['County/City'].str.replace("Counties", "")
singleState_counties_df['County/City'] = singleState_counties_df['County/City'].str.replace("County", "")
singleState_counties_df['County/City'] = singleState_counties_df['County/City'].str.replace(" and ", ",")

singleState_counties_df

<ipython-input-25-431a7447a96d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  singleState_counties_df['County/City'] = singleState_counties_df['County/City'].str.replace("Includes", "")
<ipython-input-25-431a7447a96d>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  singleState_counties_df['County/City'] = singleState_counties_df['County/City'].str.replace("Counties", "")
<ipython-input-25-431a7447a96d>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  singleState_counties_df['County/City'] = singleState_counties_df['County/City'].str.replace("County", "")
<ipython-input-25-431a7447a96d>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  singleState_counties_df['County/City'] = singleState_counties_df['County/City'].str.replace(" and ", ",")

,MSA,County/City
0,"Abilene, TX M.S.A.","Callahan, Jones,,Taylor"
1,"Akron, OH M.S.A.","Portage,Summit"
2,"Albany, GA M.S.A.","Dougherty, Lee, Terrell,,Worth"
3,"Albany-Schenectady-Troy, NY M.S.A.","Albany, Rensselaer, Saratoga, Schenectady,,Sc..."
4,"Albuquerque, NM M.S.A.","Bernalillo, Sandoval, Torrance,,Valencia"
...,...,...
357,"Wilmington, NC M.S.A.","New Hanover,Pender"
360,"Yakima, WA M.S.A.",Yakima
361,"York-Hanover, PA M.S.A.",York
362,"Yuba City, CA M.S.A.","Sutter,Yuba"
363,"Yuma, AZ M.S.A.",Yuma

In [26]:
singleState_counties_list = singleState_counties_df['County/City'].tolist()
singleState_counties_list

[' Callahan, Jones,,Taylor ',
 ' Portage,Summit ',
 ' Dougherty, Lee, Terrell,,Worth ',
 ' Albany, Rensselaer, Saratoga, Schenectady,,Schoharie ',
 ' Bernalillo, Sandoval, Torrance,,Valencia ',
 ' Grant,Rapides Parishes',
 ' Blair ',
 ' Armstrong, Carson, Oldham, Potter,,Randall ',
 ' Anchorage Municipality,Matanuska-Susitna Borough',
 ' Washtenaw ',
 ' Calhoun ',
 ' Calumet,Outagamie ',
 ' Buncombe, Haywood, Henderson,,Madison ',
 ' Barrow, Bartow, Butts, Carroll, Cherokee, Clayton, Cobb, Coweta, Dawson, DeKalb, Douglas, Fayette, Forsyth, Fulton, Gwinnett, Haralson, Heard, Henry, Jasper, Lamar, Meriwether, Morgan, Newton, Paulding, Pickens, Pike, Rockdale, Spalding,,Walton ',
 ' Atlantic ',
 ' Lee ',
 ' Bastrop, Caldwell, Hays, Travis,,Williamson ',
 ' Kern ',
 ' Penobscot ',
 ' Barnstable ',
 ' Ascension, Assumption, East Baton Rouge, East Feliciana, Iberville, Livingston, Pointe Coupee, St. Helena, West Baton Rouge,,West Feliciana Parishes',
 ' Calhoun ',
 ' Bay ',
 ' Hardin, Jefferson,,Orange ',
 ' Fayette,Raleigh ',
 ' Whatcom ',
 ' Deschutes ',
 ' Carbon, Stillwater,,Yellowstone ',
 ' Broome,Tioga ',
 ' Burleigh, Morton,,Oliver ',
 ' McLean ',
 ' Monroe,Owen ',
 ' Columbia,Montour ',
 ' Ada, Boise, Canyon, Gem,,Owyhee ',
 ' Norfolk, Plymouth,,Suffolk ',
 ' Essex,Middlesex ',
 ' Rockingham,Strafford ',
 ' Boulder ',
 ' Allen, Butler, Edmonson,,Warren ',
 ' Fairfield ',
 ' Cameron ',
 ' Brantley, Glynn,,McIntosh ',
 ' Erie,Niagara ',
 ' Alamance ',
 ' Chittenden, Franklin,,Grand Isle ',
 " St. Mary's ",
 ' Carroll,Stark ',
 ' Lee ',
 ' Natrona ',
 ' Franklin ',
 ' Champaign,Piatt ',
 ' Boone, Clay, Jackson, Kanawha,,Lincoln ',
 ' Berkeley, Charleston,,Dorchester ',
 ' Cook, DuPage, Grundy, McHenry,,Will ,',
 ' DeKalb, Kane,,Kendall ',
 ' Jasper, Lake, Newton,,Porter ',
 ' Butte ',
 ' Bradley,Polk ',
 ' Kootenai ',
 ' Brazos, Burleson,,Robertson ',
 ' El Paso,Teller ',
 ' Boone, Cooper,,Howard ',
 ' Calhoun, Fairfield, Kershaw, Lexington, Richland,,Saluda ',
 ' Bartholomew ',
 ' Delaware, Fairfield, Franklin, Hocking, Licking, Madison, Morrow, Perry, Pickaway,,Union ',
 ' Nueces,San Patricio ',
 ' Benton ',
 ' Okaloosa,Walton ',
 ' the Metropolitan Divisions of Dallas-Plano-Irving,Fort Worth-Arlington-Grapevine',
 ' Collin, Dallas, Denton, Ellis, Hunt, Kaufman,,Rockwall ',
 ' Johnson, Parker, Tarrant,,Wise ',
 ' Murray,Whitfield ',
 ' Vermilion ',
 ' Baldwin ',
 ' Greene, Miami,,Montgomery ',
 ' Macon ',
 ' Flagler,Volusia ',
 ' the Metropolitan Divisions of Detroit-Dearborn-Livonia,Warren-Troy-Farmington Hills',
 ' Wayne ',
 ' Lapeer, Livingston, Macomb, Oakland,,St. Clair ',
 ' Geneva, Henry,,Houston ',
 ' Kent ',
 ' Monroe ',
 ' Chippewa,Eau Claire ',
 ' Imperial ',
 ' Hardin, Larue,,Meade ',
 ' Chemung ',
 ' El Paso,Hudspeth ',
 ' Garfield ',
 ' Erie ',
 ' Lane ',
 ' Fairbanks North Star Borough',
 ' San Juan ',
 ' Benton, Madison,,Washington ',
 ' Coconino ',
 ' Genesee ',
 ' Darlington,Florence ',
 ' Colbert,Lauderdale ',
 ' Fond du Lac ',
 ' Larimer ',
 ' Allen,Whitley ',
 ' Fresno ',
 ' Etowah ',
 ' Alachua, Gilchrist,,Levy ',
 ' Hall ',
 ' Adams ',
 ' Warren,Washington ',
 ' Hall, Howard,,Merrick ',
 ' Mesa ',
 ' Ionia, Kent, Montcalm,,Ottawa ',
 ' Josephine ',
 ' Weld ',
 ' Brown, Kewaunee,,Oconto ',
 ' Guilford, Randolph,,Rockingham ',
 ' Pitt ',
 ' Hancock, Harrison, Jackson,,Stone ',
 ' Tangipahoa Parish',
 ' Kings ',
 ' Cumberland, Dauphin,,Perry ',
 ' Hartford, Middlesex,,Tolland ',
 ' Beaufort,Jasper ',
 ' Liberty,Long ',
 ' Citrus ',
 ' Garland ',
 ' Lafourche,Terrebonne Parishes',
 ' Austin, Brazoria, Chambers, Fort Bend, Galveston, Harris, Liberty, Montgomery,,Waller ',
 ' Bonneville, Butte,,Jefferson ',
 ' Boone, Brown, Hamilton, Hancock, Hendricks, Johnson, Madison, Marion, Morgan, Putnam,,Shelby ',
 ' Tompkins ',
 ' Jackson ',
 ' Chester, Crockett, Gibson,,Madison ',
 ' Baker, Clay, Duval, Nassau,,St. Johns ',
 ' Onslow ',
 ' Rock ',
 ' Callaway, Cole, Moniteau,,Osage ',
 ' Carter, Unicoi,,Washington ',
 ' Cambria ',
 ' Craighead,Poinsett ',
 ' Maui ',
 ' Kalamazoo ',
 ' Kankakee ',
 ' Benton,Franklin ',
 ' Bell, Coryell,,Lampasas ',
 ' Ulster ',
 ' Anderson, Blount, Campbell, Knox, Loudon, Morgan, Roane,,Union ',
 ' Howard ',
 ' Acadia, Iberia, Lafayette, St. Martin,,Vermilion Parishes',
 ' Benton, Carroll, Tippecanoe,,Warren ',
 ' Calcasieu,Cameron Parishes',
 ' Mohave ',
 ' Polk ',
 ' Lancaster ',
 ' Clinton, Eaton, Ingham,,Shiawassee ',
 ' Webb ',
 ' Clark ',
 ' Comanche,Cotton ',
 ' Lebanon ',
 ' Androscoggin ',
 ' Bourbon, Clark, Fayette, Jessamine, Scott,,Woodford ',
 ' Allen ',
 ' Lancaster,Seward ',
 ' Faulkner, Grant, Lonoke, Perry, Pulaski,,Saline ',
 ' Gregg, Harrison, Rusk,,Upshur ',
 ' Cowlitz ',
 ' the Metropolitan Divisions of Anaheim-Santa Ana-Irvine,Los Angeles-Long Beach-Glendale ',
 ' Orange ',
 ' Los Angeles ',
 ' Crosby, Lubbock,,Lynn ',
 ' Bibb, Crawford, Jones, Monroe,,Twiggs ',
 ' Madera ',
 ' Columbia, Dane, Green,,Iowa ',
 ' Hillsborough ',
 ' Geary, Pottawatomie,,Riley ',
 ' Blue Earth,Nicollet ',
 ' Richland ',
 ' Hidalgo ',
 ' Jackson ',
 ' Merced ',
 ' the Metropolitan Divisions of Fort Lauderdale-Pompano Beach-Sunrise, Miami-Miami Beach-Kendall,,West Palm Beach-Boca Raton-Boynton Beach',
 ' Broward ',
 ' Miami-Dade ',
 ' Palm Beach ',
 ' La Porte ',
 ' Midland ',
 ' Martin,Midland ',
 ' Milwaukee, Ozaukee, Washington,,Waukesha ',
 ' Missoula ',
 ' Mobile,Washington ',
 ' Stanislaus ',
 ' Morehouse, Ouachita,,Union Parishes',
 ' Monroe ',
 ' Autauga, Elmore, Lowndes,,Montgomery ',
 ' Grainger, Hamblen,,Jefferson ',
 ' Skagit ',
 ' Delaware ',
 ' Muskegon ',
 ' Napa ',
 ' Collier ',
 ' Cannon, Cheatham, Davidson, Dickson, Macon, Maury, Robertson, Rutherford, Smith, Sumner, Trousdale, Williamson,,Wilson  ',
 ' Craven, Jones,,Pamlico ',
 ' New Haven ',
 ' Jefferson, Orleans, Plaquemines, St. Bernard, St. Charles, St. James, St. John the Baptist,,St. Tammany Parishes',
 ' Berrien ',
 ' Manatee,Sarasota ',
 ' New London ',
 ' Marion ',
 ' Cape May ',
 ' Ector ',
 ' Box Elder, Davis, Morgan,,Weber ',
 ' Canadian, Cleveland, Grady, Lincoln, Logan, McClain,,Oklahoma ',
 ' Thurston ',
 ' Lake, Orange, Osceola,,Seminole ',
 ' Daviess, Hancock,,McLean ',
 ' Ventura ',
 ' Brevard ',
 ' Bay ',
 ' Escambia,Santa Rosa ',
 ' Fulton, Marshall, Peoria, Stark, Tazewell,,Woodford ',
 ' Burlington, Camden,,Gloucester ',
 ' Bucks, Chester,,Montgomery ',
 ' Delaware,Philadelphia ',
 ' Maricopa,Pinal ',
 ' Cleveland, Jefferson,,Lincoln ',
 ' Allegheny, Armstrong, Beaver, Butler, Fayette, Washington,,Westmoreland ',
 ' Berkshire ',
 ' Bannock,Power ',
 ' Cumberland, Sagadahoc,,York ',
 ' Martin,St. Lucie ',
 ' Dutchess,Orange ',
 ' Yavapai ',
 ' Juab,Utah ',
 ' Pueblo ',
 ' Charlotte ',
 ' Racine ',
 ' Meade,Pennington ',
 ' Berks ',
 ' Shasta ',
 ' Storey,Washoe ',
 ' Riverside,San Bernardino ',
 ' Dodge, Fillmore, Olmsted,,Wabasha ',
 ' Livingston, Monroe, Ontario, Orleans, Wayne,,Yates ',
 ' Boone,Winnebago ',
 ' Edgecombe,Nash ',
 ' El Dorado, Placer, Sacramento,,Yolo ',
 ' Saginaw ',
 ' Marion,Polk ',
 ' Monterey ',
 ' Salt Lake,Tooele ',
 ' Irion, Sterling,,Tom Green ',
 ' Atascosa, Bandera, Bexar, Comal, Guadalupe, Kendall, Medina,,Wilson ',
 ' San Diego ',
 ' Alameda,Contra Costa ',
 ' San Francisco,San Mateo ',
 ' Marin ',
 ' San Benito,Santa Clara ',
 ' San Luis Obispo ',
 ' Santa Cruz ',
 ' Santa Fe ',
 ' Santa Barbara ',
 ' Sonoma ',
 ' Bryan, Chatham,,Effingham ',
 ' Lackawanna, Luzerne,,Wyoming ',
 ' the Metropolitan Divisions of Seattle-Bellevue-Kent,Tacoma-Lakewood',
 ' King, ,Snohomish ',
 ' Pierce ',
 ' Indian River ',
 ' Highlands ',
 ' Sheboygan ',
 ' Grayson ',
 ' Bossier, Caddo,,De Soto Parishes',
 ' Lincoln, McCook, Minnehaha,,Turner ',
 ' Spokane,Stevens ',
 ' Menard,Sangamon ',
 ' Franklin, Hampden,Hampshire ',
 ' Christian, Dallas, Greene, Polk,,Webster ',
 ' Clark ',
 ' Centre ',
 ' Benton,Stearns ',
 ' Washington ',
 ' San Joaquin ',
 ' Clarendon,Sumter ',
 ' Madison, Onondaga,,Oswego ',
 ' Gadsden, Jefferson, Leon,,Wakulla ',
 ' Hernando, Hillsborough, Pasco,,Pinellas ',
 ' Sumter ',
 ' Fulton, Lucas, Ottawa,,Wood ',
 ' Jackson, Jefferson, Osage, Shawnee,,Wabaunsee ',
 ' Mercer ',
 ' Pima ',
 ' Creek, Okmulgee, Osage, Pawnee, Rogers, Tulsa,,Wagoner ',
 ' Greene, Hale, Pickens,,Tuscaloosa ',
 ' Jerome,Twin Falls ',
 ' Smith ',
 ' Honolulu ',
 ' Herkimer,Oneida ',
 ' Solano ',
 ' Goliad,Victoria ',
 ' Cumberland ',
 ' Tulare ',
 ' Falls,McLennan ',
 ' Walla Walla ',
 ' Houston,Peach ',
 ' Frederick,Montgomery ',
 ' Jefferson ',
 ' Lincoln,Marathon ',
 ' Chelan,Douglas ',
 ' Butler, Harvey, Sedgwick,,Sumner ',
 ' Archer, Clay,,Wichita ',
 ' Lycoming ',
 ' New Hanover,Pender ',
 ' Yakima ',
 ' York ',
 ' Sutter,Yuba ',
 ' Yuma ']

So now for every entry in countiesOnlyList, put each list item in a new list as a list of items and get rid of empty values

In [27]:
#Here we clean singleState_counties_list and put all the counties into a lists within a list

i = 0
lenghtOfList = len(singleState_counties_list)

while i < lenghtOfList:
    #Convert list entries into lists themselves split by ',' and remove empty entries
    singleState_counties_list[i] = singleState_counties_list[i].split(",") 
    singleState_counties_list[i] = list(filter(None, singleState_counties_list[i]))
    
    #remove whitespaces before and after individual county names
    n = 0
    while n < len(singleState_counties_list[i]):
        singleState_counties_list[i][n] = singleState_counties_list[i][n].strip()
        n = n + 1
        
    i = i + 1
    
singleState_counties_list

[['Callahan', 'Jones', 'Taylor'],
 ['Portage', 'Summit'],
 ['Dougherty', 'Lee', 'Terrell', 'Worth'],
 ['Albany', 'Rensselaer', 'Saratoga', 'Schenectady', 'Schoharie'],
 ['Bernalillo', 'Sandoval', 'Torrance', 'Valencia'],
 ['Grant', 'Rapides Parishes'],
 ['Blair'],
 ['Armstrong', 'Carson', 'Oldham', 'Potter', 'Randall'],
 ['Anchorage Municipality', 'Matanuska-Susitna Borough'],
 ['Washtenaw'],
 ['Calhoun'],
 ['Calumet', 'Outagamie'],
 ['Buncombe', 'Haywood', 'Henderson', 'Madison'],
 ['Barrow',
  'Bartow',
  'Butts',
  'Carroll',
  'Cherokee',
  'Clayton',
  'Cobb',
  'Coweta',
  'Dawson',
  'DeKalb',
  'Douglas',
  'Fayette',
  'Forsyth',
  'Fulton',
  'Gwinnett',
  'Haralson',
  'Heard',
  'Henry',
  'Jasper',
  'Lamar',
  'Meriwether',
  'Morgan',
  'Newton',
  'Paulding',
  'Pickens',
  'Pike',
  'Rockdale',
  'Spalding',
  'Walton'],
 ['Atlantic'],
 ['Lee'],
 ['Bastrop', 'Caldwell', 'Hays', 'Travis', 'Williamson'],
 ['Kern'],
 ['Penobscot'],
 ['Barnstable'],
 ['Ascension',
  'Assumption',
  'East Baton Rouge',
  'East Feliciana',
  'Iberville',
  'Livingston',
  'Pointe Coupee',
  'St. Helena',
  'West Baton Rouge',
  'West Feliciana Parishes'],
 ['Calhoun'],
 ['Bay'],
 ['Hardin', 'Jefferson', 'Orange'],
 ['Fayette', 'Raleigh'],
 ['Whatcom'],
 ['Deschutes'],
 ['Carbon', 'Stillwater', 'Yellowstone'],
 ['Broome', 'Tioga'],
 ['Burleigh', 'Morton', 'Oliver'],
 ['McLean'],
 ['Monroe', 'Owen'],
 ['Columbia', 'Montour'],
 ['Ada', 'Boise', 'Canyon', 'Gem', 'Owyhee'],
 ['Norfolk', 'Plymouth', 'Suffolk'],
 ['Essex', 'Middlesex'],
 ['Rockingham', 'Strafford'],
 ['Boulder'],
 ['Allen', 'Butler', 'Edmonson', 'Warren'],
 ['Fairfield'],
 ['Cameron'],
 ['Brantley', 'Glynn', 'McIntosh'],
 ['Erie', 'Niagara'],
 ['Alamance'],
 ['Chittenden', 'Franklin', 'Grand Isle'],
 ["St. Mary's"],
 ['Carroll', 'Stark'],
 ['Lee'],
 ['Natrona'],
 ['Franklin'],
 ['Champaign', 'Piatt'],
 ['Boone', 'Clay', 'Jackson', 'Kanawha', 'Lincoln'],
 ['Berkeley', 'Charleston', 'Dorchester'],
 ['Cook', 'DuPage', 'Grundy', 'McHenry', 'Will'],
 ['DeKalb', 'Kane', 'Kendall'],
 ['Jasper', 'Lake', 'Newton', 'Porter'],
 ['Butte'],
 ['Bradley', 'Polk'],
 ['Kootenai'],
 ['Brazos', 'Burleson', 'Robertson'],
 ['El Paso', 'Teller'],
 ['Boone', 'Cooper', 'Howard'],
 ['Calhoun', 'Fairfield', 'Kershaw', 'Lexington', 'Richland', 'Saluda'],
 ['Bartholomew'],
 ['Delaware',
  'Fairfield',
  'Franklin',
  'Hocking',
  'Licking',
  'Madison',
  'Morrow',
  'Perry',
  'Pickaway',
  'Union'],
 ['Nueces', 'San Patricio'],
 ['Benton'],
 ['Okaloosa', 'Walton'],
 ['the Metropolitan Divisions of Dallas-Plano-Irving',
  'Fort Worth-Arlington-Grapevine'],
 ['Collin', 'Dallas', 'Denton', 'Ellis', 'Hunt', 'Kaufman', 'Rockwall'],
 ['Johnson', 'Parker', 'Tarrant', 'Wise'],
 ['Murray', 'Whitfield'],
 ['Vermilion'],
 ['Baldwin'],
 ['Greene', 'Miami', 'Montgomery'],
 ['Macon'],
 ['Flagler', 'Volusia'],
 ['the Metropolitan Divisions of Detroit-Dearborn-Livonia',
  'Warren-Troy-Farmington Hills'],
 ['Wayne'],
 ['Lapeer', 'Livingston', 'Macomb', 'Oakland', 'St. Clair'],
 ['Geneva', 'Henry', 'Houston'],
 ['Kent'],
 ['Monroe'],
 ['Chippewa', 'Eau Claire'],
 ['Imperial'],
 ['Hardin', 'Larue', 'Meade'],
 ['Chemung'],
 ['El Paso', 'Hudspeth'],
 ['Garfield'],
 ['Erie'],
 ['Lane'],
 ['Fairbanks North Star Borough'],
 ['San Juan'],
 ['Benton', 'Madison', 'Washington'],
 ['Coconino'],
 ['Genesee'],
 ['Darlington', 'Florence'],
 ['Colbert', 'Lauderdale'],
 ['Fond du Lac'],
 ['Larimer'],
 ['Allen', 'Whitley'],
 ['Fresno'],
 ['Etowah'],
 ['Alachua', 'Gilchrist', 'Levy'],
 ['Hall'],
 ['Adams'],
 ['Warren', 'Washington'],
 ['Hall', 'Howard', 'Merrick'],
 ['Mesa'],
 ['Ionia', 'Kent', 'Montcalm', 'Ottawa'],
 ['Josephine'],
 ['Weld'],
 ['Brown', 'Kewaunee', 'Oconto'],
 ['Guilford', 'Randolph', 'Rockingham'],
 ['Pitt'],
 ['Hancock', 'Harrison', 'Jackson', 'Stone'],
 ['Tangipahoa Parish'],
 ['Kings'],
 ['Cumberland', 'Dauphin', 'Perry'],
 ['Hartford', 'Middlesex', 'Tolland'],
 ['Beaufort', 'Jasper'],
 ['Liberty', 'Long'],
 ['Citrus'],
 ['Garland'],
 ['Lafourche', 'Terrebonne Parishes'],
 ['Austin',
  'Brazoria',
  'Chambers',
  'Fort Bend',
  'Galveston',
  'Harris',
  'Liberty',
  'Montgomery',
  'Waller'],
 ['Bonneville', 'Butte', 'Jefferson'],
 ['Boone',
  'Brown',
  'Hamilton',
  'Hancock',
  'Hendricks',
  'Johnson',
  'Madison',
  'Marion',
  'Morgan',
  'Putnam',
  'Shelby'],
 ['Tompkins'],
 ['Jackson'],
 ['Chester', 'Crockett', 'Gibson', 'Madison'],
 ['Baker', 'Clay', 'Duval', 'Nassau', 'St. Johns'],
 ['Onslow'],
 ['Rock'],
 ['Callaway', 'Cole', 'Moniteau', 'Osage'],
 ['Carter', 'Unicoi', 'Washington'],
 ['Cambria'],
 ['Craighead', 'Poinsett'],
 ['Maui'],
 ['Kalamazoo'],
 ['Kankakee'],
 ['Benton', 'Franklin'],
 ['Bell', 'Coryell', 'Lampasas'],
 ['Ulster'],
 ['Anderson',
  'Blount',
  'Campbell',
  'Knox',
  'Loudon',
  'Morgan',
  'Roane',
  'Union'],
 ['Howard'],
 ['Acadia', 'Iberia', 'Lafayette', 'St. Martin', 'Vermilion Parishes'],
 ['Benton', 'Carroll', 'Tippecanoe', 'Warren'],
 ['Calcasieu', 'Cameron Parishes'],
 ['Mohave'],
 ['Polk'],
 ['Lancaster'],
 ['Clinton', 'Eaton', 'Ingham', 'Shiawassee'],
 ['Webb'],
 ['Clark'],
 ['Comanche', 'Cotton'],
 ['Lebanon'],
 ['Androscoggin'],
 ['Bourbon', 'Clark', 'Fayette', 'Jessamine', 'Scott', 'Woodford'],
 ['Allen'],
 ['Lancaster', 'Seward'],
 ['Faulkner', 'Grant', 'Lonoke', 'Perry', 'Pulaski', 'Saline'],
 ['Gregg', 'Harrison', 'Rusk', 'Upshur'],
 ['Cowlitz'],
 ['the Metropolitan Divisions of Anaheim-Santa Ana-Irvine',
  'Los Angeles-Long Beach-Glendale'],
 ['Orange'],
 ['Los Angeles'],
 ['Crosby', 'Lubbock', 'Lynn'],
 ['Bibb', 'Crawford', 'Jones', 'Monroe', 'Twiggs'],
 ['Madera'],
 ['Columbia', 'Dane', 'Green', 'Iowa'],
 ['Hillsborough'],
 ['Geary', 'Pottawatomie', 'Riley'],
 ['Blue Earth', 'Nicollet'],
 ['Richland'],
 ['Hidalgo'],
 ['Jackson'],
 ['Merced'],
 ['the Metropolitan Divisions of Fort Lauderdale-Pompano Beach-Sunrise',
  'Miami-Miami Beach-Kendall',
  'West Palm Beach-Boca Raton-Boynton Beach'],
 ['Broward'],
 ['Miami-Dade'],
 ['Palm Beach'],
 ['La Porte'],
 ['Midland'],
 ['Martin', 'Midland'],
 ['Milwaukee', 'Ozaukee', 'Washington', 'Waukesha'],
 ['Missoula'],
 ['Mobile', 'Washington'],
 ['Stanislaus'],
 ['Morehouse', 'Ouachita', 'Union Parishes'],
 ['Monroe'],
 ['Autauga', 'Elmore', 'Lowndes', 'Montgomery'],
 ['Grainger', 'Hamblen', 'Jefferson'],
 ['Skagit'],
 ['Delaware'],
 ['Muskegon'],
 ['Napa'],
 ['Collier'],
 ['Cannon',
  'Cheatham',
  'Davidson',
  'Dickson',
  'Macon',
  'Maury',
  'Robertson',
  'Rutherford',
  'Smith',
  'Sumner',
  'Trousdale',
  'Williamson',
  'Wilson'],
 ['Craven', 'Jones', 'Pamlico'],
 ['New Haven'],
 ['Jefferson',
  'Orleans',
  'Plaquemines',
  'St. Bernard',
  'St. Charles',
  'St. James',
  'St. John the Baptist',
  'St. Tammany Parishes'],
 ['Berrien'],
 ['Manatee', 'Sarasota'],
 ['New London'],
 ['Marion'],
 ['Cape May'],
 ['Ector'],
 ['Box Elder', 'Davis', 'Morgan', 'Weber'],
 ['Canadian', 'Cleveland', 'Grady', 'Lincoln', 'Logan', 'McClain', 'Oklahoma'],
 ['Thurston'],
 ['Lake', 'Orange', 'Osceola', 'Seminole'],
 ['Daviess', 'Hancock', 'McLean'],
 ['Ventura'],
 ['Brevard'],
 ['Bay'],
 ['Escambia', 'Santa Rosa'],
 ['Fulton', 'Marshall', 'Peoria', 'Stark', 'Tazewell', 'Woodford'],
 ['Burlington', 'Camden', 'Gloucester'],
 ['Bucks', 'Chester', 'Montgomery'],
 ['Delaware', 'Philadelphia'],
 ['Maricopa', 'Pinal'],
 ['Cleveland', 'Jefferson', 'Lincoln'],
 ['Allegheny',
  'Armstrong',
  'Beaver',
  'Butler',
  'Fayette',
  'Washington',
  'Westmoreland'],
 ['Berkshire'],
 ['Bannock', 'Power'],
 ['Cumberland', 'Sagadahoc', 'York'],
 ['Martin', 'St. Lucie'],
 ['Dutchess', 'Orange'],
 ['Yavapai'],
 ['Juab', 'Utah'],
 ['Pueblo'],
 ['Charlotte'],
 ['Racine'],
 ['Meade', 'Pennington'],
 ['Berks'],
 ['Shasta'],
 ['Storey', 'Washoe'],
 ['Riverside', 'San Bernardino'],
 ['Dodge', 'Fillmore', 'Olmsted', 'Wabasha'],
 ['Livingston', 'Monroe', 'Ontario', 'Orleans', 'Wayne', 'Yates'],
 ['Boone', 'Winnebago'],
 ['Edgecombe', 'Nash'],
 ['El Dorado', 'Placer', 'Sacramento', 'Yolo'],
 ['Saginaw'],
 ['Marion', 'Polk'],
 ['Monterey'],
 ['Salt Lake', 'Tooele'],
 ['Irion', 'Sterling', 'Tom Green'],
 ['Atascosa',
  'Bandera',
  'Bexar',
  'Comal',
  'Guadalupe',
  'Kendall',
  'Medina',
  'Wilson'],
 ['San Diego'],
 ['Alameda', 'Contra Costa'],
 ['San Francisco', 'San Mateo'],
 ['Marin'],
 ['San Benito', 'Santa Clara'],
 ['San Luis Obispo'],
 ['Santa Cruz'],
 ['Santa Fe'],
 ['Santa Barbara'],
 ['Sonoma'],
 ['Bryan', 'Chatham', 'Effingham'],
 ['Lackawanna', 'Luzerne', 'Wyoming'],
 ['the Metropolitan Divisions of Seattle-Bellevue-Kent', 'Tacoma-Lakewood'],
 ['King', '', 'Snohomish'],
 ['Pierce'],
 ['Indian River'],
 ['Highlands'],
 ['Sheboygan'],
 ['Grayson'],
 ['Bossier', 'Caddo', 'De Soto Parishes'],
 ['Lincoln', 'McCook', 'Minnehaha', 'Turner'],
 ['Spokane', 'Stevens'],
 ['Menard', 'Sangamon'],
 ['Franklin', 'Hampden', 'Hampshire'],
 ['Christian', 'Dallas', 'Greene', 'Polk', 'Webster'],
 ['Clark'],
 ['Centre'],
 ['Benton', 'Stearns'],
 ['Washington'],
 ['San Joaquin'],
 ['Clarendon', 'Sumter'],
 ['Madison', 'Onondaga', 'Oswego'],
 ['Gadsden', 'Jefferson', 'Leon', 'Wakulla'],
 ['Hernando', 'Hillsborough', 'Pasco', 'Pinellas'],
 ['Sumter'],
 ['Fulton', 'Lucas', 'Ottawa', 'Wood'],
 ['Jackson', 'Jefferson', 'Osage', 'Shawnee', 'Wabaunsee'],
 ['Mercer'],
 ['Pima'],
 ['Creek', 'Okmulgee', 'Osage', 'Pawnee', 'Rogers', 'Tulsa', 'Wagoner'],
 ['Greene', 'Hale', 'Pickens', 'Tuscaloosa'],
 ['Jerome', 'Twin Falls'],
 ['Smith'],
 ['Honolulu'],
 ['Herkimer', 'Oneida'],
 ['Solano'],
 ['Goliad', 'Victoria'],
 ['Cumberland'],
 ['Tulare'],
 ['Falls', 'McLennan'],
 ['Walla Walla'],
 ['Houston', 'Peach'],
 ['Frederick', 'Montgomery'],
 ['Jefferson'],
 ['Lincoln', 'Marathon'],
 ['Chelan', 'Douglas'],
 ['Butler', 'Harvey', 'Sedgwick', 'Sumner'],
 ['Archer', 'Clay', 'Wichita'],
 ['Lycoming'],
 ['New Hanover', 'Pender'],
 ['Yakima'],
 ['York'],
 ['Sutter', 'Yuba'],
 ['Yuma']]

In [28]:
singleState_counties_MSA_list = singleState_counties_df['MSA'].tolist()
singleState_counties_MSA_list

['Abilene, TX M.S.A.',
 'Akron, OH M.S.A.',
 'Albany, GA M.S.A.',
 'Albany-Schenectady-Troy, NY M.S.A.',
 'Albuquerque, NM M.S.A.',
 'Alexandria, LA M.S.A.',
 'Altoona, PA M.S.A.',
 'Amarillo, TX M.S.A.',
 'Anchorage, AK M.S.A.',
 'Ann Arbor, MI M.S.A.',
 'Anniston-Oxford, AL M.S.A.',
 'Appleton, WI M.S.A.',
 'Asheville, NC M.S.A.',
 'Atlanta-Sandy Springs-Alpharetta, GA M.S.A.',
 'Atlantic City-Hammonton, NJ M.S.A.',
 'Auburn-Opelika, AL M.S.A',
 'Austin-Round Rock-Georgetown, TX M.S.A.',
 'Bakersfield, CA M.S.A.',
 'Bangor, ME M.S.A.',
 'Barnstable Town, MA M.S.A.',
 'Baton Rouge, LA M.S.A.',
 'Battle Creek, MI M.S.A',
 'Bay City, MI M.S.A.',
 'Beaumont-Port Arthur, TX M.S.A.',
 'Beckley, WV M.S.A',
 'Bellingham, WA M.S.A',
 'Bend, OR M.S.A.',
 'Billings, MT M.S.A.',
 'Binghamton, NY M.S.A.',
 'Bismarck, ND M.S.A.',
 'Bloomington, IL M.S.A.',
 'Bloomington, IN M.S.A.',
 'Bloomsburg-Berwick, PA M.S.A',
 'Boise City, ID M.S.A.',
 'Boston, MA M.D.',
 'Cambridge-Newton-Framingham, MA M.D.',
 'Rockingham County-Strafford County, NH M.D.',
 'Boulder, CO M.S.A.',
 'Bowling Green, KY M.S.A.',
 'Bridgeport-Stamford-Norwalk, CT M.S.A.',
 'Brownsville-Harlingen, TX M.S.A.',
 'Brunswick, GA M.S.A.',
 'Buffalo-Cheektowaga, NY M.S.A.',
 'Burlington, NC M.S.A.',
 'Burlington-South Burlington, VT M.S.A.',
 'California-Lexington Park, MD M.S.A.',
 'Canton-Massillon, OH M.S.A.',
 'Cape Coral-Fort Myers, FL M.S.A.',
 'Casper, WY M.S.A.',
 'Chambersburg-Waynesboro, PA M.S.A.',
 'Champaign-Urbana, IL M.S.A.',
 'Charleston, WV M.S.A.',
 'Charleston-North Charleston, SC M.S.A.',
 'Chicago-Naperville-Evanston, IL M.D., ',
 'Elgin, IL M.D.',
 'Gary, IN M.D.',
 'Chico, CA M.S.A.',
 'Cleveland, TN M.S.A.',
 "Coeur d'Alene, ID M.S.A.",
 'College Station-Bryan, TX M.S.A.',
 'Colorado Springs, CO M.S.A.',
 'Columbia, MO M.S.A.',
 'Columbia, SC M.S.A.',
 'Columbus, IN M.S.A.',
 'Columbus, OH M.S.A.',
 'Corpus Christi, TX M.S.A.',
 'Corvallis, OR M.S.A.',
 'Crestview-Fort Walton Beach-Destin, FL M.S.A.',
 'Dallas-Fort Worth-Arlington, TX M.S.A.',
 'Dallas-Plano-Irving, TX M.D.',
 'Fort Worth-Arlington-Grapevine, TX M.D.',
 'Dalton, GA M.S.A.',
 'Danville, IL M.S.A.',
 'Daphne-Fairhope-Foley, AL M.S.A.',
 'Dayton-Kettering, OH M.S.A.',
 'Decatur, IL M.S.A.',
 'Deltona-Daytona Beach-Ormond Beach, FL M.S.A.',
 'Detroit-Warren-Dearborn, MI M.S.A.',
 'Detroit-Dearborn-Livonia, MI M.D.',
 'Warren-Troy-Farmington Hills, MI M.D.',
 'Dothan, AL M.S.A.',
 'Dover, DE M.S.A.',
 'East Stroudsburg, PA M.S.A.',
 'Eau Claire, WI M.S.A.',
 'El Centro, CA M.S.A.',
 'Elizabethtown-Fort Knox, KY M.S.A.',
 'Elmira, NY M.S.A.',
 'El Paso, TX M.S.A.',
 'Enid, OK M.S.A.',
 'Erie, PA M.S.A.',
 'Eugene-Springfield, OR M.S.A.',
 'Fairbanks, AK M.S.A.',
 'Farmington, NM M.S.A.',
 'Fayetteville-Springdale-Rogers, AR M.S.A.',
 'Flagstaff, AZ M.S.A.',
 'Flint, MI M.S.A.',
 'Florence, SC M.S.A.',
 'Florence-Muscle Shoals, AL M.S.A.',
 'Fond du Lac, WI M.S.A.',
 'Fort Collins, CO M.S.A.',
 'Fort Wayne, IN M.S.A.',
 'Fresno, CA M.S.A.',
 'Gadsden, AL M.S.A.',
 'Gainesville, FL M.S.A.',
 'Gainesville, GA M.S.A.',
 'Gettysburg, PA M.S.A.',
 'Glens Falls, NY M.S.A.',
 'Grand Island, NE M.S.A.',
 'Grand Junction, CO M.S.A.',
 'Grand Rapids-Kentwood, MI M.S.A.',
 'Grants Pass, OR M.S.A.',
 'Greeley, CO M.S.A.',
 'Green Bay, WI M.S.A.',
 'Greensboro-High Point, NC M.S.A.',
 'Greenville, NC M.S.A.',
 'Gulfport-Biloxi, MS M.S.A.',
 'Hammond, LA M.S.A.',
 'Hanford-Corcoran, CA M.S.A.',
 'Harrisburg-Carlisle, PA M.S.A.',
 'Hartford-East Hartford-Middletown, CT M.S.A.',
 'Hilton Head Island-Bluffton, SC M.S.A.',
 'Hinesville, GA M.S.A.',
 'Homosassa Springs, FL M.S.A.',
 'Hot Springs, AR M.S.A.',
 'Houma-Thibodaux, LA M.S.A.',
 'Houston-The Woodlands-Sugar Land, TX M.S.A., ',
 'Idaho Falls, ID M.S.A.',
 'Indianapolis-Carmel-Anderson, IN M.S.A.',
 'Ithaca, NY M.S.A',
 'Jackson, MI M.S.A.',
 'Jackson, TN M.S.A.',
 'Jacksonville, FL M.S.A.',
 'Jacksonville, NC M.S.A.',
 'Janesville-Beloit, WI M.S.A.',
 'Jefferson City, MO M.S.A.',
 'Johnson City, TN M.S.A.',
 'Johnstown, PA M.S.A.',
 'Jonesboro, AR M.S.A.',
 'Kahului-Wailuku-Lahaina, HI M.S.A.',
 'Kalamazoo-Portage, MI M.S.A.',
 'Kankakee, IL M.S.A.',
 'Kennewick-Richland, WA M.S.A.',
 'Killeen-Temple, TX M.S.A.',
 'Kingston, NY M.S.A.',
 'Knoxville, TN M.S.A.',
 'Kokomo, IN M.S.A.',
 'Lafayette, LA M.S.A.',
 'Lafayette-West Lafayette, IN M.S.A.',
 'Lake Charles, LA M.S.A.',
 'Lake Havasu City-Kingman, AZ M.S.A.',
 'Lakeland-Winter Haven, FL M.S.A.',
 'Lancaster, PA M.S.A.',
 'Lansing-East Lansing, MI M.S.A.',
 'Laredo, TX M.S.A.',
 'Las Vegas-Henderson-Paradise, NV M.S.A.',
 'Lawton, OK M.S.A.',
 'Lebanon, PA M.S.A.',
 'Lewiston-Auburn, ME M.S.A.',
 'Lexington-Fayette, KY M.S.A.',
 'Lima, OH M.S.A.',
 'Lincoln, NE M.S.A.',
 'Little Rock-North Little Rock-Conway, AR M.S.A.',
 'Longview, TX M.S.A., ',
 'Longview, WA M.S.A.',
 'Los Angeles-Long Beach-Anaheim, CA M.S.A.',
 'Anaheim-Santa Ana-Irvine, CA M.D.',
 'Los Angeles-Long Beach-Glendale, CA M.D.',
 'Lubbock, TX M.S.A.',
 'Macon-Bibb County, GA M.S.A.',
 'Madera, CA M.S.A.',
 'Madison, WI M.S.A.',
 'Manchester-Nashua, NH M.S.A.',
 'Manhattan, KS M.S.A.',
 'Mankato, MN M.S.A.',
 'Mansfield, OH M.S.A.',
 'McAllen-Edinburg-Mission, TX M.S.A.',
 'Medford, OR M.S.A.',
 'Merced, CA M.S.A.',
 'Miami-Fort Lauderdale-Pompano Beach, FL M.S.A.',
 'Fort Lauderdale-Pompano Beach-Deerfield Beach, FL M.D.',
 'Miami-Miami Beach-Kendall, FL M.D.',
 'West Palm Beach-Boca Raton-Boynton Beach, FL M.D.',
 'Michigan City-La Porte, IN M.S.A.',
 'Midland, MI M.S.A.',
 'Midland, TX M.S.A.',
 'Milwaukee-Waukesha, WI M.S.A.',
 'Missoula, MT M.S.A.',
 'Mobile, AL M.S.A.',
 'Modesto, CA M.S.A.',
 'Monroe, LA M.S.A.',
 'Monroe, MI M.S.A.',
 'Montgomery, AL M.S.A.',
 'Morristown, TN M.S.A.',
 'Mount Vernon-Anacortes, WA M.S.A.',
 'Muncie, IN M.S.A.',
 'Muskegon, MI M.S.A.',
 'Napa, CA M.S.A.',
 'Naples-Marco Island, FL M.S.A.',
 'Nashville-Davidson–Murfreesboro–Franklin, TN M.S.A.',
 'New Bern, NC M.S.A.',
 'New Haven-Milford, CT M.S.A.',
 'New Orleans-Metairie, LA M.S.A.',
 'Niles, MI M.S.A.',
 'North Port-Sarasota-Bradenton, FL M.S.A.',
 'Norwich-New London, CT M.S.A.',
 'Ocala, FL M.S.A.',
 'Ocean City, NJ M.S.A.',
 'Odessa, TX M.S.A.',
 'Ogden-Clearfield, UT M.S.A.',
 'Oklahoma City, OK M.S.A.',
 'Olympia-Lacey-Tumwater, WA M.S.A.',
 'Orlando-Kissimmee-Sanford, FL M.S.A.',
 'Owensboro, KY M.S.A.',
 'Oxnard-Thousand Oaks-Ventura, CA M.S.A.',
 'Palm Bay-Melbourne-Titusville, FL M.S.A.',
 'Panama City, FL M.S.A.',
 'Pensacola-Ferry Pass-Brent, FL M.S.A.',
 'Peoria, IL M.S.A.',
 'Camden, NJ M.D.',
 'Montgomery County-Bucks County-Chester County, PA M.D.',
 'Philadelphia, PA M.D.',
 'Phoenix-Mesa-Chandler, AZ M.S.A.',
 'Pine Bluff, AR M.S.A',
 'Pittsburgh, PA M.S.A.',
 'Pittsfield, MA M.S.A.',
 'Pocatello, ID M.S.A.',
 'Portland-South Portland, ME M.S.A.',
 'Port St. Lucie, FL M.S.A.',
 'Poughkeepsie-Newburg-Middletown, NY M.S.A.',
 'Prescott Valley-Prescott, AZ M.S.A.',
 'Provo-Orem, UT M.S.A.',
 'Pueblo, CO M.S.A.',
 'Punta Gorda, FL M.S.A.',
 'Racine, WI M.S.A.',
 'Rapid City, SD M.S.A.',
 'Reading, PA M.S.A.',
 'Redding, CA M.S.A.',
 'Reno, NV M.S.A.',
 'Riverside-San Bernardino-Ontario, CA M.S.A.',
 'Rochester, MN M.S.A.',
 'Rochester, NY M.S.A.',
 'Rockford, IL M.S.A.',
 'Rocky Mount, NC M.S.A.',
 'Sacramento-Roseville-Folsom, CA M.S.A.',
 'Saginaw, MI M.S.A.',
 'Salem, OR M.S.A.',
 'Salinas, CA M.S.A.',
 'Salt Lake City, UT M.S.A.',
 'San Angelo, TX M.S.A.',
 'San Antonio-New Braunfels, TX M.S.A., ',
 'San Diego-Chula Vista-Carlsbad, CA M.S.A.',
 'Oakland-Berkeley-Livermore, CA M.D.',
 'San Francisco-San Mateo-Redwood City, CA M.D.',
 'San Rafael, CA M.D.',
 'San Jose-Sunnyvale-Santa Clara, CA M.S.A.',
 'San Luis Obispo-Paso Robles, CA M.S.A.',
 'Santa Cruz-Watsonville, CA M.S.A.',
 'Santa Fe, NM M.S.A.',
 'Santa Maria-Santa Barbara, CA M.S.A.',
 'Santa Rosa-Petaluma, CA M.S.A.',
 'Savannah, GA M.S.A.',
 'Scranton–Wilkes-Barre, PA M.S.A.',
 'Seattle-Tacoma-Bellevue, WA M.S.A., ',
 'Seattle-Bellevue-Kent, WA M.D., ',
 'Tacoma-Lakewood, WA M.D.',
 'Sebastian-Vero Beach, FL M.S.A.',
 'Sebring-Avon Park, FL M.S.A.',
 'Sheboygan, WI M.S.A.',
 'Sherman-Denison, TX M.S.A.',
 'Shreveport-Bossier City, LA M.S.A.',
 'Sioux Falls, SD M.S.A.',
 'Spokane-Spokane Valley, WA M.S.A.',
 'Springfield, IL M.S.A.',
 'Springfield, MA M.S.A.',
 'Springfield, MO M.S.A.',
 'Springfield, OH M.S.A.',
 'State College, PA M.S.A.',
 'St. Cloud, MN M.S.A.',
 'St. George, UT M.S.A.',
 'Stockton, CA M.S.A.',
 'Sumter, SC M.S.A.',
 'Syracuse, NY M.S.A.',
 'Tallahassee, FL M.S.A.',
 'Tampa-St. Petersburg-Clearwater, FL M.S.A.',
 'The Villages, FL M.S.A.',
 'Toledo, OH M.S.A.',
 'Topeka, KS M.S.A.',
 'Trenton-Princeton, NJ M.S.A.',
 'Tucson, AZ M.S.A.',
 'Tulsa, OK M.S.A.',
 'Tuscaloosa, AL M.S.A.',
 'Twin Falls, ID M.S.A.',
 'Tyler, TX M.S.A.',
 'Urban Honolulu, HI M.S.A.',
 'Utica-Rome, NY M.S.A.',
 'Vallejo, CA M.S.A.',
 'Victoria, TX M.S.A.',
 'Vineland-Bridgeton, NJ M.S.A.',
 'Visalia, CA M.S.A.',
 'Waco, TX M.S.A.',
 'Walla Walla, WA M.S.A.',
 'Warner Robins, GA M.S.A.',
 'Frederick-Gaithersburg-Rockville, MD M.D.',
 'Watertown-Fort Drum, NY M.S.A.',
 'Wausau-Weston, WI M.S.A.',
 'Wenatchee, WA M.S.A.',
 'Wichita, KS M.S.A.',
 'Wichita Falls, TX M.S.A.',
 'Williamsport, PA M.S.A.',
 'Wilmington, NC M.S.A.',
 'Yakima, WA M.S.A.',
 'York-Hanover, PA M.S.A.',
 'Yuba City, CA M.S.A.',
 'Yuma, AZ M.S.A.']

In [29]:
print(len(singleState_counties_list), len(singleState_counties_MSA_list))

314 314

In [30]:
#We create two lists with corresponding MSA's and counties

singleState_counties_MSA_list_processed = []
singleState_counties_list_processed = []

i = 0
lenghtOfList = len(singleState_counties_MSA_list)

while i < lenghtOfList:
    n = 0
    while n < len(singleState_counties_list[i]):
        singleState_counties_MSA_list_processed.append(singleState_counties_MSA_list[i])
        singleState_counties_list_processed.append(singleState_counties_list[i][n])
        n = n + 1
        
    i = i + 1

In [31]:
#Create dataframe that joins MSA and individual Counties for single state counties only
singleState_counties_df = pd.DataFrame(columns = ['MSA', 'County/City'])

singleState_counties_df['MSA'] = pd.Series(singleState_counties_MSA_list_processed)

singleState_counties_df['County/City'] = pd.Series(singleState_counties_list_processed)

singleState_counties_df

                         MSA County/City
0         Abilene, TX M.S.A.    Callahan
1         Abilene, TX M.S.A.       Jones
2         Abilene, TX M.S.A.      Taylor
3           Akron, OH M.S.A.     Portage
4           Akron, OH M.S.A.      Summit
..                       ...         ...
739        Yakima, WA M.S.A.      Yakima
740  York-Hanover, PA M.S.A.        York
741     Yuba City, CA M.S.A.      Sutter
742     Yuba City, CA M.S.A.        Yuba
743          Yuma, AZ M.S.A.        Yuma

[744 rows x 2 columns]

In [32]:
#Add 'County' to each county'
singleState_counties_df['County/City'] = singleState_counties_df['County/City'].astype(str) + ' County'
singleState_counties_df

                         MSA      County/City
0         Abilene, TX M.S.A.  Callahan County
1         Abilene, TX M.S.A.     Jones County
2         Abilene, TX M.S.A.    Taylor County
3           Akron, OH M.S.A.   Portage County
4           Akron, OH M.S.A.    Summit County
..                       ...              ...
739        Yakima, WA M.S.A.    Yakima County
740  York-Hanover, PA M.S.A.      York County
741     Yuba City, CA M.S.A.    Sutter County
742     Yuba City, CA M.S.A.      Yuba County
743          Yuma, AZ M.S.A.      Yuma County

[744 rows x 2 columns]

### Now get states

In [33]:
#Store state codes for singleStates 
state_code_list = []

for MSA_address in singleState_counties_MSA_list_processed:
    state_code = re.findall("[A-Z][A-Z]", MSA_address)
    state_code_list.append(state_code[0])
    
state_code_list

['TX',
 'TX',
 'TX',
 'OH',
 'OH',
 'GA',
 'GA',
 'GA',
 'GA',
 'NY',
 'NY',
 'NY',
 'NY',
 'NY',
 'NM',
 'NM',
 'NM',
 'NM',
 'LA',
 'LA',
 'PA',
 'TX',
 'TX',
 'TX',
 'TX',
 'TX',
 'AK',
 'AK',
 'MI',
 'AL',
 'WI',
 'WI',
 'NC',
 'NC',
 'NC',
 'NC',
 'GA',
 'GA',
 'GA',
 'GA',
 'GA',
 'GA',
 'GA',
 'GA',
 'GA',
 'GA',
 'GA',
 'GA',
 'GA',
 'GA',
 'GA',
 'GA',
 'GA',
 'GA',
 'GA',
 'GA',
 'GA',
 'GA',
 'GA',
 'GA',
 'GA',
 'GA',
 'GA',
 'GA',
 'GA',
 'NJ',
 'AL',
 'TX',
 'TX',
 'TX',
 'TX',
 'TX',
 'CA',
 'ME',
 'MA',
 'LA',
 'LA',
 'LA',
 'LA',
 'LA',
 'LA',
 'LA',
 'LA',
 'LA',
 'LA',
 'MI',
 'MI',
 'TX',
 'TX',
 'TX',
 'WV',
 'WV',
 'WA',
 'OR',
 'MT',
 'MT',
 'MT',
 'NY',
 'NY',
 'ND',
 'ND',
 'ND',
 'IL',
 'IN',
 'IN',
 'PA',
 'PA',
 'ID',
 'ID',
 'ID',
 'ID',
 'ID',
 'MA',
 'MA',
 'MA',
 'MA',
 'MA',
 'NH',
 'NH',
 'CO',
 'KY',
 'KY',
 'KY',
 'KY',
 'CT',
 'TX',
 'GA',
 'GA',
 'GA',
 'NY',
 'NY',
 'NC',
 'VT',
 'VT',
 'VT',
 'MD',
 'OH',
 'OH',
 'FL',
 'WY',
 'PA',
 'IL',
 'IL',
 'WV',
 'WV',
 'WV',
 'WV',
 'WV',
 'SC',
 'SC',
 'SC',
 'IL',
 'IL',
 'IL',
 'IL',
 'IL',
 'IL',
 'IL',
 'IL',
 'IN',
 'IN',
 'IN',
 'IN',
 'CA',
 'TN',
 'TN',
 'ID',
 'TX',
 'TX',
 'TX',
 'CO',
 'CO',
 'MO',
 'MO',
 'MO',
 'SC',
 'SC',
 'SC',
 'SC',
 'SC',
 'SC',
 'IN',
 'OH',
 'OH',
 'OH',
 'OH',
 'OH',
 'OH',
 'OH',
 'OH',
 'OH',
 'OH',
 'TX',
 'TX',
 'OR',
 'FL',
 'FL',
 'TX',
 'TX',
 'TX',
 'TX',
 'TX',
 'TX',
 'TX',
 'TX',
 'TX',
 'TX',
 'TX',
 'TX',
 'TX',
 'GA',
 'GA',
 'IL',
 'AL',
 'OH',
 'OH',
 'OH',
 'IL',
 'FL',
 'FL',
 'MI',
 'MI',
 'MI',
 'MI',
 'MI',
 'MI',
 'MI',
 'MI',
 'AL',
 'AL',
 'AL',
 'DE',
 'PA',
 'WI',
 'WI',
 'CA',
 'KY',
 'KY',
 'KY',
 'NY',
 'TX',
 'TX',
 'OK',
 'PA',
 'OR',
 'AK',
 'NM',
 'AR',
 'AR',
 'AR',
 'AZ',
 'MI',
 'SC',
 'SC',
 'AL',
 'AL',
 'WI',
 'CO',
 'IN',
 'IN',
 'CA',
 'AL',
 'FL',
 'FL',
 'FL',
 'GA',
 'PA',
 'NY',
 'NY',
 'NE',
 'NE',
 'NE',
 'CO',
 'MI',
 'MI',
 'MI',
 'MI',
 'OR',
 'CO',
 'WI',
 'WI',
 'WI',
 'NC',
 'NC',
 'NC',
 'NC',
 'MS',
 'MS',
 'MS',
 'MS',
 'LA',
 'CA',
 'PA',
 'PA',
 'PA',
 'CT',
 'CT',
 'CT',
 'SC',
 'SC',
 'GA',
 'GA',
 'FL',
 'AR',
 'LA',
 'LA',
 'TX',
 'TX',
 'TX',
 'TX',
 'TX',
 'TX',
 'TX',
 'TX',
 'TX',
 'ID',
 'ID',
 'ID',
 'IN',
 'IN',
 'IN',
 'IN',
 'IN',
 'IN',
 'IN',
 'IN',
 'IN',
 'IN',
 'IN',
 'NY',
 'MI',
 'TN',
 'TN',
 'TN',
 'TN',
 'FL',
 'FL',
 'FL',
 'FL',
 'FL',
 'NC',
 'WI',
 'MO',
 'MO',
 'MO',
 'MO',
 'TN',
 'TN',
 'TN',
 'PA',
 'AR',
 'AR',
 'HI',
 'MI',
 'IL',
 'WA',
 'WA',
 'TX',
 'TX',
 'TX',
 'NY',
 'TN',
 'TN',
 'TN',
 'TN',
 'TN',
 'TN',
 'TN',
 'TN',
 'IN',
 'LA',
 'LA',
 'LA',
 'LA',
 'LA',
 'IN',
 'IN',
 'IN',
 'IN',
 'LA',
 'LA',
 'AZ',
 'FL',
 'PA',
 'MI',
 'MI',
 'MI',
 'MI',
 'TX',
 'NV',
 'OK',
 'OK',
 'PA',
 'ME',
 'KY',
 'KY',
 'KY',
 'KY',
 'KY',
 'KY',
 'OH',
 'NE',
 'NE',
 'AR',
 'AR',
 'AR',
 'AR',
 'AR',
 'AR',
 'TX',
 'TX',
 'TX',
 'TX',
 'WA',
 'CA',
 'CA',
 'CA',
 'CA',
 'TX',
 'TX',
 'TX',
 'GA',
 'GA',
 'GA',
 'GA',
 'GA',
 'CA',
 'WI',
 'WI',
 'WI',
 'WI',
 'NH',
 'KS',
 'KS',
 'KS',
 'MN',
 'MN',
 'OH',
 'TX',
 'OR',
 'CA',
 'FL',
 'FL',
 'FL',
 'FL',
 'FL',
 'FL',
 'IN',
 'MI',
 'TX',
 'TX',
 'WI',
 'WI',
 'WI',
 'WI',
 'MT',
 'AL',
 'AL',
 'CA',
 'LA',
 'LA',
 'LA',
 'MI',
 'AL',
 'AL',
 'AL',
 'AL',
 'TN',
 'TN',
 'TN',
 'WA',
 'IN',
 'MI',
 'CA',
 'FL',
 'TN',
 'TN',
 'TN',
 'TN',
 'TN',
 'TN',
 'TN',
 'TN',
 'TN',
 'TN',
 'TN',
 'TN',
 'TN',
 'NC',
 'NC',
 'NC',
 'CT',
 'LA',
 'LA',
 'LA',
 'LA',
 'LA',
 'LA',
 'LA',
 'LA',
 'MI',
 'FL',
 'FL',
 'CT',
 'FL',
 'NJ',
 'TX',
 'UT',
 'UT',
 'UT',
 'UT',
 'OK',
 'OK',
 'OK',
 'OK',
 'OK',
 'OK',
 'OK',
 'WA',
 'FL',
 'FL',
 'FL',
 'FL',
 'KY',
 'KY',
 'KY',
 'CA',
 'FL',
 'FL',
 'FL',
 'FL',
 'IL',
 'IL',
 'IL',
 'IL',
 'IL',
 'IL',
 'NJ',
 'NJ',
 'NJ',
 'PA',
 'PA',
 'PA',
 'PA',
 'PA',
 'AZ',
 'AZ',
 'AR',
 'AR',
 'AR',
 'PA',
 'PA',
 'PA',
 'PA',
 'PA',
 'PA',
 'PA',
 'MA',
 'ID',
 'ID',
 'ME',
 'ME',
 'ME',
 'FL',
 'FL',
 'NY',
 'NY',
 'AZ',
 'UT',
 'UT',
 'CO',
 'FL',
 'WI',
 'SD',
 'SD',
 'PA',
 'CA',
 'NV',
 'NV',
 'CA',
 'CA',
 'MN',
 'MN',
 'MN',
 'MN',
 'NY',
 'NY',
 'NY',
 'NY',
 'NY',
 'NY',
 'IL',
 'IL',
 'NC',
 'NC',
 'CA',
 'CA',
 'CA',
 'CA',
 'MI',
 'OR',
 'OR',
 'CA',
 'UT',
 'UT',
 'TX',
 'TX',
 'TX',
 'TX',
 'TX',
 'TX',
 'TX',
 'TX',
 'TX',
 'TX',
 'TX',
 'CA',
 'CA',
 'CA',
 'CA',
 'CA',
 'CA',
 'CA',
 'CA',
 'CA',
 'CA',
 'NM',
 'CA',
 'CA',
 'GA',
 'GA',
 'GA',
 'PA',
 'PA',
 'PA',
 'WA',
 'WA',
 'WA',
 'WA',
 'WA',
 'WA',
 'FL',
 'FL',
 'WI',
 'TX',
 'LA',
 'LA',
 'LA',
 'SD',
 'SD',
 'SD',
 'SD',
 'WA',
 'WA',
 'IL',
 'IL',
 'MA',
 'MA',
 'MA',
 'MO',
 'MO',
 'MO',
 'MO',
 'MO',
 'OH',
 'PA',
 'MN',
 'MN',
 'UT',
 'CA',
 'SC',
 'SC',
 'NY',
 'NY',
 'NY',
 'FL',
 'FL',
 'FL',
 'FL',
 'FL',
 'FL',
 'FL',
 'FL',
 'FL',
 'OH',
 'OH',
 'OH',
 'OH',
 'KS',
 'KS',
 'KS',
 'KS',
 'KS',
 'NJ',
 'AZ',
 'OK',
 'OK',
 'OK',
 'OK',
 'OK',
 'OK',
 'OK',
 'AL',
 'AL',
 'AL',
 'AL',
 'ID',
 'ID',
 'TX',
 'HI',
 'NY',
 'NY',
 'CA',
 'TX',
 'TX',
 'NJ',
 'CA',
 'TX',
 'TX',
 'WA',
 'GA',
 'GA',
 'MD',
 'MD',
 'NY',
 'WI',
 'WI',
 'WA',
 'WA',
 'KS',
 'KS',
 'KS',
 'KS',
 'TX',
 'TX',
 'TX',
 'PA',
 'NC',
 'NC',
 'WA',
 'PA',
 'CA',
 'CA',
 'AZ']

In [34]:
singleState_counties_df['state code'] = pd.Series(state_code_list)
singleState_counties_df

                         MSA      County/City state code
0         Abilene, TX M.S.A.  Callahan County         TX
1         Abilene, TX M.S.A.     Jones County         TX
2         Abilene, TX M.S.A.    Taylor County         TX
3           Akron, OH M.S.A.   Portage County         OH
4           Akron, OH M.S.A.    Summit County         OH
..                       ...              ...        ...
739        Yakima, WA M.S.A.    Yakima County         WA
740  York-Hanover, PA M.S.A.      York County         PA
741     Yuba City, CA M.S.A.    Sutter County         CA
742     Yuba City, CA M.S.A.      Yuba County         CA
743          Yuma, AZ M.S.A.      Yuma County         AZ

[744 rows x 3 columns]

In [35]:
us_state_abbrev = {
    'Alabama': 'AL',
    'Alaska': 'AK',
    'American Samoa': 'AS',
    'Arizona': 'AZ',
    'Arkansas': 'AR',
    'California': 'CA',
    'Colorado': 'CO',
    'Connecticut': 'CT',
    'Delaware': 'DE',
    'District of Columbia': 'DC',
    'Florida': 'FL',
    'Georgia': 'GA',
    'Guam': 'GU',
    'Hawaii': 'HI',
    'Idaho': 'ID',
    'Illinois': 'IL',
    'Indiana': 'IN',
    'Iowa': 'IA',
    'Kansas': 'KS',
    'Kentucky': 'KY',
    'Louisiana': 'LA',
    'Maine': 'ME',
    'Maryland': 'MD',
    'Massachusetts': 'MA',
    'Michigan': 'MI',
    'Minnesota': 'MN',
    'Mississippi': 'MS',
    'Missouri': 'MO',
    'Montana': 'MT',
    'Nebraska': 'NE',
    'Nevada': 'NV',
    'New Hampshire': 'NH',
    'New Jersey': 'NJ',
    'New Mexico': 'NM',
    'New York': 'NY',
    'North Carolina': 'NC',
    'North Dakota': 'ND',
    'Northern Mariana Islands':'MP',
    'Ohio': 'OH',
    'Oklahoma': 'OK',
    'Oregon': 'OR',
    'Pennsylvania': 'PA',
    'Puerto Rico': 'PR',
    'Rhode Island': 'RI',
    'South Carolina': 'SC',
    'South Dakota': 'SD',
    'Tennessee': 'TN',
    'Texas': 'TX',
    'Utah': 'UT',
    'Vermont': 'VT',
    'Virgin Islands': 'VI',
    'Virginia': 'VA',
    'Washington': 'WA',
    'West Virginia': 'WV',
    'Wisconsin': 'WI',
    'Wyoming': 'WY'
}

"""
Code Reference
Roger Allen (Mar 31 2021).Github Gist. 
Available at: https://gist.github.com/rogerallen/1583593 (Accessed 8/4/21).
"""

'\nCode Reference\nRoger Allen (Mar 31 2021).Github Gist. \nAvailable at: https://gist.github.com/rogerallen/1583593 (Accessed 8/4/21).\n'

In [36]:
#We need to invert this dictionary
state_dict = dict(map(reversed, us_state_abbrev.items()))
state_dict

{'AL': 'Alabama',
 'AK': 'Alaska',
 'AS': 'American Samoa',
 'AZ': 'Arizona',
 'AR': 'Arkansas',
 'CA': 'California',
 'CO': 'Colorado',
 'CT': 'Connecticut',
 'DE': 'Delaware',
 'DC': 'District of Columbia',
 'FL': 'Florida',
 'GA': 'Georgia',
 'GU': 'Guam',
 'HI': 'Hawaii',
 'ID': 'Idaho',
 'IL': 'Illinois',
 'IN': 'Indiana',
 'IA': 'Iowa',
 'KS': 'Kansas',
 'KY': 'Kentucky',
 'LA': 'Louisiana',
 'ME': 'Maine',
 'MD': 'Maryland',
 'MA': 'Massachusetts',
 'MI': 'Michigan',
 'MN': 'Minnesota',
 'MS': 'Mississippi',
 'MO': 'Missouri',
 'MT': 'Montana',
 'NE': 'Nebraska',
 'NV': 'Nevada',
 'NH': 'New Hampshire',
 'NJ': 'New Jersey',
 'NM': 'New Mexico',
 'NY': 'New York',
 'NC': 'North Carolina',
 'ND': 'North Dakota',
 'MP': 'Northern Mariana Islands',
 'OH': 'Ohio',
 'OK': 'Oklahoma',
 'OR': 'Oregon',
 'PA': 'Pennsylvania',
 'PR': 'Puerto Rico',
 'RI': 'Rhode Island',
 'SC': 'South Carolina',
 'SD': 'South Dakota',
 'TN': 'Tennessee',
 'TX': 'Texas',
 'UT': 'Utah',
 'VT': 'Vermont',
 'VI': 'Virgin Islands',
 'VA': 'Virginia',
 'WA': 'Washington',
 'WV': 'West Virginia',
 'WI': 'Wisconsin',
 'WY': 'Wyoming'}

In [37]:
state_list = []

for state_code in state_code_list:
    state = state_dict[state_code]
    state_list.append(state)
    
state_list

['Texas',
 'Texas',
 'Texas',
 'Ohio',
 'Ohio',
 'Georgia',
 'Georgia',
 'Georgia',
 'Georgia',
 'New York',
 'New York',
 'New York',
 'New York',
 'New York',
 'New Mexico',
 'New Mexico',
 'New Mexico',
 'New Mexico',
 'Louisiana',
 'Louisiana',
 'Pennsylvania',
 'Texas',
 'Texas',
 'Texas',
 'Texas',
 'Texas',
 'Alaska',
 'Alaska',
 'Michigan',
 'Alabama',
 'Wisconsin',
 'Wisconsin',
 'North Carolina',
 'North Carolina',
 'North Carolina',
 'North Carolina',
 'Georgia',
 'Georgia',
 'Georgia',
 'Georgia',
 'Georgia',
 'Georgia',
 'Georgia',
 'Georgia',
 'Georgia',
 'Georgia',
 'Georgia',
 'Georgia',
 'Georgia',
 'Georgia',
 'Georgia',
 'Georgia',
 'Georgia',
 'Georgia',
 'Georgia',
 'Georgia',
 'Georgia',
 'Georgia',
 'Georgia',
 'Georgia',
 'Georgia',
 'Georgia',
 'Georgia',
 'Georgia',
 'Georgia',
 'New Jersey',
 'Alabama',
 'Texas',
 'Texas',
 'Texas',
 'Texas',
 'Texas',
 'California',
 'Maine',
 'Massachusetts',
 'Louisiana',
 'Louisiana',
 'Louisiana',
 'Louisiana',
 'Louisiana',
 'Louisiana',
 'Louisiana',
 'Louisiana',
 'Louisiana',
 'Louisiana',
 'Michigan',
 'Michigan',
 'Texas',
 'Texas',
 'Texas',
 'West Virginia',
 'West Virginia',
 'Washington',
 'Oregon',
 'Montana',
 'Montana',
 'Montana',
 'New York',
 'New York',
 'North Dakota',
 'North Dakota',
 'North Dakota',
 'Illinois',
 'Indiana',
 'Indiana',
 'Pennsylvania',
 'Pennsylvania',
 'Idaho',
 'Idaho',
 'Idaho',
 'Idaho',
 'Idaho',
 'Massachusetts',
 'Massachusetts',
 'Massachusetts',
 'Massachusetts',
 'Massachusetts',
 'New Hampshire',
 'New Hampshire',
 'Colorado',
 'Kentucky',
 'Kentucky',
 'Kentucky',
 'Kentucky',
 'Connecticut',
 'Texas',
 'Georgia',
 'Georgia',
 'Georgia',
 'New York',
 'New York',
 'North Carolina',
 'Vermont',
 'Vermont',
 'Vermont',
 'Maryland',
 'Ohio',
 'Ohio',
 'Florida',
 'Wyoming',
 'Pennsylvania',
 'Illinois',
 'Illinois',
 'West Virginia',
 'West Virginia',
 'West Virginia',
 'West Virginia',
 'West Virginia',
 'South Carolina',
 'South Carolina',
 'South Carolina',
 'Illinois',
 'Illinois',
 'Illinois',
 'Illinois',
 'Illinois',
 'Illinois',
 'Illinois',
 'Illinois',
 'Indiana',
 'Indiana',
 'Indiana',
 'Indiana',
 'California',
 'Tennessee',
 'Tennessee',
 'Idaho',
 'Texas',
 'Texas',
 'Texas',
 'Colorado',
 'Colorado',
 'Missouri',
 'Missouri',
 'Missouri',
 'South Carolina',
 'South Carolina',
 'South Carolina',
 'South Carolina',
 'South Carolina',
 'South Carolina',
 'Indiana',
 'Ohio',
 'Ohio',
 'Ohio',
 'Ohio',
 'Ohio',
 'Ohio',
 'Ohio',
 'Ohio',
 'Ohio',
 'Ohio',
 'Texas',
 'Texas',
 'Oregon',
 'Florida',
 'Florida',
 'Texas',
 'Texas',
 'Texas',
 'Texas',
 'Texas',
 'Texas',
 'Texas',
 'Texas',
 'Texas',
 'Texas',
 'Texas',
 'Texas',
 'Texas',
 'Georgia',
 'Georgia',
 'Illinois',
 'Alabama',
 'Ohio',
 'Ohio',
 'Ohio',
 'Illinois',
 'Florida',
 'Florida',
 'Michigan',
 'Michigan',
 'Michigan',
 'Michigan',
 'Michigan',
 'Michigan',
 'Michigan',
 'Michigan',
 'Alabama',
 'Alabama',
 'Alabama',
 'Delaware',
 'Pennsylvania',
 'Wisconsin',
 'Wisconsin',
 'California',
 'Kentucky',
 'Kentucky',
 'Kentucky',
 'New York',
 'Texas',
 'Texas',
 'Oklahoma',
 'Pennsylvania',
 'Oregon',
 'Alaska',
 'New Mexico',
 'Arkansas',
 'Arkansas',
 'Arkansas',
 'Arizona',
 'Michigan',
 'South Carolina',
 'South Carolina',
 'Alabama',
 'Alabama',
 'Wisconsin',
 'Colorado',
 'Indiana',
 'Indiana',
 'California',
 'Alabama',
 'Florida',
 'Florida',
 'Florida',
 'Georgia',
 'Pennsylvania',
 'New York',
 'New York',
 'Nebraska',
 'Nebraska',
 'Nebraska',
 'Colorado',
 'Michigan',
 'Michigan',
 'Michigan',
 'Michigan',
 'Oregon',
 'Colorado',
 'Wisconsin',
 'Wisconsin',
 'Wisconsin',
 'North Carolina',
 'North Carolina',
 'North Carolina',
 'North Carolina',
 'Mississippi',
 'Mississippi',
 'Mississippi',
 'Mississippi',
 'Louisiana',
 'California',
 'Pennsylvania',
 'Pennsylvania',
 'Pennsylvania',
 'Connecticut',
 'Connecticut',
 'Connecticut',
 'South Carolina',
 'South Carolina',
 'Georgia',
 'Georgia',
 'Florida',
 'Arkansas',
 'Louisiana',
 'Louisiana',
 'Texas',
 'Texas',
 'Texas',
 'Texas',
 'Texas',
 'Texas',
 'Texas',
 'Texas',
 'Texas',
 'Idaho',
 'Idaho',
 'Idaho',
 'Indiana',
 'Indiana',
 'Indiana',
 'Indiana',
 'Indiana',
 'Indiana',
 'Indiana',
 'Indiana',
 'Indiana',
 'Indiana',
 'Indiana',
 'New York',
 'Michigan',
 'Tennessee',
 'Tennessee',
 'Tennessee',
 'Tennessee',
 'Florida',
 'Florida',
 'Florida',
 'Florida',
 'Florida',
 'North Carolina',
 'Wisconsin',
 'Missouri',
 'Missouri',
 'Missouri',
 'Missouri',
 'Tennessee',
 'Tennessee',
 'Tennessee',
 'Pennsylvania',
 'Arkansas',
 'Arkansas',
 'Hawaii',
 'Michigan',
 'Illinois',
 'Washington',
 'Washington',
 'Texas',
 'Texas',
 'Texas',
 'New York',
 'Tennessee',
 'Tennessee',
 'Tennessee',
 'Tennessee',
 'Tennessee',
 'Tennessee',
 'Tennessee',
 'Tennessee',
 'Indiana',
 'Louisiana',
 'Louisiana',
 'Louisiana',
 'Louisiana',
 'Louisiana',
 'Indiana',
 'Indiana',
 'Indiana',
 'Indiana',
 'Louisiana',
 'Louisiana',
 'Arizona',
 'Florida',
 'Pennsylvania',
 'Michigan',
 'Michigan',
 'Michigan',
 'Michigan',
 'Texas',
 'Nevada',
 'Oklahoma',
 'Oklahoma',
 'Pennsylvania',
 'Maine',
 'Kentucky',
 'Kentucky',
 'Kentucky',
 'Kentucky',
 'Kentucky',
 'Kentucky',
 'Ohio',
 'Nebraska',
 'Nebraska',
 'Arkansas',
 'Arkansas',
 'Arkansas',
 'Arkansas',
 'Arkansas',
 'Arkansas',
 'Texas',
 'Texas',
 'Texas',
 'Texas',
 'Washington',
 'California',
 'California',
 'California',
 'California',
 'Texas',
 'Texas',
 'Texas',
 'Georgia',
 'Georgia',
 'Georgia',
 'Georgia',
 'Georgia',
 'California',
 'Wisconsin',
 'Wisconsin',
 'Wisconsin',
 'Wisconsin',
 'New Hampshire',
 'Kansas',
 'Kansas',
 'Kansas',
 'Minnesota',
 'Minnesota',
 'Ohio',
 'Texas',
 'Oregon',
 'California',
 'Florida',
 'Florida',
 'Florida',
 'Florida',
 'Florida',
 'Florida',
 'Indiana',
 'Michigan',
 'Texas',
 'Texas',
 'Wisconsin',
 'Wisconsin',
 'Wisconsin',
 'Wisconsin',
 'Montana',
 'Alabama',
 'Alabama',
 'California',
 'Louisiana',
 'Louisiana',
 'Louisiana',
 'Michigan',
 'Alabama',
 'Alabama',
 'Alabama',
 'Alabama',
 'Tennessee',
 'Tennessee',
 'Tennessee',
 'Washington',
 'Indiana',
 'Michigan',
 'California',
 'Florida',
 'Tennessee',
 'Tennessee',
 'Tennessee',
 'Tennessee',
 'Tennessee',
 'Tennessee',
 'Tennessee',
 'Tennessee',
 'Tennessee',
 'Tennessee',
 'Tennessee',
 'Tennessee',
 'Tennessee',
 'North Carolina',
 'North Carolina',
 'North Carolina',
 'Connecticut',
 'Louisiana',
 'Louisiana',
 'Louisiana',
 'Louisiana',
 'Louisiana',
 'Louisiana',
 'Louisiana',
 'Louisiana',
 'Michigan',
 'Florida',
 'Florida',
 'Connecticut',
 'Florida',
 'New Jersey',
 'Texas',
 'Utah',
 'Utah',
 'Utah',
 'Utah',
 'Oklahoma',
 'Oklahoma',
 'Oklahoma',
 'Oklahoma',
 'Oklahoma',
 'Oklahoma',
 'Oklahoma',
 'Washington',
 'Florida',
 'Florida',
 'Florida',
 'Florida',
 'Kentucky',
 'Kentucky',
 'Kentucky',
 'California',
 'Florida',
 'Florida',
 'Florida',
 'Florida',
 'Illinois',
 'Illinois',
 'Illinois',
 'Illinois',
 'Illinois',
 'Illinois',
 'New Jersey',
 'New Jersey',
 'New Jersey',
 'Pennsylvania',
 'Pennsylvania',
 'Pennsylvania',
 'Pennsylvania',
 'Pennsylvania',
 'Arizona',
 'Arizona',
 'Arkansas',
 'Arkansas',
 'Arkansas',
 'Pennsylvania',
 'Pennsylvania',
 'Pennsylvania',
 'Pennsylvania',
 'Pennsylvania',
 'Pennsylvania',
 'Pennsylvania',
 'Massachusetts',
 'Idaho',
 'Idaho',
 'Maine',
 'Maine',
 'Maine',
 'Florida',
 'Florida',
 'New York',
 'New York',
 'Arizona',
 'Utah',
 'Utah',
 'Colorado',
 'Florida',
 'Wisconsin',
 'South Dakota',
 'South Dakota',
 'Pennsylvania',
 'California',
 'Nevada',
 'Nevada',
 'California',
 'California',
 'Minnesota',
 'Minnesota',
 'Minnesota',
 'Minnesota',
 'New York',
 'New York',
 'New York',
 'New York',
 'New York',
 'New York',
 'Illinois',
 'Illinois',
 'North Carolina',
 'North Carolina',
 'California',
 'California',
 'California',
 'California',
 'Michigan',
 'Oregon',
 'Oregon',
 'California',
 'Utah',
 'Utah',
 'Texas',
 'Texas',
 'Texas',
 'Texas',
 'Texas',
 'Texas',
 'Texas',
 'Texas',
 'Texas',
 'Texas',
 'Texas',
 'California',
 'California',
 'California',
 'California',
 'California',
 'California',
 'California',
 'California',
 'California',
 'California',
 'New Mexico',
 'California',
 'California',
 'Georgia',
 'Georgia',
 'Georgia',
 'Pennsylvania',
 'Pennsylvania',
 'Pennsylvania',
 'Washington',
 'Washington',
 'Washington',
 'Washington',
 'Washington',
 'Washington',
 'Florida',
 'Florida',
 'Wisconsin',
 'Texas',
 'Louisiana',
 'Louisiana',
 'Louisiana',
 'South Dakota',
 'South Dakota',
 'South Dakota',
 'South Dakota',
 'Washington',
 'Washington',
 'Illinois',
 'Illinois',
 'Massachusetts',
 'Massachusetts',
 'Massachusetts',
 'Missouri',
 'Missouri',
 'Missouri',
 'Missouri',
 'Missouri',
 'Ohio',
 'Pennsylvania',
 'Minnesota',
 'Minnesota',
 'Utah',
 'California',
 'South Carolina',
 'South Carolina',
 'New York',
 'New York',
 'New York',
 'Florida',
 'Florida',
 'Florida',
 'Florida',
 'Florida',
 'Florida',
 'Florida',
 'Florida',
 'Florida',
 'Ohio',
 'Ohio',
 'Ohio',
 'Ohio',
 'Kansas',
 'Kansas',
 'Kansas',
 'Kansas',
 'Kansas',
 'New Jersey',
 'Arizona',
 'Oklahoma',
 'Oklahoma',
 'Oklahoma',
 'Oklahoma',
 'Oklahoma',
 'Oklahoma',
 'Oklahoma',
 'Alabama',
 'Alabama',
 'Alabama',
 'Alabama',
 'Idaho',
 'Idaho',
 'Texas',
 'Hawaii',
 'New York',
 'New York',
 'California',
 'Texas',
 'Texas',
 'New Jersey',
 'California',
 'Texas',
 'Texas',
 'Washington',
 'Georgia',
 'Georgia',
 'Maryland',
 'Maryland',
 'New York',
 'Wisconsin',
 'Wisconsin',
 'Washington',
 'Washington',
 'Kansas',
 'Kansas',
 'Kansas',
 'Kansas',
 'Texas',
 'Texas',
 'Texas',
 'Pennsylvania',
 'North Carolina',
 'North Carolina',
 'Washington',
 'Pennsylvania',
 'California',
 'California',
 'Arizona']

In [38]:
singleState_counties_df['State'] = pd.Series(state_list)
singleState_counties_df = singleState_counties_df.drop(['state code'], axis=1)

singleState_counties_df

                         MSA      County/City         State
0         Abilene, TX M.S.A.  Callahan County         Texas
1         Abilene, TX M.S.A.     Jones County         Texas
2         Abilene, TX M.S.A.    Taylor County         Texas
3           Akron, OH M.S.A.   Portage County          Ohio
4           Akron, OH M.S.A.    Summit County          Ohio
..                       ...              ...           ...
739        Yakima, WA M.S.A.    Yakima County    Washington
740  York-Hanover, PA M.S.A.      York County  Pennsylvania
741     Yuba City, CA M.S.A.    Sutter County    California
742     Yuba City, CA M.S.A.      Yuba County    California
743          Yuma, AZ M.S.A.      Yuma County       Arizona

[744 rows x 3 columns]

#### Single State Cities

In [39]:
singleState_cities_MSA_df

,MSA,County/City
20,"Baltimore-Columbia-Towson, MD M.S.A.","Includes Anne Arundel, Baltimore, Carroll, Har..."
33,"Blacksburg-Christiansburg, VA M.S.A.","Includes Giles, Montgomery, and Pulaski Counti..."
54,"Carson City, NV M.S.A.",Includes Carson City
61,"Charlottesville, VA M.S.A.","Includes Albemarle, Buckingham, Fluvanna, Gree..."
140,"Harrisonburg, VA M.S.A.",Includes Rockingham County and Harrisonburg City
194,"Lynchburg, VA M.S.A.","Includes Amherst, Appomattox, Bedford, and Cam..."
272,"Richmond, VA M.S.A.","Includes Amelia, Charles City, Chesterfield, D..."
288,"San Francisco-Oakland-Berkeley, CA M.S.A.",Includes the Metropolitan Divisions of Oakland...
274,"Roanoke, VA M.S.A.","Includes Botetourt, Craig, Franklin, and Roano..."
316,"Staunton, VA M.S.A.",Includes Augusta County and Staunton and Wayne...

In [40]:
singleState_cities_list = singleState_cities_MSA_df['County/City'].tolist()
singleState_cities_list

["Includes Anne Arundel, Baltimore, Carroll, Harford, Howard, and Queen Anne's Counties and Baltimore City",
 'Includes Giles, Montgomery, and Pulaski Counties and Radford City',
 'Includes Carson City',
 'Includes Albemarle, Buckingham, Fluvanna, Greene, and Nelson Counties and Charlottesville City',
 'Includes Rockingham County and Harrisonburg City',
 'Includes Amherst, Appomattox, Bedford, and Campbell Counties and Lynchburg City',
 'Includes Amelia, Charles City, Chesterfield, Dinwiddie, Goochland, Hanover, Henrico, King and Queen, King William, New Kent, Powhatan, Prince George, and Sussex Counties and Colonial Heights, Hopewell, Petersburg, and Richmond Cities',
 'Includes the Metropolitan Divisions of Oakland-Berkeley-Livermore, San Francisco-San Mateo-Redwood City, and San Rafael',
 'Includes Botetourt, Craig, Franklin, and Roanoke Counties and Roanoke and Salem Cities',
 'Includes Augusta County and Staunton and Waynesboro Cities ']

In [41]:
singleState_cities_MSA_df['County/City'] = singleState_cities_MSA_df['County/City'].str.replace("Includes", "")
singleState_cities_MSA_df['County/City'] = singleState_cities_MSA_df['County/City'].str.replace(" and ", ",")
singleState_cities_MSA_df['County/City'].tolist()

[" Anne Arundel, Baltimore, Carroll, Harford, Howard,,Queen Anne's Counties,Baltimore City",
 ' Giles, Montgomery,,Pulaski Counties,Radford City',
 ' Carson City',
 ' Albemarle, Buckingham, Fluvanna, Greene,,Nelson Counties,Charlottesville City',
 ' Rockingham County,Harrisonburg City',
 ' Amherst, Appomattox, Bedford,,Campbell Counties,Lynchburg City',
 ' Amelia, Charles City, Chesterfield, Dinwiddie, Goochland, Hanover, Henrico, King,Queen, King William, New Kent, Powhatan, Prince George,,Sussex Counties,Colonial Heights, Hopewell, Petersburg,,Richmond Cities',
 ' the Metropolitan Divisions of Oakland-Berkeley-Livermore, San Francisco-San Mateo-Redwood City,,San Rafael',
 ' Botetourt, Craig, Franklin,,Roanoke Counties,Roanoke,Salem Cities',
 ' Augusta County,Staunton,Waynesboro Cities ']

In [42]:
singleState_cities_MSA_list = singleState_cities_MSA_df['MSA'].tolist()
singleState_cities_list = singleState_cities_MSA_df['County/City'].tolist()
singleState_cities_list

[" Anne Arundel, Baltimore, Carroll, Harford, Howard,,Queen Anne's Counties,Baltimore City",
 ' Giles, Montgomery,,Pulaski Counties,Radford City',
 ' Carson City',
 ' Albemarle, Buckingham, Fluvanna, Greene,,Nelson Counties,Charlottesville City',
 ' Rockingham County,Harrisonburg City',
 ' Amherst, Appomattox, Bedford,,Campbell Counties,Lynchburg City',
 ' Amelia, Charles City, Chesterfield, Dinwiddie, Goochland, Hanover, Henrico, King,Queen, King William, New Kent, Powhatan, Prince George,,Sussex Counties,Colonial Heights, Hopewell, Petersburg,,Richmond Cities',
 ' the Metropolitan Divisions of Oakland-Berkeley-Livermore, San Francisco-San Mateo-Redwood City,,San Rafael',
 ' Botetourt, Craig, Franklin,,Roanoke Counties,Roanoke,Salem Cities',
 ' Augusta County,Staunton,Waynesboro Cities ']

In [43]:
#Here we clean singleState_cities_list and put all the counties and cities into a lists within a list

i = 0
lenghtOfList = len(singleState_cities_list)

while i < lenghtOfList:
    #Convert list entries into lists themselves split by ',' and remove empty entries
    singleState_cities_list[i] = singleState_cities_list[i].split(",") 
    singleState_cities_list[i] = list(filter(None, singleState_cities_list[i]))
    
    #remove whitespaces before and after individual county names
    n = 0
    while n < len(singleState_cities_list[i]):
        singleState_cities_list[i][n] = singleState_cities_list[i][n].strip()
        n = n + 1
        
    i = i + 1
    
singleState_cities_list

[['Anne Arundel',
  'Baltimore',
  'Carroll',
  'Harford',
  'Howard',
  "Queen Anne's Counties",
  'Baltimore City'],
 ['Giles', 'Montgomery', 'Pulaski Counties', 'Radford City'],
 ['Carson City'],
 ['Albemarle',
  'Buckingham',
  'Fluvanna',
  'Greene',
  'Nelson Counties',
  'Charlottesville City'],
 ['Rockingham County', 'Harrisonburg City'],
 ['Amherst', 'Appomattox', 'Bedford', 'Campbell Counties', 'Lynchburg City'],
 ['Amelia',
  'Charles City',
  'Chesterfield',
  'Dinwiddie',
  'Goochland',
  'Hanover',
  'Henrico',
  'King',
  'Queen',
  'King William',
  'New Kent',
  'Powhatan',
  'Prince George',
  'Sussex Counties',
  'Colonial Heights',
  'Hopewell',
  'Petersburg',
  'Richmond Cities'],
 ['the Metropolitan Divisions of Oakland-Berkeley-Livermore',
  'San Francisco-San Mateo-Redwood City',
  'San Rafael'],
 ['Botetourt',
  'Craig',
  'Franklin',
  'Roanoke Counties',
  'Roanoke',
  'Salem Cities'],
 ['Augusta County', 'Staunton', 'Waynesboro Cities']]

In [44]:
#Now have to remove 'counties' text by putting 'county' by every individual county

singleState_cities_list

for item in singleState_cities_list:
    i = 0
    count = 0
    while i < len(item):
        if 'Counties' in item[i]:
            count = i + 1
            pos = item[i].find('Counties')
            item[i] = item[i][0: pos - 1]
            
            for n in range(count):
                item[n] = item[n] + ' County'
                
        if 'Cities' in item[i]:
            pos = item[i].find('Cities')
            item[i] = item[i][0: pos - 1]
            for n in range(count, i+1):
                if 'County' not in item[n]:
                    item[n] = item[n] + ' City'
        
        i = i + 1

singleState_cities_list

[['Anne Arundel County',
  'Baltimore County',
  'Carroll County',
  'Harford County',
  'Howard County',
  "Queen Anne's County",
  'Baltimore City'],
 ['Giles County', 'Montgomery County', 'Pulaski County', 'Radford City'],
 ['Carson City'],
 ['Albemarle County',
  'Buckingham County',
  'Fluvanna County',
  'Greene County',
  'Nelson County',
  'Charlottesville City'],
 ['Rockingham County', 'Harrisonburg City'],
 ['Amherst County',
  'Appomattox County',
  'Bedford County',
  'Campbell County',
  'Lynchburg City'],
 ['Amelia County',
  'Charles City County',
  'Chesterfield County',
  'Dinwiddie County',
  'Goochland County',
  'Hanover County',
  'Henrico County',
  'King County',
  'Queen County',
  'King William County',
  'New Kent County',
  'Powhatan County',
  'Prince George County',
  'Sussex County',
  'Colonial Heights City',
  'Hopewell City',
  'Petersburg City',
  'Richmond City'],
 ['the Metropolitan Divisions of Oakland-Berkeley-Livermore',
  'San Francisco-San Mateo-Redwood City',
  'San Rafael'],
 ['Botetourt County',
  'Craig County',
  'Franklin County',
  'Roanoke County',
  'Roanoke City',
  'Salem City'],
 ['Augusta County', 'Staunton City', 'Waynesboro City']]

In [45]:
#We create two lists with corresponding MSA's and counties

singleState_cities_MSA_list_processed = []
singleState_cities_list_processed = []

i = 0
lenghtOfList = len(singleState_cities_MSA_list)

while i < lenghtOfList:
    n = 0
    while n < len(singleState_cities_list[i]):
        singleState_cities_MSA_list_processed.append(singleState_cities_MSA_list[i])
        singleState_cities_list_processed.append(singleState_cities_list[i][n])
        n = n + 1
        
    i = i + 1

In [46]:
singleState_cities_list_processed

['Anne Arundel County',
 'Baltimore County',
 'Carroll County',
 'Harford County',
 'Howard County',
 "Queen Anne's County",
 'Baltimore City',
 'Giles County',
 'Montgomery County',
 'Pulaski County',
 'Radford City',
 'Carson City',
 'Albemarle County',
 'Buckingham County',
 'Fluvanna County',
 'Greene County',
 'Nelson County',
 'Charlottesville City',
 'Rockingham County',
 'Harrisonburg City',
 'Amherst County',
 'Appomattox County',
 'Bedford County',
 'Campbell County',
 'Lynchburg City',
 'Amelia County',
 'Charles City County',
 'Chesterfield County',
 'Dinwiddie County',
 'Goochland County',
 'Hanover County',
 'Henrico County',
 'King County',
 'Queen County',
 'King William County',
 'New Kent County',
 'Powhatan County',
 'Prince George County',
 'Sussex County',
 'Colonial Heights City',
 'Hopewell City',
 'Petersburg City',
 'Richmond City',
 'the Metropolitan Divisions of Oakland-Berkeley-Livermore',
 'San Francisco-San Mateo-Redwood City',
 'San Rafael',
 'Botetourt County',
 'Craig County',
 'Franklin County',
 'Roanoke County',
 'Roanoke City',
 'Salem City',
 'Augusta County',
 'Staunton City',
 'Waynesboro City']

In [47]:
#Create dataframe that joins MSA and individual Counties for single state counties only
singleState_cities_df = pd.DataFrame(columns = ['MSA', 'County/City'])

singleState_cities_df['MSA'] = pd.Series(singleState_cities_MSA_list_processed)

singleState_cities_df['County/City'] = pd.Series(singleState_cities_list_processed)

singleState_cities_df

,MSA,County/City
0,"Baltimore-Columbia-Towson, MD M.S.A.",Anne Arundel County
1,"Baltimore-Columbia-Towson, MD M.S.A.",Baltimore County
2,"Baltimore-Columbia-Towson, MD M.S.A.",Carroll County
3,"Baltimore-Columbia-Towson, MD M.S.A.",Harford County
4,"Baltimore-Columbia-Towson, MD M.S.A.",Howard County
5,"Baltimore-Columbia-Towson, MD M.S.A.",Queen Anne's County
6,"Baltimore-Columbia-Towson, MD M.S.A.",Baltimore City
7,"Blacksburg-Christiansburg, VA M.S.A.",Giles County
8,"Blacksburg-Christiansburg, VA M.S.A.",Montgomery County
9,"Blacksburg-Christiansburg, VA M.S.A.",Pulaski County
10,"Blacksburg-Christiansburg, VA M.S.A.",Radford City
11,"Carson City, NV M.S.A.",Carson City
12,"Charlottesville, VA M.S.A.",Albemarle County
13,"Charlottesville, VA M.S.A.",Buckingham County
14,"Charlottesville, VA M.S.A.",Fluvanna County
15,"Charlottesville, VA M.S.A.",Greene County
16,"Charlottesville, VA M.S.A.",Nelson County
17,"Charlottesville, VA M.S.A.",Charlottesville City
18,"Harrisonburg, VA M.S.A.",Rockingham County
19,"Harrisonburg, VA M.S.A.",Harrisonburg City
20,"Lynchburg, VA M.S.A.",Amherst County
21,"Lynchburg, VA M.S.A.",Appomattox County
22,"Lynchburg, VA M.S.A.",Bedford County
23,"Lynchburg, VA M.S.A.",Campbell County
24,"Lynchburg, VA M.S.A.",Lynchburg City
25,"Richmond, VA M.S.A.",Amelia County
26,"Richmond, VA M.S.A.",Charles City County
27,"Richmond, VA M.S.A.",Chesterfield County
28,"Richmond, VA M.S.A.",Dinwiddie County
29,"Richmond, VA M.S.A.",Goochland County
30,"Richmond, VA M.S.A.",Hanover County
31,"Richmond, VA M.S.A.",Henrico County
32,"Richmond, VA M.S.A.",King County
33,"Richmond, VA M.S.A.",Queen County
34,"Richmond, VA M.S.A.",King William County
35,"Richmond, VA M.S.A.",New Kent County
36,"Richmond, VA M.S.A.",Powhatan County
37,"Richmond, VA M.S.A.",Prince George County
38,"Richmond, VA M.S.A.",Sussex County
39,"Richmond, VA M.S.A.",Colonial Heights City
40,"Richmond, VA M.S.A.",Hopewell City
41,"Richmond, VA M.S.A.",Petersburg City
42,"Richmond, VA M.S.A.",Richmond City
43,"San Francisco-Oakland-Berkeley, CA M.S.A.",the Metropolitan Divisions of Oakland-Berkeley...
44,"San Francisco-Oakland-Berkeley, CA M.S.A.",San Francisco-San Mateo-Redwood City
45,"San Francisco-Oakland-Berkeley, CA M.S.A.",San Rafael
46,"Roanoke, VA M.S.A.",Botetourt County
47,"Roanoke, VA M.S.A.",Craig County
48,"Roanoke, VA M.S.A.",Franklin County
49,"Roanoke, VA M.S.A.",Roanoke County
50,"Roanoke, VA M.S.A.",Roanoke City
51,"Roanoke, VA M.S.A.",Salem City
52,"Staunton, VA M.S.A.",Augusta County
53,"Staunton, VA M.S.A.",Staunton City
54,"Staunton, VA M.S.A.",Waynesboro City

In [48]:
#Store state codes for singleStates 
state_code_list = []

for MSA_address in singleState_cities_MSA_list_processed:
    state_code = re.findall("[A-Z][A-Z]", MSA_address)
    state_code_list.append(state_code[0])
    
state_code_list

['MD',
 'MD',
 'MD',
 'MD',
 'MD',
 'MD',
 'MD',
 'VA',
 'VA',
 'VA',
 'VA',
 'NV',
 'VA',
 'VA',
 'VA',
 'VA',
 'VA',
 'VA',
 'VA',
 'VA',
 'VA',
 'VA',
 'VA',
 'VA',
 'VA',
 'VA',
 'VA',
 'VA',
 'VA',
 'VA',
 'VA',
 'VA',
 'VA',
 'VA',
 'VA',
 'VA',
 'VA',
 'VA',
 'VA',
 'VA',
 'VA',
 'VA',
 'VA',
 'CA',
 'CA',
 'CA',
 'VA',
 'VA',
 'VA',
 'VA',
 'VA',
 'VA',
 'VA',
 'VA',
 'VA']

In [49]:
singleState_cities_df['state code'] = pd.Series(state_code_list)
singleState_cities_df

,MSA,County/City,state code
0,"Baltimore-Columbia-Towson, MD M.S.A.",Anne Arundel County,MD
1,"Baltimore-Columbia-Towson, MD M.S.A.",Baltimore County,MD
2,"Baltimore-Columbia-Towson, MD M.S.A.",Carroll County,MD
3,"Baltimore-Columbia-Towson, MD M.S.A.",Harford County,MD
4,"Baltimore-Columbia-Towson, MD M.S.A.",Howard County,MD
5,"Baltimore-Columbia-Towson, MD M.S.A.",Queen Anne's County,MD
6,"Baltimore-Columbia-Towson, MD M.S.A.",Baltimore City,MD
7,"Blacksburg-Christiansburg, VA M.S.A.",Giles County,VA
8,"Blacksburg-Christiansburg, VA M.S.A.",Montgomery County,VA
9,"Blacksburg-Christiansburg, VA M.S.A.",Pulaski County,VA
10,"Blacksburg-Christiansburg, VA M.S.A.",Radford City,VA
11,"Carson City, NV M.S.A.",Carson City,NV
12,"Charlottesville, VA M.S.A.",Albemarle County,VA
13,"Charlottesville, VA M.S.A.",Buckingham County,VA
14,"Charlottesville, VA M.S.A.",Fluvanna County,VA
15,"Charlottesville, VA M.S.A.",Greene County,VA
16,"Charlottesville, VA M.S.A.",Nelson County,VA
17,"Charlottesville, VA M.S.A.",Charlottesville City,VA
18,"Harrisonburg, VA M.S.A.",Rockingham County,VA
19,"Harrisonburg, VA M.S.A.",Harrisonburg City,VA
20,"Lynchburg, VA M.S.A.",Amherst County,VA
21,"Lynchburg, VA M.S.A.",Appomattox County,VA
22,"Lynchburg, VA M.S.A.",Bedford County,VA
23,"Lynchburg, VA M.S.A.",Campbell County,VA
24,"Lynchburg, VA M.S.A.",Lynchburg City,VA
25,"Richmond, VA M.S.A.",Amelia County,VA
26,"Richmond, VA M.S.A.",Charles City County,VA
27,"Richmond, VA M.S.A.",Chesterfield County,VA
28,"Richmond, VA M.S.A.",Dinwiddie County,VA
29,"Richmond, VA M.S.A.",Goochland County,VA
30,"Richmond, VA M.S.A.",Hanover County,VA
31,"Richmond, VA M.S.A.",Henrico County,VA
32,"Richmond, VA M.S.A.",King County,VA
33,"Richmond, VA M.S.A.",Queen County,VA
34,"Richmond, VA M.S.A.",King William County,VA
35,"Richmond, VA M.S.A.",New Kent County,VA
36,"Richmond, VA M.S.A.",Powhatan County,VA
37,"Richmond, VA M.S.A.",Prince George County,VA
38,"Richmond, VA M.S.A.",Sussex County,VA
39,"Richmond, VA M.S.A.",Colonial Heights City,VA
40,"Richmond, VA M.S.A.",Hopewell City,VA
41,"Richmond, VA M.S.A.",Petersburg City,VA
42,"Richmond, VA M.S.A.",Richmond City,VA
43,"San Francisco-Oakland-Berkeley, CA M.S.A.",the Metropolitan Divisions of Oakland-Berkeley...,CA
44,"San Francisco-Oakland-Berkeley, CA M.S.A.",San Francisco-San Mateo-Redwood City,CA
45,"San Francisco-Oakland-Berkeley, CA M.S.A.",San Rafael,CA
46,"Roanoke, VA M.S.A.",Botetourt County,VA
47,"Roanoke, VA M.S.A.",Craig County,VA
48,"Roanoke, VA M.S.A.",Franklin County,VA
49,"Roanoke, VA M.S.A.",Roanoke County,VA
50,"Roanoke, VA M.S.A.",Roanoke City,VA
51,"Roanoke, VA M.S.A.",Salem City,VA
52,"Staunton, VA M.S.A.",Augusta County,VA
53,"Staunton, VA M.S.A.",Staunton City,VA
54,"Staunton, VA M.S.A.",Waynesboro City,VA

In [50]:
state_list = []

for state_code in state_code_list:
    state = state_dict[state_code]
    state_list.append(state)
    
state_list

['Maryland',
 'Maryland',
 'Maryland',
 'Maryland',
 'Maryland',
 'Maryland',
 'Maryland',
 'Virginia',
 'Virginia',
 'Virginia',
 'Virginia',
 'Nevada',
 'Virginia',
 'Virginia',
 'Virginia',
 'Virginia',
 'Virginia',
 'Virginia',
 'Virginia',
 'Virginia',
 'Virginia',
 'Virginia',
 'Virginia',
 'Virginia',
 'Virginia',
 'Virginia',
 'Virginia',
 'Virginia',
 'Virginia',
 'Virginia',
 'Virginia',
 'Virginia',
 'Virginia',
 'Virginia',
 'Virginia',
 'Virginia',
 'Virginia',
 'Virginia',
 'Virginia',
 'Virginia',
 'Virginia',
 'Virginia',
 'Virginia',
 'California',
 'California',
 'California',
 'Virginia',
 'Virginia',
 'Virginia',
 'Virginia',
 'Virginia',
 'Virginia',
 'Virginia',
 'Virginia',
 'Virginia']

In [51]:
singleState_cities_df['State'] = pd.Series(state_list)
singleState_cities_df = singleState_cities_df.drop(['state code'], axis=1)
singleState_cities_df

,MSA,County/City,State
0,"Baltimore-Columbia-Towson, MD M.S.A.",Anne Arundel County,Maryland
1,"Baltimore-Columbia-Towson, MD M.S.A.",Baltimore County,Maryland
2,"Baltimore-Columbia-Towson, MD M.S.A.",Carroll County,Maryland
3,"Baltimore-Columbia-Towson, MD M.S.A.",Harford County,Maryland
4,"Baltimore-Columbia-Towson, MD M.S.A.",Howard County,Maryland
5,"Baltimore-Columbia-Towson, MD M.S.A.",Queen Anne's County,Maryland
6,"Baltimore-Columbia-Towson, MD M.S.A.",Baltimore City,Maryland
7,"Blacksburg-Christiansburg, VA M.S.A.",Giles County,Virginia
8,"Blacksburg-Christiansburg, VA M.S.A.",Montgomery County,Virginia
9,"Blacksburg-Christiansburg, VA M.S.A.",Pulaski County,Virginia
10,"Blacksburg-Christiansburg, VA M.S.A.",Radford City,Virginia
11,"Carson City, NV M.S.A.",Carson City,Nevada
12,"Charlottesville, VA M.S.A.",Albemarle County,Virginia
13,"Charlottesville, VA M.S.A.",Buckingham County,Virginia
14,"Charlottesville, VA M.S.A.",Fluvanna County,Virginia
15,"Charlottesville, VA M.S.A.",Greene County,Virginia
16,"Charlottesville, VA M.S.A.",Nelson County,Virginia
17,"Charlottesville, VA M.S.A.",Charlottesville City,Virginia
18,"Harrisonburg, VA M.S.A.",Rockingham County,Virginia
19,"Harrisonburg, VA M.S.A.",Harrisonburg City,Virginia
20,"Lynchburg, VA M.S.A.",Amherst County,Virginia
21,"Lynchburg, VA M.S.A.",Appomattox County,Virginia
22,"Lynchburg, VA M.S.A.",Bedford County,Virginia
23,"Lynchburg, VA M.S.A.",Campbell County,Virginia
24,"Lynchburg, VA M.S.A.",Lynchburg City,Virginia
25,"Richmond, VA M.S.A.",Amelia County,Virginia
26,"Richmond, VA M.S.A.",Charles City County,Virginia
27,"Richmond, VA M.S.A.",Chesterfield County,Virginia
28,"Richmond, VA M.S.A.",Dinwiddie County,Virginia
29,"Richmond, VA M.S.A.",Goochland County,Virginia
30,"Richmond, VA M.S.A.",Hanover County,Virginia
31,"Richmond, VA M.S.A.",Henrico County,Virginia
32,"Richmond, VA M.S.A.",King County,Virginia
33,"Richmond, VA M.S.A.",Queen County,Virginia
34,"Richmond, VA M.S.A.",King William County,Virginia
35,"Richmond, VA M.S.A.",New Kent County,Virginia
36,"Richmond, VA M.S.A.",Powhatan County,Virginia
37,"Richmond, VA M.S.A.",Prince George County,Virginia
38,"Richmond, VA M.S.A.",Sussex County,Virginia
39,"Richmond, VA M.S.A.",Colonial Heights City,Virginia
40,"Richmond, VA M.S.A.",Hopewell City,Virginia
41,"Richmond, VA M.S.A.",Petersburg City,Virginia
42,"Richmond, VA M.S.A.",Richmond City,Virginia
43,"San Francisco-Oakland-Berkeley, CA M.S.A.",the Metropolitan Divisions of Oakland-Berkeley...,California
44,"San Francisco-Oakland-Berkeley, CA M.S.A.",San Francisco-San Mateo-Redwood City,California
45,"San Francisco-Oakland-Berkeley, CA M.S.A.",San Rafael,California
46,"Roanoke, VA M.S.A.",Botetourt County,Virginia
47,"Roanoke, VA M.S.A.",Craig County,Virginia
48,"Roanoke, VA M.S.A.",Franklin County,Virginia
49,"Roanoke, VA M.S.A.",Roanoke County,Virginia
50,"Roanoke, VA M.S.A.",Roanoke City,Virginia
51,"Roanoke, VA M.S.A.",Salem City,Virginia
52,"Staunton, VA M.S.A.",Augusta County,Virginia
53,"Staunton, VA M.S.A.",Staunton City,Virginia
54,"Staunton, VA M.S.A.",Waynesboro City,Virginia

### Multi States

In [52]:
multiState_countiesCities_MSA_df = MSA_to_counties_cities_df[MSA_to_counties_cities_df['MSA'].str.contains("[A-Z][A-Z]-[A-Z][A-Z]")]
multiState_MSA_list = multiState_countiesCities_MSA_df['MSA'].tolist()
multiState_MSA_list

['Allentown-Bethlehem-Easton, PA-NJ M.S.A.',
 'Augusta-Richmond County, GA-SC M.S.A.',
 'Boston-Cambridge-Newton, MA-NH M.S.A.',
 'Cape Girardeau, MO-IL M.S.A.',
 'Charlotte-Concord-Gastonia, NC-SC M.S.A.',
 'Chattanooga, TN-GA M.S.A.',
 'Chicago-Naperville-Elgin, IL-IN-WI M.S.A., ',
 'Lake County-Kenosha County, IL-WI M.D., ',
 'Cincinnati, OH-KY-IN M.S.A.',
 'Clarksville, TN-KY M.S.A.',
 'Cumberland, MD-WV M.S.A.',
 'Duluth, MN-WI M.S.A.',
 'Evansville, IN-KY M.S.A.',
 'Fargo, ND-MN M.S.A.',
 'Fort Smith, AR-OK M.S.A.',
 'Grand Forks, ND-MN M.S.A.',
 'Hagerstown-Martinsburg, MD-WV M.S.A.',
 'Kingsport-Bristol, TN-VA M.S.A.',
 'La Crosse-Onalaska, WI-MN M.S.A.',
 'Lewiston, ID-WA M.S.A.',
 'Logan, UT-ID M.S.A.',
 'Memphis, TN-MS-AR M.S.A., ',
 'Minneapolis-St. Paul-Bloomington, MN-WI M.S.A.',
 'Myrtle Beach-Conway-North Myrtle Beach, SC-NC M.S.A., ',
 'Philadelphia-Camden-Wilmington, PA-NJ-DE-MD M.S.A.',
 'Wilmington, DE-MD-NJ M.D.',
 'Portland-Vancouver-Hillsboro, OR-WA M.S.A.',
 'Providence-Warwick, RI-MA M.S.A.',
 'Salisbury, MD-DE M.S.A.',
 'South Bend-Mishawaka, IN-MI M.S.A.',
 'St. Joseph, MO-KS M.S.A., ',
 'St. Louis, MO-IL M.S.A., , , ',
 'Texarkana, TX-AR M.S.A.',
 'Virginia Beach-Norfolk-Newport News, VA-NC M.S.A., ',
 'Washington-Arlington-Alexandria, DC-VA-MD-WV M.S.A.',
 'Washington-Arlington-Alexandria, DC-VA-MD-WV M.D.',
 'Weirton-Steubenville, WV-OH M.S.A.',
 'Wheeling, WV-OH M.S.A.',
 'Winchester, VA-WV M.S.A.',
 'Worcester, MA-CT M.S.A.']

#### Mulit-state counties only

In [53]:
multiState_countiesCities_MSA_df['County/City'] = multiState_countiesCities_MSA_df['County/City'].str.replace("Includes", "")
multiState_countiesCities_MSA_df['County/City'] = multiState_countiesCities_MSA_df['County/City'].str.replace(" and ", ",")
multiState_countiesCities_MSA_df['County/City'] = multiState_countiesCities_MSA_df['County/City'].str.replace(";", ",")
multiState_countiesCities_MSA_df['County/City'].tolist()

<ipython-input-53-37179d717ce1>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  multiState_countiesCities_MSA_df['County/City'] = multiState_countiesCities_MSA_df['County/City'].str.replace("Includes", "")
<ipython-input-53-37179d717ce1>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  multiState_countiesCities_MSA_df['County/City'] = multiState_countiesCities_MSA_df['County/City'].str.replace(" and ", ",")
<ipython-input-53-37179d717ce1>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  multiState_countiesCities_MSA_df['County/City'] = multiState_countiesCities_MSA_df['County/City'].str.replace(";", ",")

[' Warren County, NJ,Carbon, Lehigh,,Northampton Counties, PA',
 ' Burke, Columbia, Lincoln, McDuffie,,Richmond Counties, GA,Aiken,Edgefield Counties, SC',
 ' the Metropolitan Divisions of Boston, MA, Cambridge-Newton-Framingham, MA,,Rockingham County-Strafford County, NH',
 ' Alexander County, IL,Bollinger,Cape Girardeau Counties, MO',
 ' Anson, Cabarrus, Gaston, Iredell, Lincoln, Mecklenburg, Rowan,,Union Counties, NC,Chester, Lancaster,,York Counties, SC',
 ' Catoosa, Dade,,Walker Counties, GA,Hamilton, Marion,,Sequatchie Counties, TN',
 ' the Metropolitan Divisions of Chicago-Naperville-Evanston, IL, Elgin, IL, Gary, IN,,Lake County-Kenosha County, IL-WI',
 ' Lake County, IL,Kenosha County, WI',
 ' Dearborn, Franklin, Ohio,,Union Counties, IN, Boone, Bracken, Campbell, Gallatin, Grant, Kenton,,Pendleton Counties, KY,,Brown, Butler, Clermont, Hamilton,,Warren Counties, OH',
 ' Christian,Trigg Counties, KY,Montgomery,Stewart Counties, TN',
 ' Allegany County, MD,Mineral County, WV',
 ' Carlton, Lake,,St. Louis Counties, MN,Douglas County, WI',
 ' Posey, Vanderburgh,,Warrick Counties, IN,Henderson County, KY',
 ' Clay County, MN,Cass County, ND',
 ' Crawford, Franklin,,Sebastian Counties, AR,Sequoyah County, OK',
 ' Polk County, MN,Grand Forks County, ND',
 ' Washington County, MD,Berkeley,Morgan Counties, WV',
 ' Hawkins,Sullivan Counties, TN,Scott,Washington Counties,Bristol City, VA',
 ' Houston County, MN,La Crosse County, WI',
 ' Nez Perce County, ID,Asotin County, WA',
 ' Franklin County, ID,Cache County, UT',
 ' Crittenden County, AR, DeSoto, Marshall, Tate,,Tunica Counties, MS,,Fayette, Shelby,,Tipton Counties, TN',
 ' Anoka, Carver, Chisago, Dakota, Hennepin, Isanti, Le Sueur, Mille Lacs, Ramsey, Scott, Sherburne, Washington,,Wright Counties, MN,Pierce,St. Croix Counties, WI',
 ' Brunswick County, NC,Horry County, SC',
 ' the Metropolitan Divisions of Camden, NJ, Montgomery County-Bucks County-Chester County, PA, Philadelphia, PA,,Wilmington, DE-MD-NJ',
 ' New Castle County, DE, Cecil County, MD,,Salem County, NJ',
 ' Clackamas, Columbia, Multnomah, Washington,,Yamhill Counties, OR,Clark,Skamania Counties, WA',
 ' Bristol County, MA,Bristol, Kent, Newport, Providence,,Washington Counties, RI',
 ' Sussex County, DE,Somerset, Wicomico,,Worcester Counties, MD',
 ' St. Joseph County, IN,Cass County, MI',
 ' Doniphan County, KS,Andrew, Buchanan,,DeKalb Counties, MO',
 ' Bond, Calhoun, Clinton, Jersey, Macoupin, Madison, Monroe,,St. Clair Counties, IL,Franklin, Jefferson, Lincoln, St. Charles, St. Louis,,Warren Counties,St. Louis City, MO',
 ' Little River,Miller Counties, AR,Bowie County, TX',
 ' Camden, Currituck,Gates Counties, NC,Gloucester, Isle of Wight, James City, Mathews, Southampton,,York Counties,Chesapeake, Franklin, Hampton, Newport News, Norfolk, Poquoson, Portsmouth, Suffolk, Virginia Beach,,Williamsburg Cities, VA                       ',
 ' the Metropolitan Divisions of Frederick-Gaithersburg-Rockville, MD,Washington-Arlington-Alexandria, DC-VA-MD-WV',
 " District of Columbia, Calvert, Charles,,Prince George's Counties, MD, Arlington, Clarke, Culpeper, Fairfax, Fauquier, Loudoun, Madison, Prince William, Rappahannock, Spotsylvania, Stafford,,Warren Counties,Alexandria, Fairfax, Falls Church, Fredericksburg, Manassas,,Manassas Park Cities, VA,,Jefferson County, WV",
 ' Jefferson County, OH,Brooke,Hancock Counties, WV',
 ' Belmont County, OH,Marshall,Ohio Counties, WV',
 ' Frederick County,Winchester City, VA,Hampshire County, WV',
 ' Windham County, CT,Worcester County, MA']

In [54]:
multiState_countiesCities_list = multiState_countiesCities_MSA_df['County/City'].tolist()

i = 0
lenghtOfList = len(multiState_countiesCities_list)

while i < lenghtOfList:
    #Convert list entries into lists themselves split by ',' and remove empty entries
    multiState_countiesCities_list[i] = multiState_countiesCities_list[i].split(",") 
    multiState_countiesCities_list[i] = list(filter(None, multiState_countiesCities_list[i]))
    
    #remove whitespaces before and after individual county names
    n = 0
    while n < len(multiState_countiesCities_list[i]):
        multiState_countiesCities_list[i][n] = multiState_countiesCities_list[i][n].strip()
        n = n + 1
        
    i = i + 1
    
multiState_countiesCities_list

[['Warren County', 'NJ', 'Carbon', 'Lehigh', 'Northampton Counties', 'PA'],
 ['Burke',
  'Columbia',
  'Lincoln',
  'McDuffie',
  'Richmond Counties',
  'GA',
  'Aiken',
  'Edgefield Counties',
  'SC'],
 ['the Metropolitan Divisions of Boston',
  'MA',
  'Cambridge-Newton-Framingham',
  'MA',
  'Rockingham County-Strafford County',
  'NH'],
 ['Alexander County', 'IL', 'Bollinger', 'Cape Girardeau Counties', 'MO'],
 ['Anson',
  'Cabarrus',
  'Gaston',
  'Iredell',
  'Lincoln',
  'Mecklenburg',
  'Rowan',
  'Union Counties',
  'NC',
  'Chester',
  'Lancaster',
  'York Counties',
  'SC'],
 ['Catoosa',
  'Dade',
  'Walker Counties',
  'GA',
  'Hamilton',
  'Marion',
  'Sequatchie Counties',
  'TN'],
 ['the Metropolitan Divisions of Chicago-Naperville-Evanston',
  'IL',
  'Elgin',
  'IL',
  'Gary',
  'IN',
  'Lake County-Kenosha County',
  'IL-WI'],
 ['Lake County', 'IL', 'Kenosha County', 'WI'],
 ['Dearborn',
  'Franklin',
  'Ohio',
  'Union Counties',
  'IN',
  'Boone',
  'Bracken',
  'Campbell',
  'Gallatin',
  'Grant',
  'Kenton',
  'Pendleton Counties',
  'KY',
  'Brown',
  'Butler',
  'Clermont',
  'Hamilton',
  'Warren Counties',
  'OH'],
 ['Christian', 'Trigg Counties', 'KY', 'Montgomery', 'Stewart Counties', 'TN'],
 ['Allegany County', 'MD', 'Mineral County', 'WV'],
 ['Carlton', 'Lake', 'St. Louis Counties', 'MN', 'Douglas County', 'WI'],
 ['Posey', 'Vanderburgh', 'Warrick Counties', 'IN', 'Henderson County', 'KY'],
 ['Clay County', 'MN', 'Cass County', 'ND'],
 ['Crawford', 'Franklin', 'Sebastian Counties', 'AR', 'Sequoyah County', 'OK'],
 ['Polk County', 'MN', 'Grand Forks County', 'ND'],
 ['Washington County', 'MD', 'Berkeley', 'Morgan Counties', 'WV'],
 ['Hawkins',
  'Sullivan Counties',
  'TN',
  'Scott',
  'Washington Counties',
  'Bristol City',
  'VA'],
 ['Houston County', 'MN', 'La Crosse County', 'WI'],
 ['Nez Perce County', 'ID', 'Asotin County', 'WA'],
 ['Franklin County', 'ID', 'Cache County', 'UT'],
 ['Crittenden County',
  'AR',
  'DeSoto',
  'Marshall',
  'Tate',
  'Tunica Counties',
  'MS',
  'Fayette',
  'Shelby',
  'Tipton Counties',
  'TN'],
 ['Anoka',
  'Carver',
  'Chisago',
  'Dakota',
  'Hennepin',
  'Isanti',
  'Le Sueur',
  'Mille Lacs',
  'Ramsey',
  'Scott',
  'Sherburne',
  'Washington',
  'Wright Counties',
  'MN',
  'Pierce',
  'St. Croix Counties',
  'WI'],
 ['Brunswick County', 'NC', 'Horry County', 'SC'],
 ['the Metropolitan Divisions of Camden',
  'NJ',
  'Montgomery County-Bucks County-Chester County',
  'PA',
  'Philadelphia',
  'PA',
  'Wilmington',
  'DE-MD-NJ'],
 ['New Castle County', 'DE', 'Cecil County', 'MD', 'Salem County', 'NJ'],
 ['Clackamas',
  'Columbia',
  'Multnomah',
  'Washington',
  'Yamhill Counties',
  'OR',
  'Clark',
  'Skamania Counties',
  'WA'],
 ['Bristol County',
  'MA',
  'Bristol',
  'Kent',
  'Newport',
  'Providence',
  'Washington Counties',
  'RI'],
 ['Sussex County', 'DE', 'Somerset', 'Wicomico', 'Worcester Counties', 'MD'],
 ['St. Joseph County', 'IN', 'Cass County', 'MI'],
 ['Doniphan County', 'KS', 'Andrew', 'Buchanan', 'DeKalb Counties', 'MO'],
 ['Bond',
  'Calhoun',
  'Clinton',
  'Jersey',
  'Macoupin',
  'Madison',
  'Monroe',
  'St. Clair Counties',
  'IL',
  'Franklin',
  'Jefferson',
  'Lincoln',
  'St. Charles',
  'St. Louis',
  'Warren Counties',
  'St. Louis City',
  'MO'],
 ['Little River', 'Miller Counties', 'AR', 'Bowie County', 'TX'],
 ['Camden',
  'Currituck',
  'Gates Counties',
  'NC',
  'Gloucester',
  'Isle of Wight',
  'James City',
  'Mathews',
  'Southampton',
  'York Counties',
  'Chesapeake',
  'Franklin',
  'Hampton',
  'Newport News',
  'Norfolk',
  'Poquoson',
  'Portsmouth',
  'Suffolk',
  'Virginia Beach',
  'Williamsburg Cities',
  'VA'],
 ['the Metropolitan Divisions of Frederick-Gaithersburg-Rockville',
  'MD',
  'Washington-Arlington-Alexandria',
  'DC-VA-MD-WV'],
 ['District of Columbia',
  'Calvert',
  'Charles',
  "Prince George's Counties",
  'MD',
  'Arlington',
  'Clarke',
  'Culpeper',
  'Fairfax',
  'Fauquier',
  'Loudoun',
  'Madison',
  'Prince William',
  'Rappahannock',
  'Spotsylvania',
  'Stafford',
  'Warren Counties',
  'Alexandria',
  'Fairfax',
  'Falls Church',
  'Fredericksburg',
  'Manassas',
  'Manassas Park Cities',
  'VA',
  'Jefferson County',
  'WV'],
 ['Jefferson County', 'OH', 'Brooke', 'Hancock Counties', 'WV'],
 ['Belmont County', 'OH', 'Marshall', 'Ohio Counties', 'WV'],
 ['Frederick County', 'Winchester City', 'VA', 'Hampshire County', 'WV'],
 ['Windham County', 'CT', 'Worcester County', 'MA']]

In [55]:
new_multiState_MSA_list = []
new_multi_countiesCities_list = []

i = 0
while i < len(multiState_countiesCities_list):
    
    last_state_pos = 0
    n = 0
    while n < len(multiState_countiesCities_list[i]):
            if multiState_countiesCities_list[i][n] in state_dict:
                list_entry = multiState_countiesCities_list[i][last_state_pos : n + 1]
                new_multi_countiesCities_list.append(list_entry)
                for m in range(len(list_entry)-1):
                    new_multiState_MSA_list.append(multiState_MSA_list[i])
                last_state_pos = n + 1
            n = n + 1     
    i = i + 1


print(len(new_multiState_MSA_list))

217

In [56]:
new_multi_countiesCities_list

[['Warren County', 'NJ'],
 ['Carbon', 'Lehigh', 'Northampton Counties', 'PA'],
 ['Burke', 'Columbia', 'Lincoln', 'McDuffie', 'Richmond Counties', 'GA'],
 ['Aiken', 'Edgefield Counties', 'SC'],
 ['the Metropolitan Divisions of Boston', 'MA'],
 ['Cambridge-Newton-Framingham', 'MA'],
 ['Rockingham County-Strafford County', 'NH'],
 ['Alexander County', 'IL'],
 ['Bollinger', 'Cape Girardeau Counties', 'MO'],
 ['Anson',
  'Cabarrus',
  'Gaston',
  'Iredell',
  'Lincoln',
  'Mecklenburg',
  'Rowan',
  'Union Counties',
  'NC'],
 ['Chester', 'Lancaster', 'York Counties', 'SC'],
 ['Catoosa', 'Dade', 'Walker Counties', 'GA'],
 ['Hamilton', 'Marion', 'Sequatchie Counties', 'TN'],
 ['the Metropolitan Divisions of Chicago-Naperville-Evanston', 'IL'],
 ['Elgin', 'IL'],
 ['Gary', 'IN'],
 ['Lake County', 'IL'],
 ['Kenosha County', 'WI'],
 ['Dearborn', 'Franklin', 'Ohio', 'Union Counties', 'IN'],
 ['Boone',
  'Bracken',
  'Campbell',
  'Gallatin',
  'Grant',
  'Kenton',
  'Pendleton Counties',
  'KY'],
 ['Brown', 'Butler', 'Clermont', 'Hamilton', 'Warren Counties', 'OH'],
 ['Christian', 'Trigg Counties', 'KY'],
 ['Montgomery', 'Stewart Counties', 'TN'],
 ['Allegany County', 'MD'],
 ['Mineral County', 'WV'],
 ['Carlton', 'Lake', 'St. Louis Counties', 'MN'],
 ['Douglas County', 'WI'],
 ['Posey', 'Vanderburgh', 'Warrick Counties', 'IN'],
 ['Henderson County', 'KY'],
 ['Clay County', 'MN'],
 ['Cass County', 'ND'],
 ['Crawford', 'Franklin', 'Sebastian Counties', 'AR'],
 ['Sequoyah County', 'OK'],
 ['Polk County', 'MN'],
 ['Grand Forks County', 'ND'],
 ['Washington County', 'MD'],
 ['Berkeley', 'Morgan Counties', 'WV'],
 ['Hawkins', 'Sullivan Counties', 'TN'],
 ['Scott', 'Washington Counties', 'Bristol City', 'VA'],
 ['Houston County', 'MN'],
 ['La Crosse County', 'WI'],
 ['Nez Perce County', 'ID'],
 ['Asotin County', 'WA'],
 ['Franklin County', 'ID'],
 ['Cache County', 'UT'],
 ['Crittenden County', 'AR'],
 ['DeSoto', 'Marshall', 'Tate', 'Tunica Counties', 'MS'],
 ['Fayette', 'Shelby', 'Tipton Counties', 'TN'],
 ['Anoka',
  'Carver',
  'Chisago',
  'Dakota',
  'Hennepin',
  'Isanti',
  'Le Sueur',
  'Mille Lacs',
  'Ramsey',
  'Scott',
  'Sherburne',
  'Washington',
  'Wright Counties',
  'MN'],
 ['Pierce', 'St. Croix Counties', 'WI'],
 ['Brunswick County', 'NC'],
 ['Horry County', 'SC'],
 ['the Metropolitan Divisions of Camden', 'NJ'],
 ['Montgomery County-Bucks County-Chester County', 'PA'],
 ['Philadelphia', 'PA'],
 ['New Castle County', 'DE'],
 ['Cecil County', 'MD'],
 ['Salem County', 'NJ'],
 ['Clackamas',
  'Columbia',
  'Multnomah',
  'Washington',
  'Yamhill Counties',
  'OR'],
 ['Clark', 'Skamania Counties', 'WA'],
 ['Bristol County', 'MA'],
 ['Bristol', 'Kent', 'Newport', 'Providence', 'Washington Counties', 'RI'],
 ['Sussex County', 'DE'],
 ['Somerset', 'Wicomico', 'Worcester Counties', 'MD'],
 ['St. Joseph County', 'IN'],
 ['Cass County', 'MI'],
 ['Doniphan County', 'KS'],
 ['Andrew', 'Buchanan', 'DeKalb Counties', 'MO'],
 ['Bond',
  'Calhoun',
  'Clinton',
  'Jersey',
  'Macoupin',
  'Madison',
  'Monroe',
  'St. Clair Counties',
  'IL'],
 ['Franklin',
  'Jefferson',
  'Lincoln',
  'St. Charles',
  'St. Louis',
  'Warren Counties',
  'St. Louis City',
  'MO'],
 ['Little River', 'Miller Counties', 'AR'],
 ['Bowie County', 'TX'],
 ['Camden', 'Currituck', 'Gates Counties', 'NC'],
 ['Gloucester',
  'Isle of Wight',
  'James City',
  'Mathews',
  'Southampton',
  'York Counties',
  'Chesapeake',
  'Franklin',
  'Hampton',
  'Newport News',
  'Norfolk',
  'Poquoson',
  'Portsmouth',
  'Suffolk',
  'Virginia Beach',
  'Williamsburg Cities',
  'VA'],
 ['the Metropolitan Divisions of Frederick-Gaithersburg-Rockville', 'MD'],
 ['District of Columbia',
  'Calvert',
  'Charles',
  "Prince George's Counties",
  'MD'],
 ['Arlington',
  'Clarke',
  'Culpeper',
  'Fairfax',
  'Fauquier',
  'Loudoun',
  'Madison',
  'Prince William',
  'Rappahannock',
  'Spotsylvania',
  'Stafford',
  'Warren Counties',
  'Alexandria',
  'Fairfax',
  'Falls Church',
  'Fredericksburg',
  'Manassas',
  'Manassas Park Cities',
  'VA'],
 ['Jefferson County', 'WV'],
 ['Jefferson County', 'OH'],
 ['Brooke', 'Hancock Counties', 'WV'],
 ['Belmont County', 'OH'],
 ['Marshall', 'Ohio Counties', 'WV'],
 ['Frederick County', 'Winchester City', 'VA'],
 ['Hampshire County', 'WV'],
 ['Windham County', 'CT'],
 ['Worcester County', 'MA']]

In [57]:
state_list = []

for item in new_multi_countiesCities_list:
    state_list.append(state_dict[item[-1]])
    item.pop(-1)
    
state_list

['New Jersey',
 'Pennsylvania',
 'Georgia',
 'South Carolina',
 'Massachusetts',
 'Massachusetts',
 'New Hampshire',
 'Illinois',
 'Missouri',
 'North Carolina',
 'South Carolina',
 'Georgia',
 'Tennessee',
 'Illinois',
 'Illinois',
 'Indiana',
 'Illinois',
 'Wisconsin',
 'Indiana',
 'Kentucky',
 'Ohio',
 'Kentucky',
 'Tennessee',
 'Maryland',
 'West Virginia',
 'Minnesota',
 'Wisconsin',
 'Indiana',
 'Kentucky',
 'Minnesota',
 'North Dakota',
 'Arkansas',
 'Oklahoma',
 'Minnesota',
 'North Dakota',
 'Maryland',
 'West Virginia',
 'Tennessee',
 'Virginia',
 'Minnesota',
 'Wisconsin',
 'Idaho',
 'Washington',
 'Idaho',
 'Utah',
 'Arkansas',
 'Mississippi',
 'Tennessee',
 'Minnesota',
 'Wisconsin',
 'North Carolina',
 'South Carolina',
 'New Jersey',
 'Pennsylvania',
 'Pennsylvania',
 'Delaware',
 'Maryland',
 'New Jersey',
 'Oregon',
 'Washington',
 'Massachusetts',
 'Rhode Island',
 'Delaware',
 'Maryland',
 'Indiana',
 'Michigan',
 'Kansas',
 'Missouri',
 'Illinois',
 'Missouri',
 'Arkansas',
 'Texas',
 'North Carolina',
 'Virginia',
 'Maryland',
 'Maryland',
 'Virginia',
 'West Virginia',
 'Ohio',
 'West Virginia',
 'Ohio',
 'West Virginia',
 'Virginia',
 'West Virginia',
 'Connecticut',
 'Massachusetts']

In [58]:
new_multi_countiesCities_list

[['Warren County'],
 ['Carbon', 'Lehigh', 'Northampton Counties'],
 ['Burke', 'Columbia', 'Lincoln', 'McDuffie', 'Richmond Counties'],
 ['Aiken', 'Edgefield Counties'],
 ['the Metropolitan Divisions of Boston'],
 ['Cambridge-Newton-Framingham'],
 ['Rockingham County-Strafford County'],
 ['Alexander County'],
 ['Bollinger', 'Cape Girardeau Counties'],
 ['Anson',
  'Cabarrus',
  'Gaston',
  'Iredell',
  'Lincoln',
  'Mecklenburg',
  'Rowan',
  'Union Counties'],
 ['Chester', 'Lancaster', 'York Counties'],
 ['Catoosa', 'Dade', 'Walker Counties'],
 ['Hamilton', 'Marion', 'Sequatchie Counties'],
 ['the Metropolitan Divisions of Chicago-Naperville-Evanston'],
 ['Elgin'],
 ['Gary'],
 ['Lake County'],
 ['Kenosha County'],
 ['Dearborn', 'Franklin', 'Ohio', 'Union Counties'],
 ['Boone',
  'Bracken',
  'Campbell',
  'Gallatin',
  'Grant',
  'Kenton',
  'Pendleton Counties'],
 ['Brown', 'Butler', 'Clermont', 'Hamilton', 'Warren Counties'],
 ['Christian', 'Trigg Counties'],
 ['Montgomery', 'Stewart Counties'],
 ['Allegany County'],
 ['Mineral County'],
 ['Carlton', 'Lake', 'St. Louis Counties'],
 ['Douglas County'],
 ['Posey', 'Vanderburgh', 'Warrick Counties'],
 ['Henderson County'],
 ['Clay County'],
 ['Cass County'],
 ['Crawford', 'Franklin', 'Sebastian Counties'],
 ['Sequoyah County'],
 ['Polk County'],
 ['Grand Forks County'],
 ['Washington County'],
 ['Berkeley', 'Morgan Counties'],
 ['Hawkins', 'Sullivan Counties'],
 ['Scott', 'Washington Counties', 'Bristol City'],
 ['Houston County'],
 ['La Crosse County'],
 ['Nez Perce County'],
 ['Asotin County'],
 ['Franklin County'],
 ['Cache County'],
 ['Crittenden County'],
 ['DeSoto', 'Marshall', 'Tate', 'Tunica Counties'],
 ['Fayette', 'Shelby', 'Tipton Counties'],
 ['Anoka',
  'Carver',
  'Chisago',
  'Dakota',
  'Hennepin',
  'Isanti',
  'Le Sueur',
  'Mille Lacs',
  'Ramsey',
  'Scott',
  'Sherburne',
  'Washington',
  'Wright Counties'],
 ['Pierce', 'St. Croix Counties'],
 ['Brunswick County'],
 ['Horry County'],
 ['the Metropolitan Divisions of Camden'],
 ['Montgomery County-Bucks County-Chester County'],
 ['Philadelphia'],
 ['New Castle County'],
 ['Cecil County'],
 ['Salem County'],
 ['Clackamas', 'Columbia', 'Multnomah', 'Washington', 'Yamhill Counties'],
 ['Clark', 'Skamania Counties'],
 ['Bristol County'],
 ['Bristol', 'Kent', 'Newport', 'Providence', 'Washington Counties'],
 ['Sussex County'],
 ['Somerset', 'Wicomico', 'Worcester Counties'],
 ['St. Joseph County'],
 ['Cass County'],
 ['Doniphan County'],
 ['Andrew', 'Buchanan', 'DeKalb Counties'],
 ['Bond',
  'Calhoun',
  'Clinton',
  'Jersey',
  'Macoupin',
  'Madison',
  'Monroe',
  'St. Clair Counties'],
 ['Franklin',
  'Jefferson',
  'Lincoln',
  'St. Charles',
  'St. Louis',
  'Warren Counties',
  'St. Louis City'],
 ['Little River', 'Miller Counties'],
 ['Bowie County'],
 ['Camden', 'Currituck', 'Gates Counties'],
 ['Gloucester',
  'Isle of Wight',
  'James City',
  'Mathews',
  'Southampton',
  'York Counties',
  'Chesapeake',
  'Franklin',
  'Hampton',
  'Newport News',
  'Norfolk',
  'Poquoson',
  'Portsmouth',
  'Suffolk',
  'Virginia Beach',
  'Williamsburg Cities'],
 ['the Metropolitan Divisions of Frederick-Gaithersburg-Rockville'],
 ['District of Columbia', 'Calvert', 'Charles', "Prince George's Counties"],
 ['Arlington',
  'Clarke',
  'Culpeper',
  'Fairfax',
  'Fauquier',
  'Loudoun',
  'Madison',
  'Prince William',
  'Rappahannock',
  'Spotsylvania',
  'Stafford',
  'Warren Counties',
  'Alexandria',
  'Fairfax',
  'Falls Church',
  'Fredericksburg',
  'Manassas',
  'Manassas Park Cities'],
 ['Jefferson County'],
 ['Jefferson County'],
 ['Brooke', 'Hancock Counties'],
 ['Belmont County'],
 ['Marshall', 'Ohio Counties'],
 ['Frederick County', 'Winchester City'],
 ['Hampshire County'],
 ['Windham County'],
 ['Worcester County']]

In [59]:
#Now have to remove 'counties' text by putting 'county' by every individual county

for item in new_multi_countiesCities_list:
    i = 0
    count = 0
    while i < len(item):
        if 'Counties' in item[i]:
            count = i + 1
            pos = item[i].find('Counties')
            item[i] = item[i][0: pos - 1]
            
            for n in range(count):
                item[n] = item[n] + ' County'
                
        if 'Cities' in item[i]:
            pos = item[i].find('Cities')
            item[i] = item[i][0: pos - 1]
            for n in range(count, i+1):
                if 'County' not in item[n]:
                    item[n] = item[n] + ' City'
        
        i = i + 1

new_multi_countiesCities_list

[['Warren County'],
 ['Carbon County', 'Lehigh County', 'Northampton County'],
 ['Burke County',
  'Columbia County',
  'Lincoln County',
  'McDuffie County',
  'Richmond County'],
 ['Aiken County', 'Edgefield County'],
 ['the Metropolitan Divisions of Boston'],
 ['Cambridge-Newton-Framingham'],
 ['Rockingham County-Strafford County'],
 ['Alexander County'],
 ['Bollinger County', 'Cape Girardeau County'],
 ['Anson County',
  'Cabarrus County',
  'Gaston County',
  'Iredell County',
  'Lincoln County',
  'Mecklenburg County',
  'Rowan County',
  'Union County'],
 ['Chester County', 'Lancaster County', 'York County'],
 ['Catoosa County', 'Dade County', 'Walker County'],
 ['Hamilton County', 'Marion County', 'Sequatchie County'],
 ['the Metropolitan Divisions of Chicago-Naperville-Evanston'],
 ['Elgin'],
 ['Gary'],
 ['Lake County'],
 ['Kenosha County'],
 ['Dearborn County', 'Franklin County', 'Ohio County', 'Union County'],
 ['Boone County',
  'Bracken County',
  'Campbell County',
  'Gallatin County',
  'Grant County',
  'Kenton County',
  'Pendleton County'],
 ['Brown County',
  'Butler County',
  'Clermont County',
  'Hamilton County',
  'Warren County'],
 ['Christian County', 'Trigg County'],
 ['Montgomery County', 'Stewart County'],
 ['Allegany County'],
 ['Mineral County'],
 ['Carlton County', 'Lake County', 'St. Louis County'],
 ['Douglas County'],
 ['Posey County', 'Vanderburgh County', 'Warrick County'],
 ['Henderson County'],
 ['Clay County'],
 ['Cass County'],
 ['Crawford County', 'Franklin County', 'Sebastian County'],
 ['Sequoyah County'],
 ['Polk County'],
 ['Grand Forks County'],
 ['Washington County'],
 ['Berkeley County', 'Morgan County'],
 ['Hawkins County', 'Sullivan County'],
 ['Scott County', 'Washington County', 'Bristol City'],
 ['Houston County'],
 ['La Crosse County'],
 ['Nez Perce County'],
 ['Asotin County'],
 ['Franklin County'],
 ['Cache County'],
 ['Crittenden County'],
 ['DeSoto County', 'Marshall County', 'Tate County', 'Tunica County'],
 ['Fayette County', 'Shelby County', 'Tipton County'],
 ['Anoka County',
  'Carver County',
  'Chisago County',
  'Dakota County',
  'Hennepin County',
  'Isanti County',
  'Le Sueur County',
  'Mille Lacs County',
  'Ramsey County',
  'Scott County',
  'Sherburne County',
  'Washington County',
  'Wright County'],
 ['Pierce County', 'St. Croix County'],
 ['Brunswick County'],
 ['Horry County'],
 ['the Metropolitan Divisions of Camden'],
 ['Montgomery County-Bucks County-Chester County'],
 ['Philadelphia'],
 ['New Castle County'],
 ['Cecil County'],
 ['Salem County'],
 ['Clackamas County',
  'Columbia County',
  'Multnomah County',
  'Washington County',
  'Yamhill County'],
 ['Clark County', 'Skamania County'],
 ['Bristol County'],
 ['Bristol County',
  'Kent County',
  'Newport County',
  'Providence County',
  'Washington County'],
 ['Sussex County'],
 ['Somerset County', 'Wicomico County', 'Worcester County'],
 ['St. Joseph County'],
 ['Cass County'],
 ['Doniphan County'],
 ['Andrew County', 'Buchanan County', 'DeKalb County'],
 ['Bond County',
  'Calhoun County',
  'Clinton County',
  'Jersey County',
  'Macoupin County',
  'Madison County',
  'Monroe County',
  'St. Clair County'],
 ['Franklin County',
  'Jefferson County',
  'Lincoln County',
  'St. Charles County',
  'St. Louis County',
  'Warren County',
  'St. Louis City'],
 ['Little River County', 'Miller County'],
 ['Bowie County'],
 ['Camden County', 'Currituck County', 'Gates County'],
 ['Gloucester County',
  'Isle of Wight County',
  'James City County',
  'Mathews County',
  'Southampton County',
  'York County',
  'Chesapeake City',
  'Franklin City',
  'Hampton City',
  'Newport News City',
  'Norfolk City',
  'Poquoson City',
  'Portsmouth City',
  'Suffolk City',
  'Virginia Beach City',
  'Williamsburg City'],
 ['the Metropolitan Divisions of Frederick-Gaithersburg-Rockville'],
 ['District of Columbia County',
  'Calvert County',
  'Charles County',
  "Prince George's County"],
 ['Arlington County',
  'Clarke County',
  'Culpeper County',
  'Fairfax County',
  'Fauquier County',
  'Loudoun County',
  'Madison County',
  'Prince William County',
  'Rappahannock County',
  'Spotsylvania County',
  'Stafford County',
  'Warren County',
  'Alexandria City',
  'Fairfax City',
  'Falls Church City',
  'Fredericksburg City',
  'Manassas City',
  'Manassas Park City'],
 ['Jefferson County'],
 ['Jefferson County'],
 ['Brooke County', 'Hancock County'],
 ['Belmont County'],
 ['Marshall County', 'Ohio County'],
 ['Frederick County', 'Winchester City'],
 ['Hampshire County'],
 ['Windham County'],
 ['Worcester County']]

In [60]:
#We create two lists with corresponding MSA's and counties

multiState_countiesCities_MSA_list_processed = new_multiState_MSA_list
multiState_countiesCities_list_processed = []
newState_list = []

i = 0
lenghtOfList = len(state_list)

while i < lenghtOfList:
    n = 0
    while n < len(new_multi_countiesCities_list[i]):
        multiState_countiesCities_list_processed.append(new_multi_countiesCities_list[i][n])
        newState_list.append(state_list[i])
        n = n + 1
        
    i = i + 1

In [61]:
print(len(multiState_countiesCities_MSA_list_processed))

217

In [62]:
#multiState_countiesCities_MSA_list_processed

In [63]:
#Create dataframe 
multiState_countiesCities_df = pd.DataFrame(columns = ['MSA', 'County/City', 'State'])
multiState_countiesCities_df['MSA'] = pd.Series(multiState_countiesCities_MSA_list_processed)
multiState_countiesCities_df['County/City'] = pd.Series(multiState_countiesCities_list_processed)
multiState_countiesCities_df['State'] = pd.Series(newState_list)
multiState_countiesCities_df.head(50)

,MSA,County/City,State
0,"Allentown-Bethlehem-Easton, PA-NJ M.S.A.",Warren County,New Jersey
1,"Allentown-Bethlehem-Easton, PA-NJ M.S.A.",Carbon County,Pennsylvania
2,"Allentown-Bethlehem-Easton, PA-NJ M.S.A.",Lehigh County,Pennsylvania
3,"Allentown-Bethlehem-Easton, PA-NJ M.S.A.",Northampton County,Pennsylvania
4,"Augusta-Richmond County, GA-SC M.S.A.",Burke County,Georgia
5,"Augusta-Richmond County, GA-SC M.S.A.",Columbia County,Georgia
6,"Augusta-Richmond County, GA-SC M.S.A.",Lincoln County,Georgia
7,"Augusta-Richmond County, GA-SC M.S.A.",McDuffie County,Georgia
8,"Augusta-Richmond County, GA-SC M.S.A.",Richmond County,Georgia
9,"Augusta-Richmond County, GA-SC M.S.A.",Aiken County,South Carolina
10,"Augusta-Richmond County, GA-SC M.S.A.",Edgefield County,South Carolina
11,"Boston-Cambridge-Newton, MA-NH M.S.A.",the Metropolitan Divisions of Boston,Massachusetts
12,"Boston-Cambridge-Newton, MA-NH M.S.A.",Cambridge-Newton-Framingham,Massachusetts
13,"Boston-Cambridge-Newton, MA-NH M.S.A.",Rockingham County-Strafford County,New Hampshire
14,"Cape Girardeau, MO-IL M.S.A.",Alexander County,Illinois
15,"Cape Girardeau, MO-IL M.S.A.",Bollinger County,Missouri
16,"Cape Girardeau, MO-IL M.S.A.",Cape Girardeau County,Missouri
17,"Charlotte-Concord-Gastonia, NC-SC M.S.A.",Anson County,North Carolina
18,"Charlotte-Concord-Gastonia, NC-SC M.S.A.",Cabarrus County,North Carolina
19,"Charlotte-Concord-Gastonia, NC-SC M.S.A.",Gaston County,North Carolina
20,"Charlotte-Concord-Gastonia, NC-SC M.S.A.",Iredell County,North Carolina
21,"Charlotte-Concord-Gastonia, NC-SC M.S.A.",Lincoln County,North Carolina
22,"Charlotte-Concord-Gastonia, NC-SC M.S.A.",Mecklenburg County,North Carolina
23,"Charlotte-Concord-Gastonia, NC-SC M.S.A.",Rowan County,North Carolina
24,"Charlotte-Concord-Gastonia, NC-SC M.S.A.",Union County,North Carolina
25,"Charlotte-Concord-Gastonia, NC-SC M.S.A.",Chester County,South Carolina
26,"Charlotte-Concord-Gastonia, NC-SC M.S.A.",Lancaster County,South Carolina
27,"Charlotte-Concord-Gastonia, NC-SC M.S.A.",York County,South Carolina
28,"Chattanooga, TN-GA M.S.A.",Catoosa County,Georgia
29,"Chattanooga, TN-GA M.S.A.",Dade County,Georgia
30,"Chattanooga, TN-GA M.S.A.",Walker County,Georgia
31,"Chattanooga, TN-GA M.S.A.",Hamilton County,Tennessee
32,"Chattanooga, TN-GA M.S.A.",Marion County,Tennessee
33,"Chattanooga, TN-GA M.S.A.",Sequatchie County,Tennessee
34,"Chicago-Naperville-Elgin, IL-IN-WI M.S.A.,",the Metropolitan Divisions of Chicago-Napervil...,Illinois
35,"Chicago-Naperville-Elgin, IL-IN-WI M.S.A.,",Elgin,Illinois
36,"Chicago-Naperville-Elgin, IL-IN-WI M.S.A.,",Gary,Indiana
37,"Lake County-Kenosha County, IL-WI M.D.,",Lake County,Illinois
38,"Lake County-Kenosha County, IL-WI M.D.,",Kenosha County,Wisconsin
39,"Cincinnati, OH-KY-IN M.S.A.",Dearborn County,Indiana
40,"Cincinnati, OH-KY-IN M.S.A.",Franklin County,Indiana
41,"Cincinnati, OH-KY-IN M.S.A.",Ohio County,Indiana
42,"Cincinnati, OH-KY-IN M.S.A.",Union County,Indiana
43,"Cincinnati, OH-KY-IN M.S.A.",Boone County,Kentucky
44,"Cincinnati, OH-KY-IN M.S.A.",Bracken County,Kentucky
45,"Cincinnati, OH-KY-IN M.S.A.",Campbell County,Kentucky
46,"Cincinnati, OH-KY-IN M.S.A.",Gallatin County,Kentucky
47,"Cincinnati, OH-KY-IN M.S.A.",Grant County,Kentucky
48,"Cincinnati, OH-KY-IN M.S.A.",Kenton County,Kentucky
49,"Cincinnati, OH-KY-IN M.S.A.",Pendleton County,Kentucky

In [64]:
multiState_countiesCities_df['County/City'].iloc[34]

'the Metropolitan Divisions of Chicago-Naperville-Evanston'

### Create main dataframe

In [65]:
"""
Joining the following DataFrames
singleState_counties_df
singleState_cities_df
multiState_countiesCities_df
"""


MSA_to_countyCity_df = singleState_counties_df.append(singleState_cities_df.append(multiState_countiesCities_df))

MSA_to_countyCity_df = MSA_to_countyCity_df.reset_index(drop=True)
MSA_to_countyCity_df

                           MSA       County/City          State
0           Abilene, TX M.S.A.   Callahan County          Texas
1           Abilene, TX M.S.A.      Jones County          Texas
2           Abilene, TX M.S.A.     Taylor County          Texas
3             Akron, OH M.S.A.    Portage County           Ohio
4             Akron, OH M.S.A.     Summit County           Ohio
...                        ...               ...            ...
1011  Winchester, VA-WV M.S.A.  Frederick County       Virginia
1012  Winchester, VA-WV M.S.A.   Winchester City       Virginia
1013  Winchester, VA-WV M.S.A.  Hampshire County  West Virginia
1014   Worcester, MA-CT M.S.A.    Windham County    Connecticut
1015   Worcester, MA-CT M.S.A.  Worcester County  Massachusetts

[1016 rows x 3 columns]

# Join two major datasets

In [66]:
msa_pop_df

                                    MSA Population
0                    Abilene, TX M.S.A.     170417
1                      Akron, OH M.S.A.     704283
2                     Albany, GA M.S.A.     147142
3    Albany-Schenectady-Troy, NY M.S.A.     871741
4                Albuquerque, NM M.S.A.     915468
..                                  ...        ...
359             Worcester, MA-CT M.S.A.     871779
360                   Yakima, WA M.S.A.     252019
361             York-Hanover, PA M.S.A.     447168
362                Yuba City, CA M.S.A.     173299
363                     Yuma, AZ M.S.A.     210913

[364 rows x 2 columns]

In [67]:
diabetes_by_countyCity_df

            County/City    State  Diagnosed Diabetes Percentage
0        Autauga County  Alabama                            9.5
1        Baldwin County  Alabama                            8.4
2        Barbour County  Alabama                           13.5
3           Bibb County  Alabama                           10.2
4         Blount County  Alabama                           10.5
...                 ...      ...                            ...
3136  Sweetwater County  Wyoming                            7.8
3137       Teton County  Wyoming                            3.8
3138       Uinta County  Wyoming                            8.4
3139    Washakie County  Wyoming                            7.4
3140      Weston County  Wyoming                            7.6

[3141 rows x 3 columns]

In [68]:
#merge MSA_to_countyCity_df and diabetes_by_countyCity_df
msa_diabetes_df = pd.merge(MSA_to_countyCity_df, diabetes_by_countyCity_df, on=["County/City","State"])
msa_diabetes_df

,MSA,County/City,State,Diagnosed Diabetes Percentage
0,"Abilene, TX M.S.A.",Callahan County,Texas,7.6
1,"Abilene, TX M.S.A.",Jones County,Texas,7.2
2,"Abilene, TX M.S.A.",Taylor County,Texas,7.7
3,"Akron, OH M.S.A.",Portage County,Ohio,8.4
4,"Akron, OH M.S.A.",Summit County,Ohio,10.3
...,...,...,...,...
928,"Winchester, VA-WV M.S.A.",Frederick County,Virginia,9.1
929,"Winchester, VA-WV M.S.A.",Winchester City,Virginia,6.9
930,"Winchester, VA-WV M.S.A.",Hampshire County,West Virginia,8.3
931,"Worcester, MA-CT M.S.A.",Windham County,Connecticut,9.6
932,"Worcester, MA-CT M.S.A.",Worcester County,Massachusetts,8.0

In [69]:
b = msa_diabetes_df.groupby(['MSA']).sum()
b

                                    Diagnosed Diabetes Percentage
MSA
Abilene, TX M.S.A.                                           22.5
Akron, OH M.S.A.                                             18.7
Albany, GA M.S.A.                                            38.7
Albany-Schenectady-Troy, NY M.S.A.                           42.6
Albuquerque, NM M.S.A.                                       34.3
...                                                           ...
Worcester, MA-CT M.S.A.                                      17.6
Yakima, WA M.S.A.                                            10.9
York-Hanover, PA M.S.A.                                       9.3
Yuba City, CA M.S.A.                                         17.6
Yuma, AZ M.S.A.                                               9.5

[340 rows x 1 columns]

In [70]:
#Here we create dictions of the frequency counts of both data sets for the rows for each MSA. If these numbers do not match
#then we know that not all the counties/cities for that MSA are not included so we know to get rid off that MSA

msaDiabetes_frequencyCounts = msa_diabetes_df['MSA'].value_counts().to_dict()
msaCountyCity_frequencyCounts = MSA_to_countyCity_df['MSA'].value_counts().to_dict()

In [71]:
#Here we check if the frequencies are the same and gather a list of MSA's that do not have the same frequencie
missing_list = []

for key, value in msaDiabetes_frequencyCounts.items():
    if msaDiabetes_frequencyCounts[key] != msaCountyCity_frequencyCounts[key]:
        missing_list.append(key)

missing_list

['Atlanta-Sandy Springs-Alpharetta, GA M.S.A.',
 'Washington-Arlington-Alexandria, DC-VA-MD-WV M.D.',
 'Virginia Beach-Norfolk-Newport News, VA-NC M.S.A., ',
 'Richmond, VA M.S.A.',
 'Memphis, TN-MS-AR M.S.A., ',
 'Oklahoma City, OK M.S.A.',
 'Augusta-Richmond County, GA-SC M.S.A.',
 'Sioux Falls, SD M.S.A.',
 'Chicago-Naperville-Evanston, IL M.D., ',
 'St. Joseph, MO-KS M.S.A., ',
 'Owensboro, KY M.S.A.',
 'Elgin, IL M.D.',
 'Brunswick, GA M.S.A.',
 'Seattle-Bellevue-Kent, WA M.D., ',
 'Waco, TX M.S.A.']

In [72]:
msa_diabetes_df = msa_diabetes_df[~msa_diabetes_df['MSA'].isin(missing_list)]
msa_diabetes_df

,MSA,County/City,State,Diagnosed Diabetes Percentage
0,"Abilene, TX M.S.A.",Callahan County,Texas,7.6
1,"Abilene, TX M.S.A.",Jones County,Texas,7.2
2,"Abilene, TX M.S.A.",Taylor County,Texas,7.7
3,"Akron, OH M.S.A.",Portage County,Ohio,8.4
4,"Akron, OH M.S.A.",Summit County,Ohio,10.3
...,...,...,...,...
928,"Winchester, VA-WV M.S.A.",Frederick County,Virginia,9.1
929,"Winchester, VA-WV M.S.A.",Winchester City,Virginia,6.9
930,"Winchester, VA-WV M.S.A.",Hampshire County,West Virginia,8.3
931,"Worcester, MA-CT M.S.A.",Windham County,Connecticut,9.6
932,"Worcester, MA-CT M.S.A.",Worcester County,Massachusetts,8.0

In [73]:
#We need to also remove MSA's from msa_pop_rates_df that are in missing_list
msa_pop_rates_df = msa_pop_rates_df[~msa_pop_rates_df['MSA'].isin(missing_list)]

In [74]:
msa_pop_rates_df = msa_pop_rates_df.set_index('MSA')
msa_pop_rates_df.head()

,Population,Murder and nonnegligent manslaughter
MSA,,
"Abilene, TX M.S.A.",170417,9
"Akron, OH M.S.A.",704283,45
"Albany, GA M.S.A.",147142,17
"Albany-Schenectady-Troy, NY M.S.A.",871741,19
"Albuquerque, NM M.S.A.",915468,87

### Now add pop density

In [75]:
msa_pop_den_df.head()

      County/City    State  Land Area  Population  Population Density
0  Autauga County  Alabama     594.44     55533.0           93.420698
1  Baldwin County  Alabama    1589.78    217855.0          137.034684
2  Barbour County  Alabama     884.88     24872.0           28.107766
3     Bibb County  Alabama     622.58     22367.0           35.926307
4   Blount County  Alabama     644.78     57771.0           89.598002

In [76]:
msa_pop_den_df.shape

(2954, 5)

In [77]:
msa_pop_den_df = msa_pop_den_df.drop(['Land Area', 'Population'], axis = 1)
msa_pop_den_df

            County/City    State  Population Density
0        Autauga County  Alabama           93.420698
1        Baldwin County  Alabama          137.034684
2        Barbour County  Alabama           28.107766
3           Bibb County  Alabama           35.926307
4         Blount County  Alabama           89.598002
...                 ...      ...                 ...
2949  Sweetwater County  Wyoming            4.110429
2950       Teton County  Wyoming            5.823977
2951       Uinta County  Wyoming            9.749863
2952    Washakie County  Wyoming            3.518796
2953      Weston County  Wyoming            2.887298

[2954 rows x 3 columns]

In [78]:
msa_diabetes_df.shape

(812, 4)

In [79]:
#Now merge
new_df = pd.merge(msa_diabetes_df, msa_pop_den_df, on=["County/City","State"])
new_df

,MSA,County/City,State,Diagnosed Diabetes Percentage,Population Density
0,"Abilene, TX M.S.A.",Callahan County,Texas,7.6,15.555333
1,"Abilene, TX M.S.A.",Jones County,Texas,7.2,21.394648
2,"Abilene, TX M.S.A.",Taylor County,Texas,7.7,149.957949
3,"Akron, OH M.S.A.",Portage County,Ohio,8.4,333.419508
4,"Akron, OH M.S.A.",Summit County,Ohio,10.3,1311.576015
...,...,...,...,...,...
743,"Wheeling, WV-OH M.S.A.",Ohio County,West Virginia,8.4,394.112644
744,"Winchester, VA-WV M.S.A.",Frederick County,Virginia,9.1,213.235792
745,"Winchester, VA-WV M.S.A.",Hampshire County,West Virginia,8.3,36.481062
746,"Worcester, MA-CT M.S.A.",Windham County,Connecticut,9.6,228.225225
747,"Worcester, MA-CT M.S.A.",Worcester County,Massachusetts,8.0,548.762552

In [80]:
new_df = new_df.drop(['County/City', 'State'], axis=1)
new_df = new_df.groupby('MSA').agg({'Diagnosed Diabetes Percentage':'mean','Population Density': 'mean'})
new_df

,Diagnosed Diabetes Percentage,Population Density
MSA,,
"Abilene, TX M.S.A.",7.500,62.302643
"Akron, OH M.S.A.",9.350,822.497761
"Albany, GA M.S.A.",9.675,104.043825
"Albany-Schenectady-Troy, NY M.S.A.",8.520,384.616247
"Albuquerque, NM M.S.A.",8.575,174.850723
...,...,...
"Worcester, MA-CT M.S.A.",8.800,388.493888
"Yakima, WA M.S.A.",10.900,58.332635
"York-Hanover, PA M.S.A.",9.300,495.307350
"Yuba City, CA M.S.A.",8.800,141.342716
"Yuma, AZ M.S.A.",9.500,38.377291

### Now join msa_pop_rates_df and msa_diabetes_df

In [81]:
new_df = new_df.merge(msa_pop_rates_df, on='MSA', how='left')
new_df

,Diagnosed Diabetes Percentage,Population Density,Population,Murder and nonnegligent manslaughter
MSA,,,,
"Abilene, TX M.S.A.",7.500,62.302643,170417,9
"Akron, OH M.S.A.",9.350,822.497761,704283,45
"Albany, GA M.S.A.",9.675,104.043825,147142,17
"Albany-Schenectady-Troy, NY M.S.A.",8.520,384.616247,871741,19
"Albuquerque, NM M.S.A.",8.575,174.850723,915468,87
...,...,...,...,...
"Worcester, MA-CT M.S.A.",8.800,388.493888,871779,11
"Yakima, WA M.S.A.",10.900,58.332635,252019,25
"York-Hanover, PA M.S.A.",9.300,495.307350,447168,24
"Yuba City, CA M.S.A.",8.800,141.342716,173299,8
"Yuma, AZ M.S.A.",9.500,38.377291,210913,26

In [82]:
new_df.isnull().sum()

Diagnosed Diabetes Percentage           0
Population Density                      0
Population                              0
Murder and nonnegligent manslaughter    0
dtype: int64

In [83]:
new_df = new_df[['Population', 'Population Density', 'Diagnosed Diabetes Percentage', 'Murder and nonnegligent manslaughter']]
new_df.head()

,Population,Population Density,Diagnosed Diabetes Percentage,Murder and nonnegligent manslaughter
MSA,,,,
"Abilene, TX M.S.A.",170417,62.302643,7.500,9
"Akron, OH M.S.A.",704283,822.497761,9.350,45
"Albany, GA M.S.A.",147142,104.043825,9.675,17
"Albany-Schenectady-Troy, NY M.S.A.",871741,384.616247,8.520,19
"Albuquerque, NM M.S.A.",915468,174.850723,8.575,87

In [84]:
msa_final_df = new_df.copy()

# Saving the Dataset

In [85]:
msa_final_df.to_csv(MSA_FINAL_DATASET)