In [1]:
import pandas as pd

In [2]:
# Webpage url                                                                                                               
url = 'https://www.governing.com/archive/population-density-land-area-cities-map.html'

# Extract tables
dfs = pd.read_html(url)

In [3]:
# Get first table                                                                                                           
df = dfs[0]

# Extract columns                                                                                                           
df2 = df[['City','Population Density (Persons/Square Mile)', '2016 Population', 'Land Area (Square Miles)']]

In [4]:
df2

,City,Population Density (Persons/Square Mile),2016 Population,Land Area (Square Miles)
0,"New York, New York",28211,8537673,303
1,"Los Angeles, California",8484,3976322,469
2,"Chicago, Illinois",11883,2704958,228
3,"Houston, Texas",3842,2303482,600
4,"Phoenix, Arizona",3126,1615017,517
...,...,...,...,...
749,"Cerritos, California",5791,50555,9
750,"Galveston, Texas",1226,50550,41
751,"Coeur d'Alene, Idaho",3230,50285,16
752,"Lakewood, Ohio",9092,50279,6
753,"Poway, California",1281,50077,39

In [5]:
df2.columns

Index(['City', 'Population Density (Persons/Square Mile)', '2016 Population',
       'Land Area (Square Miles)'],
      dtype='object')

In [6]:
df2 = df2.drop(['2016 Population', 'Population Density (Persons/Square Mile)'], axis=1)

In [7]:
df2.isnull().sum()

City                        0
Land Area (Square Miles)    0
dtype: int64

In [8]:
city_land_area_df = df2.copy()
city_land_area_df.to_csv("city_land_area_df.csv", index=False)