# Basic processing for kenya data sets

# Setup

## Imports

In [2]:
import pandas as pd
import numpy as np

## Parameters

In [3]:
KENYA1_DATASET = "../../../data/RQ2/raw/kenya1.csv"
KENYA2_DATASET = "../../../data/RQ2/raw/kenya2.csv"
KENYA3_DATASET = "../../../data/RQ2/raw/kenya3.csv"
KENYA4_DATASET = "../../../data/RQ2/raw/kenya4.csv"
KENYA5_DATASET = "../../../data/RQ2/raw/kenya5.csv"
KENYA6_DATASET = "../../../data/RQ2/raw/kenya6.csv"
KENYA7_DATASET = "../../../data/RQ2/raw/kenya7.csv"
KENYA8_DATASET = "../../../data/RQ2/raw/kenya8.csv"
KENYA9_DATASET = "../../../data/RQ2/raw/kenya9.csv"

PROCESSED_JUST_KENYA_DATASET = "../../../data/RQ2/processed/just_kenya_df.csv"
PROCESSED_KENYA_DATASET = "../../../data/RQ2/processed/kenya_df.csv"

# Loading the Datasets

In [5]:
df1 = pd.read_csv(KENYA1_DATASET)
df2 = pd.read_csv(KENYA2_DATASET)
df3 = pd.read_csv(KENYA3_DATASET)
df4 = pd.read_csv(KENYA4_DATASET)
df5 = pd.read_csv(KENYA5_DATASET)
df6 = pd.read_csv(KENYA6_DATASET)
df7 = pd.read_csv(KENYA7_DATASET)
df8 = pd.read_csv(KENYA8_DATASET)
df9 = pd.read_csv(KENYA9_DATASET)

In [6]:
kenya_raw_df = df1.append([df2, df3, df4, df5, df6, df7, df8, df9])
kenya_raw_df.shape

(3888000, 10)

In [7]:
kenya_raw_df.head()

,measure,location,sex,age,cause,metric,year,val,upper,lower
0,Deaths,Makueni,Male,1 to 4,Interpersonal violence,Number,1990,0.231336,0.608340,0.073563
1,Deaths,Makueni,Female,1 to 4,Interpersonal violence,Number,1990,0.450095,1.198621,0.105132
2,Deaths,Makueni,Male,1 to 4,Interpersonal violence,Percent,1990,0.001057,0.002660,0.000366
3,Deaths,Makueni,Female,1 to 4,Interpersonal violence,Percent,1990,0.001299,0.003423,0.000308
4,Deaths,Makueni,Male,1 to 4,Interpersonal violence,Rate,1990,0.634043,1.667336,0.201621

In [8]:
kenya_raw_df = kenya_raw_df[~kenya_raw_df['cause'].str.contains('kidney')]
kenya_raw_df.shape

(1969920, 10)

In [9]:
kenya_raw_df['cause'].unique()

array(['Interpersonal violence', 'Diabetes mellitus'], dtype=object)

In [10]:
kenya_raw_df['location'].nunique()

48

In [11]:
kenya_raw_df['location'].unique()

array(['Makueni', 'TaitaTaveta', 'Mandera', 'Meru', "Murang'a",
       'TanaRiver', 'Lamu', 'Turkana', 'TransNzoia', 'Migori', 'Machakos',
       'TharakaNithi', 'Vihiga', 'Mombasa', 'Nandi', 'Wajir', 'Nairobi',
       'UasinGishu', 'WestPokot', 'Nyandarua', 'Marsabit', 'Nakuru',
       'Nyamira', 'Samburu', 'Nyeri', 'Narok', 'Siaya', 'HomaBay',
       'Kenya', 'Kajiado', 'Isiolo', 'Kakamega', 'Kericho', 'Baringo',
       'Kilifi', 'Kiambu', 'Bomet', 'Kirinyaga', 'Bungoma', 'Busia',
       'Kisii', 'Kisumu', 'Kitui', 'Embu', 'Garissa', 'Kwale', 'Laikipia',
       'Elgeyo-Marakwet'], dtype=object)

In [12]:
kenya_raw_df.duplicated().sum()

0

In [13]:
kenya_raw_df['measure'].unique()

array(['Deaths', 'YLLs (Years of Life Lost)', 'Incidence',
       'DALYs (Disability-Adjusted Life Years)', 'Prevalence',
       'YLDs (Years Lived with Disability)'], dtype=object)

In [14]:
just_kenya_df = kenya_raw_df[kenya_raw_df['location'].str.contains('Kenya')]
kenya_all_df = kenya_raw_df[~kenya_raw_df['location'].str.contains('Kenya')]
just_kenya_df.head()

,measure,location,sex,age,cause,metric,year,val,upper,lower
245,YLLs (Years of Life Lost),Kenya,Male,1 to 4,Diabetes mellitus,Number,1990,407.451711,607.247945,258.076478
246,YLLs (Years of Life Lost),Kenya,Female,1 to 4,Diabetes mellitus,Number,1990,292.453025,454.901946,174.526268
247,YLLs (Years of Life Lost),Kenya,Male,1 to 4,Diabetes mellitus,Percent,1990,0.000310,0.000433,0.000199
248,YLLs (Years of Life Lost),Kenya,Female,1 to 4,Diabetes mellitus,Percent,1990,0.000235,0.000366,0.000141
249,YLLs (Years of Life Lost),Kenya,Male,1 to 4,Diabetes mellitus,Rate,1990,23.823279,35.505157,15.089464

In [15]:
just_kenya_df['location'].nunique()

1

In [16]:
kenya_all_df.shape

(1928880, 10)

In [17]:
kenya_df = kenya_all_df.drop(['upper', 'lower'], axis=1)
kenya_df.shape

(1928880, 8)

# Saving the Datasets

In [18]:
just_kenya_df.to_csv(PROCESSED_JUST_KENYA_DATASET, index=False)
kenya_df.to_csv(PROCESSED_KENYA_DATASET, index=False)