In [1]:
"""
Basic processing for uk data sets
Loads;  

america.csv
brazil.csv

Produces;
df.csv
"""

'\nBasic processing for uk data sets\nLoads;  \n\namerica.csv\nbrazil.csv\n\nProduces;\ndf.csv\n'

# Setup

## Imports

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Parameters

Configuration

### Loading the datasets

In [3]:
df = pd.read_csv("../../data/processed/df.csv")

In [4]:
df = df[df['country'].str.fullmatch('Indonesia')]

In [5]:
df.head()

,country,measure,location,sex,age_sort,age,cause,year,val
340480,Indonesia,Deaths,Central Sulawesi,Male,0,1 to 4,Interpersonal violence,2010,0.223045
340481,Indonesia,Deaths,Central Sulawesi,Female,0,1 to 4,Interpersonal violence,2010,0.561745
340482,Indonesia,Deaths,Central Sulawesi,Male,1,5 to 9,Interpersonal violence,2010,0.097282
340483,Indonesia,Deaths,Central Sulawesi,Female,1,5 to 9,Interpersonal violence,2010,0.443626
340484,Indonesia,Deaths,Central Sulawesi,Male,2,10 to 14,Interpersonal violence,2010,0.100504

In [6]:
df.shape

(51680, 9)

In [7]:
#look for demographs with the highest rates of violence - is the harm from violence greater than overall diabetes avg? 2)the harm from diabetes of that region and 2) higher than the harm nationwide?
#Which of these demographs have a high consistency (across time and country)?

#How many groups are there proportionally that should be more concerned of violent crime than diabetes?

### Calculate overall diabetes average

In [8]:
overall_diabetes_death_avg = df[df['measure'].str.contains('Deaths') &
                 df['cause'].str.contains('Diabetes')]
overall_diabetes_death_avg = overall_diabetes_death_avg['val'].mean()
overall_diabetes_death_avg

188.8820799753556

### Create table of demographs with homicide rate higher than diabetes average

In [9]:
#get rows with higher homicide rate than overall_diabetes_avg
high_violence_death_rate_demos = df[df['measure'].str.contains('Deaths') &
                  df['cause'].str.contains('Interpersonal violence')]

high_violence_death_rate_demos = high_violence_death_rate_demos[high_violence_death_rate_demos['val'] > overall_diabetes_death_avg]
high_violence_death_rate_demos = high_violence_death_rate_demos.sort_values(by=['val'], ascending=False)
high_violence_death_rate_demos.shape

(0, 9)

No sub demographs!

## YLL rate Exploration

### Calculate overall diabetes average for YLLs

In [14]:
overall_diabetes_yll_avg = df[df['measure'].str.contains('YLL') &
                 df['cause'].str.contains('Diabetes')]
overall_diabetes_yll_avg = overall_diabetes_yll_avg['val'].mean()
overall_diabetes_yll_avg

2953.237946088368

### Create table of demographs with higher homicide rate

In [15]:
#get rows with higher homicide rate than overall_diabetes_avg
high_violence_yll_demos = df[df['measure'].str.contains('YLL') &
                  df['cause'].str.contains('Interpersonal violence')]

high_violence_yll_demos = high_violence_yll_demos[high_violence_yll_demos['val'] > overall_diabetes_yll_avg]
high_violence_yll_demos = high_violence_yll_demos.sort_values(by=['val'], ascending=False)
high_violence_yll_demos.shape

(0, 9)

No sub demographs!